.font {
  padding-top: 2.5rem;
}

.font__name {
  border-bottom: 1px solid $color-gray-med-light;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.font__heading-link:last-child {
  margin-bottom: 2rem;
}

.font__img {
  padding: 0 1rem;

  img {
    max-width: 310px;
    margin: 0 auto 2.5rem auto;
  }
}

.font__ctas {
  border-bottom: 1px solid $color-gray-med-light;
  padding: 0.75rem;
}

@media (min-width: $break-mobile) {
  .font__img {
    img {
      max-width: 425px;
    }
  }
}

@media (min-width: $break-tablet) {
  .font__heading-link {
    margin: 0 0.75rem 2rem 0;
    display: inline-block;
  }

  .font__heading-link + .font__heading-link {
    margin: 0 0 2rem 0.75rem;
  }

  .font__img img {
    margin-bottom: 3.5rem;
  }

  .font__ctas {
    background: $color-white;
    padding: 0.75rem 1.125rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;

    .button {
      width: calc(50% - 0.75rem);
      margin: auto;
    }
  }
}

@media (min-width: $break-desktop) {
  .font__img img {
    max-width: 500px;
    margin: 0.5rem auto 5rem auto;
  }

  .font__ctas {
    padding: 0.75rem 2.625rem;
  }
}