.font__preview-select {
  width: 100%;
  margin-top: 0.5rem;
}

.font__preview-text {
  padding: 1.25rem 0;
  line-height: 1.25;
  word-break: break-word;

  .css-loading & {
    color: transparent;
  }

  & + .font__preview-text {
    border-top: 1px dashed $color-gray-med-light;
  }
}

@media (min-width: $break-tablet) {
  .font__preview-input {
    width: 66.666%;
  }

  .font__preview-select {
    width: 33.333%;
    margin: 0;
    padding-left: 0.5rem;
  }
}