.font-grid {
  @include flex();
  @include flex-wrap(wrap);

  h3 {
    margin-bottom: 0;
  }
}

.font-grid__item {
  width: 100%;
  margin-top: 1.5rem;
  margin-top: 8.5rem !important;
  margin-bottom: 0.5rem;
  padding: 1.5rem 0.5rem;
  border: none;
  position: relative;
  color: $color-black;
  text-align: center;
}

.font-grid__item:active,
.font-grid__item:visited {
  color: $color-black;
}

.font-grid__item:hover {
  color: $color-black;
}

.font-grid__image--vector {
  margin: 0 7.5% 15% 7.5%;
  position: relative;
  z-index: 1;
}

.font-grid__image {
  position: relative;
  margin-top: -6.5rem;
  @include transition(transform 0.3s);

  figure {
    margin-right: 7.5%;
    margin-left: 7.5%;
    position: relative;
    z-index: 1;
  }
}

.font-grid__bg {
  position: absolute;
  top: 0;
  left: 0;
}

.font-grid__bg {
  color: transparent;
  @include transition(color 0.1s linear);
}

.font-grid__item:hover .font-grid__bg {
  color: $color-green-light;
}

.font-grid__item:hover .font-grid__bg:last-child {
  color: $color-pink;
  transition-delay: 0.075s;
}

@media (min-width: 500px) {
  .font-grid__item {
    width: calc(50% - (2rem * 0.5));
    margin-right: 2rem;
  }

  .font-grid__item:nth-child(2n + 2) {
    margin-right: 0;
    @include transform(translate3d(0, 2rem, 0));
  }
}

@media (min-width: 1000px) {
  .font-grid {
    padding-bottom: 3rem;
  }

  .font-grid__item {
    width: calc(33.2% - (3rem * 0.666));
    margin-right: 3rem;
  }

  .font-grid__item:nth-child(2n + 2) {
    margin-right: 3rem;
    @include transform(translate3d(0, 0, 0));
  }

  .font-grid__item:nth-child(3n + 2) {
    @include transform(translate3d(0, 3rem, 0));
  }

  .font-grid__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.font-grid__filter {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.font-grid__filter-input {
  background: #fff;
  padding-left: 3.15rem;
}

.font-grid__reset {
  background: $color-gray-medium;
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  color: $color-white;
  text-align: center;
  @include transform(translate3d(0, -50%, 0));
}

.font-grid__reset--active {
  background: $color-purple;
  cursor: pointer;
}