{% extends '../body.html' %}

{% block title %}{% parent %} - Admin{% endblock %}

{% block content %}
    <main class="container has-padding is-full-height">
        <div class="form-container">
            <h2 class="text-block text-heading">Edit {{font.name}}</h2>

            <form class="form-container" method="post" action="/services/fonts/{{font.id}}?_method=PUT" enctype="multipart/form-data">
                {% include "./includes/form.html" %}
            </form>
        </div>
    </main>
{% endblock %}