{% extends '../body.html' %}

{% block title %}{% parent %} - Admin{% endblock %}

{% block content %}

    <main class="container has-padding is-full-height">
        <div class="form-container">
            <h2 class="text-block text-heading">Fonts</h2>

            <ul class="list-unstyled">
                {% for font in fonts %}
                    <li class="font-list-item">
                        <a href="/admin/fonts/{{font.id}}">{{font.name}}</a>
                        <form method="post" action="/services/fonts/{{font.id}}?_method=DELETE"><button class="font-list-delete" type="submit">Delete</button></form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>

{% endblock %}
