<div class="modal-container js-contact-modal-container">
    <div class="vertical-align-abs">
        <div class="modal vertical-align-content">

            <div class="contact-form-container">
                <h1 class="contact-form-header">Email me at: <a href="mailto:{{email_address}}" title="{{email_address}}">{{email_address}}</a></h1>
                <div class="text-rule">or</div>
                <form class="contact-form js-contact-form">
                    <div class="input-label-inset">
                        <input type="email" id="senderEmail" name="senderEmail" placeholder="Your Email" class="input js-contact-form-input" />
                        <label for="senderEmail">Email <span class="label-required">(valid email required)</label>
                    </div>
                    <div class="input-label-inset">
                        <input type="text" id="subject" name="subject" placeholder="Technical issues, licensing, etc." class="input js-contact-form-input" />
                        <label for="subject">Subject <span class="label-required">(required)</label>
                    </div>
                    <div class="input-label-inset textarea-label-inset">
                        <textarea id="message" name="message" rows="5" class="textarea js-contact-form-input"></textarea>
                        <label for="Message">Message <span class="label-required">(required)</label>
                    </div>
                    <div class="contact-form-buttons clearfix">
                        <div class="contact-form-button-container">
                            <button type="submit" class="button contact-form-button js-contact-send">
                                <span class="contact-form-button-text">Send</span>
                            </button>
                        </div>
                        <div class="contact-form-button-container">
                            <button type="reset" class="button button-outline js-contact-modal-close">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>