<header class="header">
    <nav class="nav">
        <div class="nav-header">
            <a href="/" title="Lauren Ashpole" class="has-no-underline nav-logo-container">
                <svg class="nav-logo">
                    <use xlink:href="/images/logo.svg#logo"></use>
                </svg>
            </a>
        </div>

        <input type="checkbox" id="navCheckbox" class="nav-checkbox">

        <label for="navCheckbox" class="mobile nav-icon-container" title="Nav">
            <span class="nav-icon">
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
            </span>
        </label>

        <div class="nav-links has-heading-font">
            <ul class="list-unstyled nav-links-list">
                <li>
                    <a
                        href="/fonts"
                        title="Fonts"
                        class="has-hover-border is-uppercase is-extra-bold nav-link js-ga-trigger"
                        data-ga-category="Nav Links"
                        data-ga-action="click"
                        data-ga-label="Fonts"
                    >
                        Fonts
                    </a>
                </li>
                <li>
                    <a
                        href="http://blog.laurenashpole.com"
                        title="Blog"
                        class="has-hover-border is-uppercase is-extra-bold nav-link js-ga-trigger"
                        data-ga-category="Nav Links"
                        data-ga-action="click"
                        data-ga-label="Blog"
                    >
                        Blog
                    </a>
                </li>
                <li>
                    <a
                        href="/contact"
                        title="Contact"
                        class="has-hover-border is-uppercase is-extra-bold nav-link js-ga-trigger"
                        data-ga-category="Nav Links"
                        data-ga-action="click"
                        data-ga-label="Contact"
                    >
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>