<header class="header bg-skewed is-top">
    <div class="nav-container">
        <nav class="bg-skewed-padding nav">

            <div class="nav-header">
                <a href="/" title="Lauren Ashpole" class="nav-logo-container">
                    <img src="/images/la.svg" class="nav-logo" alt="Lauren Ashpole">
                </a>

                <a href="javascript:void(0);" class="nav-icon-container js-nav-icon" title="Nav">
                    <span class="nav-icon">
                        <span class="nav-icon-line"></span>
                        <span class="nav-icon-line"></span>
                        <span class="nav-icon-line"></span>
                        <span class="nav-icon-line"></span>
                    </span>
                </a>
            </div>

            <div class="bg-skewed nav-links">
                <ul class="list-unstyled nav-links-list">
                    <li>
                        <a
                            href="/fonts"
                            title="Fonts"
                            class="nav-link js-ga-trigger"
                            data-ga-category="Nav Links"
                            data-ga-action="click"
                            data-ga-label="Fonts"
                        >
                            Fonts
                        </a>
                    </li>
                    <li>
                        <a
                            href="http://blog.laurenashpole.com"
                            title="Blog"
                            class="nav-link js-ga-trigger"
                            data-ga-category="Nav Links"
                            data-ga-action="click"
                            data-ga-label="Blog"
                        >
                            Blog
                        </a>
                    </li>
                    <li>
                        <a
                            href="/contact"
                            title="Contact"
                            class="nav-link js-ga-trigger"
                            data-ga-category="Nav Links"
                            data-ga-action="click"
                            data-ga-label="Contact"
                        >
                            Contact
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>