.font-grid {
    @include flex();
    @include flex-wrap(wrap);
}

.font-grid__filter {
    background: $color-white;
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 2.5rem;
    position: relative;
}

.font-grid__filter-input::-webkit-input-placeholder {
    color: $color-black;
}

.font-grid__filter-input::-moz-placeholder {
    color: $color-black;
}

.font-grid__filter-input:-ms-input-placeholder {
    color: $color-black;
}

.font-grid__filter-input:-moz-placeholder {
    color: $color-black;
}

.font-grid__filter-reset {
    background: $color-gray-medium;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    color: $color-white;
    text-align: center;
    @include transform(translate3d(0, -50%, 0));
}

.font-grid__filter-reset.is-active {
    background: $color-purple;
    cursor: pointer;
}

.font-grid__item {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    border: 2px solid $color-white;
    padding: 0.5rem;
}

.font-grid__bg {
    overflow: hidden;
}

.font-grid__link {
    padding: 30% 15%;
    display: block;
    position: relative;
}

.font-grid__link:before {
    @include transform(rotate(0deg));
    @include transition(transform 0.3s);
}

.no-touch .font-grid__link:hover:before {
    @include transform(translate3d(0, -20%, 0) rotate(15deg));
}

.font-grid__img {
    opacity: 1;
    @include transition(opacity 0.3s);
}

.no-touch .font-grid__link:hover .font-grid__img {
    opacity: 0;
}

.font-grid__title {
    padding: 1rem;
    color: $color-white;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transition(opacity 0.3s);
    @include transform(translate3d(-50%, -50%, 0));
}

.no-touch .font-grid__link:hover .font-grid__title {
    opacity: 1;
}

.font-grid__cta {
    background: $color-red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: $color-white;
    opacity: 0;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    @include transition(opacity 0.3s);
    @include flex();
    @include flex-align(center);
    @include flex-justify(center);
}

.no-touch .font-grid__link:hover .font-grid__cta {
    opacity: 1;
}

@media (min-width: 500px) {

    .font-grid__item {
        width: calc(50% - (1rem * 0.5));
        margin-right: 1rem;
    }

    .font-grid.not-filtered .font-grid__item:nth-of-type(2n + 2),
    .font-grid__item.is-2n-2 {
        margin-right: 0;
        @include transform(translate3d(0, 2rem, 0));
    }
}

@media (min-width: 1000px) {

    .font-grid__item {
        width: calc(33.2% - (1.5rem * 0.666));
        margin-right: 1.5rem;
    }

    .font-grid.not-filtered .font-grid__item:nth-of-type(2n + 2),
    .font-grid__item.is-2n-2 {
        margin-right: 1.5rem;
        @include transform(translate3d(0, 0, 0));
    }

    .font-grid.not-filtered .font-grid__item:nth-of-type(3n + 2),
    .font-grid__item.is-3n-2 {
        @include transform(translate3d(0, 3rem, 0));
    }

    .font-grid.not-filtered .font-grid__item:nth-of-type(3n + 3),
    .font-grid__item.is-3n-3 {
        margin-right: 0;
    }
}