.font-files {
    border-top: 2px solid $color-gray-light;
    position: relative;
    @include flex();
}

.font-files.has-two-options:before {
    content: " ";
    background: $color-gray-light;
    width: 2px;
    height: 100%;
    margin: -1px;
    position: absolute;
    top: 0;
    left: 50%;
}

.font-files__type {
    padding: 0.75rem 1rem;
    @include flex-child(1, 1, 50%);
    @include flex();
    @include flex-align(center);
    @include flex-justify(center);
}

.font-files__icon {
    margin-right: 0.75rem;
}

.font-files__icon.fa-desktop {
    margin-top: 2px;
    font-size: 0.95em;
}