.font-glyphs {
  display: flex;
  @include flex-wrap(wrap);
}

.font-glyphs__char {
  width: 20%;
  padding-top: 20px;
  border: 1px solid $color-white;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  position: relative;
  @include transition(opacity 0.15s ease-in-out);
}

.css-loading .font-glyphs__char {
  color: transparent;
}

.font-glyphs__key {
  background: $color-gray-light;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  font-family: $font-family-default;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: 768px) {

  .font-glyphs__char {
    width: 12.5%;
  }
}