@value breakTablet from '../../../shared/styles/_breakpoints.css';

.tabs {
  padding: 0 0 calc(var(--spacing-base) * 0.5) 0;
  display: flex;
}

.tab + .tab {
  padding-left: calc(var(--spacing-base) * 0.5);
}

.grid {
  border-top: 1px solid var(--color-gray-light);
  border-left: 1px solid var(--color-gray-light);  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.char {
  width: 20%;
  border-bottom: 1px solid var(--color-gray-light);
  border-right: 1px solid var(--color-gray-light);
  padding-top: 2.5rem;
  font-size: 3rem;
  line-height: 8.5rem;
  overflow: hidden;
  position: relative;
}

.key {
  background: var(--color-gray-lightest);
  border-bottom: 1px solid var(--color-gray-light);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  font-family: var(--font-family-default);
  line-height: 2.5rem;
}

@media breakTablet {
  .tabs {
    padding-top: 1rem;
  }

  .char {
    width: 12.5%;
  }
}
