@value breakTablet from '../../../shared/styles/_breakpoints.css';

.form {
  display: flex;
  flex-wrap: wrap;
}

.input {
  margin-right: 1.5rem;
  flex-grow: 1;
}

.select {
  width: 12rem;
}

.preview {
  padding-top: calc(var(--spacing-base) * 0.333);
  word-break: break-word;
}

.preview + .preview {
  margin-top: calc(var(--spacing-base) * 0.333);
  border-top: 1px solid var(--color-gray-light);
}

@media breakTablet {
  .input input[name='text'] {
    height: 7rem;
  }

  .select {
    width: 20rem;
  }

  .select select[name='size'] {
    height: 7rem;
  }
}
