:root {
  --border-radius: 0.375rem;

  --color-black: #363636;
  --color-white: #fff;
  --color-error: #d63037;
  --color-gray-darkest: #a7a7a7;
  --color-gray-dark: #cdcdcd;
  --color-gray-light: #e2e2e2;
  --color-gray-lightest: #f9f9f9;
  --color-primary: #d63037;
  --color-primary-dark: #c02b31;
  --color-secondary: #594d6a;
  --color-secondary-dark: #4f455f;
  --color-accent-pink: #fbecec;
  --color-accent-orange: #e47553;
  --color-accent-blue: #d8ecee;
  --color-accent-green: #d8e8dd;

  --font-family-default: 'museo-sans-rounded', sans-serif;
  --font-family-headings: 'museo-sans-rounded', sans-serif;
  --font-size-root: 8px;

  --width-max: 142rem;
}