@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(0.975); }
  100% { transform: scale(1); }
}

@keyframes wave {
  0%, 80%, 100% {
    height: 1.75rem;
  }
  40% {
    height: 3.25rem;
  }
}
