@value breakTablet from './_breakpoints.css';

.button {
  background: none;
  border: none;
  padding: 0;
  appearance: none;
}

.button[disabled] {
  pointer-events: none;
}

.button * {
  pointer-events: none;
}

.button:not(:focus-visible) {
  outline: none;
}

.default {
  background: none;
  width: 100%;
  padding: 0 1.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1.25em;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition:
    background 0.25s linear,
    color 0.25s linear,
    border-color 0.25s linear;
}

.default:focus:not(:focus-visible) {
  animation: scale 0.2s;
}

.primary {
  background: var(--color-primary);
  height: 7rem;
}

.primary:hover,
.primary:focus {
  background: var(--color-primary-dark);
}

.outline {
  border-color: var(--color-primary);
  height: 7rem;
  color: var(--color-primary);
}

.outline:hover,
.outline:focus {
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);
  text-decoration: none;
}

.secondary {
  background: var(--color-secondary);
  height: 5.5rem;
}

.secondary:hover,
.secondary:focus {
  background: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.link {
  padding: 0;
  border: none;
  color: var(--color-secondary);
  text-transform: none;
  letter-spacing: 0;
  line-height: inherit;
  display: inline;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  animation: none;
}

@media breakTablet {
  .primary {
    height: 8rem;
  }

  .outline {
    height: 8rem;
  }

  .secondary {
    height: 6rem;
  }
}

@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(0.975); }
  100% { transform: scale(1); }
}
