@value breakTablet from './_breakpoints.css';

.container {
  position: relative;
}

.container:not(:last-child) {
  margin-bottom: calc(var(--spacing-base) * 0.25);
}

.error span {
  color: var(--color-error);
}

.error .input {
  border-color: var(--color-error);
}

.label {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.175em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: calc(1.25rem + 1px);
  right: calc(1.25rem + 1px);
  left: calc(1.25rem + 1px);
}

.labelHidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input {
  background: var(--color-gray-lightest);
  width: 100%;
  height: 7rem;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  padding: 2.75rem 1.25rem 0.5rem 1.25rem;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
}

.input:focus {
  border-color: var(--color-gray-dark);
}

.labelHidden + .input {
  height: 5.5rem;
  padding: 1rem 1.5rem;
}

@media breakTablet {
  .input {
    height: 7.5rem;
  }

  .labelHidden + .input {
    height: 6rem;
  }
}
