@value breakTablet, breakDesktop from './_breakpoints.css';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  background: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius);
  margin: 0 0.35em 1em 0.35em;
  padding: 0.5em 0.75em;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
}

.tag:hover {
  background: var(--color-secondary-dark);
  color: var(--color-white);
  text-decoration: none;
}

.tag:focus {
  animation: scale 0.2s;
  text-decoration: none;
}

@media breakTablet {
  .tag {
    font-size: 1.75rem;
  }
}

@media breakDesktop {
  .tag {
    margin: 0 0.5em 1.5em 0.5em;
    padding: 0.5em 1em;
  }
}

@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(0.975); }
  100% { transform: scale(1); }
}
