input,
textarea,
button {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    line-height: inherit;
    -webkit-appearance: none;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input-container {
    margin-bottom: 1.25rem;
    padding-right: 4px;
    position: relative;
}

.input {
    background: $color-white;
    padding: 0 0.5rem;
    box-shadow: 4px 4px 0 0 #dcdcdc;
    line-height: 2rem;
}

.input::-webkit-input-placeholder {
    color: #ababab;
}

.input::-moz-placeholder {
    color: #ababab;
}

.input:-ms-input-placeholder {
    color: #ababab;
}

.input:-moz-placeholder {
    color: #ababab;
}

.input:focus {
    box-shadow: 4px 4px 0 0 #c4c4c4;
}

.input-label-inset .input {
    padding: 1rem 0.5rem 0 0.5rem;
}

.input-label-inset label {
    font-size: 0.5rem;
    line-height: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.textarea {
    padding: 0.5rem;
    box-shadow: 4px 4px 0 0 #dcdcdc;
    display: block;
    resize: none;
}

.textarea:focus {
    box-shadow: 4px 4px 0 0 #c4c4c4;
}

.label-required {
    display: none;
}

.input.is-required + label .label-required,
.textarea.is-required + label .label-required {
    color: #dd4433;
    font-weight: normal;
    display: inline;
}