.root {
  @include flex-child(2);
  @include flex();
  @include flex-direction(column);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0.8rem 3rem 0.8rem;
  position: relative;
}

@media (min-width: $break-tablet) {
  .root {
    overflow: initial;
  }

  .container {
    padding: 4rem 1.5rem 4rem 1.5rem;
  }

  .container--medium {
    max-width: $width-medium;
  }

  .container--large {
    max-width: $width-wide;
  }

  .container--x-large {
    max-width: $break-desktop-wide;
  }
}

@media (min-width: $break-desktop-wide) {
  .container--x-large {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}