.footer {
  background: $color-white;
  margin-top: 1rem;
}

.footer__social {
  @include flex();
}

.footer__form-section {
  border-top: 2px solid $color-gray-light;
  @include flex-child(2);
}

@media (min-width: $break-tablet) {
  .footer__content {
    max-width: $break-desktop-wide;
    margin: 0 auto;
    padding: 0 0.5rem;
    @include flex();
  }

  .footer__social {
    border-right: 2px solid $color-gray-light;
  }

  .footer__form-section {
    border-top: none;
  }
}

@media (min-width: $break-desktop) {
  .footer__content {
    padding: 0 1rem;
  }
}

@media (min-width: $break-desktop-wide) {
  .footer__content {
    padding: 0 2.5rem;
  }
}