.footer {
  background: $color-white;
  margin-top: 1rem;
}

.footer__content {
  padding: 0.65rem 0.3rem 0.15rem 0.3rem;
}

ul.footer__social {
  padding-bottom: 0.15rem;
  @include flex();
}

@media (min-width: $break-tablet) {
  .footer__content {
    max-width: $break-desktop-wide;
    margin: 0 auto;
    padding: 0 1rem 0 1.5rem;
    @include flex();
  }

  ul.footer__social {
    border-right: 1px solid $color-gray-med-light;
    padding: 0;
  }

  .footer__form-section {
    @include flex-child(2);
  }
}

@media (min-width: $break-desktop-wide) {
  .footer__content {
    padding: 0 2.5rem 0 3rem;
  }
}