body {
  padding: 0;
}

.root {
  @include flex-child(2);
  @include flex();
  @include flex-direction(column);
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0.65rem 3rem 0.65rem;
  @include flex-child(2);
  @include flex();
  @include flex-direction(column);
}

.main--v-center {
  @include flex-justify(center);
}

.main--narrow {
  max-width: 540px;
}

.main--medium {
  max-width: 860px;
}

.header + .main {
  margin-top: 63px;
}

@media (min-width: 768px) {

  .main {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .header + .main {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {

  .main {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}