{% extends '../layout.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/stylesheets/admin.css">
{% endblock %}

{% block body %}

    {% if !signed_out %}
        <nav class="nav clearfix {% if font_page %}has-buttons{% endif %}">
            <div class="nav-item nav-logo-container">
                <img src="/images/la.svg" class="nav-logo" alt="Lauren Ashpole">
            </div>
            <div class="nav-item nav-icon-container">
                <a href="javascript:void(0);" class="nav-icon js-nav-icon" title="Nav">
                    <span class="nav-icon-line"></span>
                    <span class="nav-icon-line"></span>
                    <span class="nav-icon-line"></span>
                    <span class="nav-icon-line"></span>
                </a>
            </div>
            <ul class="nav-links clearfix">
                <li class="nav-item nav-link-container">
                    <a href="/admin/fonts" title="View Fonts" class="nav-link {% if page.all %}is-active{% endif %}">View Fonts</a>
                </li>
                <li class="nav-item nav-link-container">
                    <a href="/admin/fonts/create" title="Create Font" class="nav-link {% if page.create %}is-active{% endif %}">Create Font</a>
                </li>
                <li class="nav-item nav-link-container">
                    <a href="/" title="View Live" class="nav-link">View Live</a>
                </li>
                <li class="nav-item nav-link-container">
                    <a href="/admin/logout" title="Logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </nav>
    {% endif %}

    {% block content %}{% endblock %}

{% endblock %}