{% extends '../layout.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/stylesheets/admin.css">
{% endblock %}

{% block body %}

    {% if !signed_out %}
        <nav class="nav clearfix {% if font_page %}has-buttons{% endif %}">
            <div class="nav-item nav-logo">LA</div>
            <ul class="nav-list clearfix">
                <li class="nav-item nav-list-item">
                    <a href="/admin/fonts" class="nav-link">View Fonts</a>
                </li>
                <li class="nav-item nav-list-item">
                    <a href="/admin/fonts/create" class="nav-link">Create Font</a>
                </li>
                <li class="nav-item nav-list-item">
                    <a href="/" class="nav-link">View Live</a>
                </li>
                <li class="nav-item nav-list-item">
                    <a href="/admin/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </nav>
    {% endif %}

    {% block content %}{% endblock %}

{% endblock %}