{% extends '../layout.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/stylesheets/admin.min.css">
{% endblock %}

{% block body %}

    {% if !signed_out %}
        {% include './includes/nav.html' %}
    {% endif %}

    {% block content %}{% endblock %}

    <footer class="bg-skewed is-bottom footer-container">
        <div class="container">
            <div class="triangle is-pink footer-triangle"></div>
            <div class="footer"></div>
        </div>
    </footer>

{% endblock %}