{% extends 'body.html' %}

{% block title %}{% parent %} - Admin{% endblock %}

{% block content %}

    {% if signed_out %}

        <section class="form-container">

            {% if message.length %}
                <div class="growl">{{message}}</div>
            {% endif %}

            <h1>Login</h1>

            <form method="post" action="/admin/login">

                <div class="input-label-inset">
                    <label for="name">Username</label>
                    <input type="text" id="username" name="username" />
                </div>

                <div class="input-label-inset">
                    <label for="slug">Password</label>
                    <input type="password" id="password" name="password" />
                </div>

                <button type="submit" class="button button-primary">Submit</button>

            </form>

            <h1>Sign Up</h1>

            <form method="post" action="/admin/signup">

                <div class="input-label-inset">
                    <label for="name">Username</label>
                    <input type="text" id="username" name="username" />
                </div>

                <div class="input-label-inset">
                    <label for="slug">Password</label>
                    <input type="password" id="password" name="password" />
                </div>

                <button type="submit" class="button button-primary">Submit</button>

            </form>

        </section>

    {% else %}

        <section class="container">

            <ul>
                <li><a href="/admin/fonts/create">Create a new font</a></li>
                <li><a href="/admin/fonts">See Fonts</a></li>
            </ul>

        </section>

    {% endif %}

{% endblock %}