{% extends 'body.html' %}

{% block content %}

    {% if signed_out %}

        <main class="container has-padding is-full-height bg-dots is-hero is-static">

            <svg class="bg-abstract-hero is-static">
                <use xlink:href="/images/bg-abstract.svg#bgAbstract"></use>
            </svg>

            <svg class="bg-abstract-hero is-static is-secondary">
                <use xlink:href="/images/bg-abstract.svg#bgAbstract2"></use>
            </svg>

            <div class="login">

                {% if message.length %}
                    <div class="growl">{{message}}</div>
                {% endif %}

                <form class="form-container" method="post" action="/admin/login">
                    <div class="input-container input-label-inset">
                        <label for="name" class="text-block">Username</label>
                        <input type="text" id="username" name="username" class="input" />
                    </div>

                    <div class="input-container input-label-inset">
                        <label for="slug" class="text-block">Password</label>
                        <input type="password" id="password" name="password" class="input" />
                    </div>

                    <div class="button-container">
                        <button type="submit" class="button is-primary is-uppercase is-extra-bold">Log In</button>
                    </div>
                </form>

                <div class="hr-text">or</div>

                <form class="form-container" method="post" action="/admin/signup">
                    <div class="input-container input-label-inset">
                        <label for="name" class="text-block">Username</label>
                        <input type="text" id="username" name="username" class="input" />
                    </div>

                    <div class="input-container input-label-inset">
                        <label for="slug" class="text-block">Password</label>
                        <input type="password" id="password" name="password" class="input" />
                    </div>

                    <div class="button-container">
                        <button type="submit" class="button is-primary is-uppercase is-extra-bold">Sign Up</button>
                    </div>
                </form>

            </div>
        </main>

    {% else %}

        <main class="container has-padding is-full-height">
            <div class="container-static">
                <ul class="list-unstyled">
                    <li><a href="/admin/fonts/create">Create a new font</a></li>
                    <li><a href="/admin/fonts">View all fonts</a></li>
                </ul>
            </div>
        </main>

    {% endif %}

{% endblock %}