h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  margin: 0 0 1.5rem 0;
  line-height: 1.5em;
  font-family: $font-family-headings;
  font-weight: 900;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 2.828rem;
  line-height: 3rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2.167rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.414rem;
  line-height: 2rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.471333rem;
}

h6 {
  font-size: 0.3535rem;
}

p {
  margin: 0 0 1.5rem 0;
  line-height: 1.5em;
}

blockquote {
  margin: 1.5rem 0;
  line-height: 1.5em;
}

code {
  vertical-align: bottom;
}

.text--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3.text--uppercase {
  letter-spacing: 0.075em;
}

.text--extra-bold {
  font-weight: 700;
}

.text--medium {
  font-size: 0.9rem;
}

.text--small {
  font-size: 0.75rem;
}

.text--extra-small {
  font-size: 0.6rem;
}

@media (min-width: $break-tablet) {
  h1 {
    margin-bottom: 3rem;
  }
}