.u--hidden {
  display: none;
}

.u--center {
	text-align: center;
}

.u--center-mobile {
  text-align: center;
}

.u--no-margin {
  margin: 0;
}

@media (min-width: 768px) {
  .u--mobile {
    display: none;
  }

  .u--center-mobile {
    text-align: left;
  }
}