figure {
  margin: 0;
}

a img {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img--bg {
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  position: relative;
  z-index: 1;
}

.img--hero {
  max-width: 500px;
  margin: 0 auto;
}

.img--default {
  display: block;
}

.img--retina {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .img--default {
    display: none;
  }

  .img--retina {
    display: block;
  }
}