/* Fonts */
$font-family-default: 'museo-sans-rounded', sans-serif;
$font-family-headings: 'museo-sans-rounded', sans-serif;

/* Breakpoints */
$break-tablet: 768px;
$break-desktop: 1024px;
$break-desktop-wide: 1400px;
$break-height: 760px;

/* Widths */
$width-medium: 960px;
$width-wide: 1200px;

/* General Colors */
$color-white: #fff;
$color-white-encoded: '%23ffffff';
$color-black: #202020;

$color-gray-dark: #a7a7a7;
$color-gray-med-dark: #cdcdcd;
$color-gray-med-light: #eaeaea;
$color-gray-light: #f4f4f4;

$color-red: #da3725;
$color-red-hover: #ca3321;

$color-purple: #726882;
$color-purple-hover: #675e75;

$color-green: #d5e7db;
$color-green-encoded: '%23d5e7db';
$color-pink: #fae3e1;
$color-pink-encoded: '%23fae3e1';
$color-blue: #d6ecf0;
$color-blue-encoded: '%23d6ecf0';
