.dist {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}

.dist__list {
  @include flex();
  @include flex-wrap(wrap);
}

.dist__item {
  width: 50%;
  padding: 2.5rem 1.5rem;
  @include flex();
  @include flex-align(center);
}

.dist__link {
  width: 100%;
  max-width: 150px;
  border: none;
  margin: 0 auto;
  display: block;
}

@media (min-width: $break-tablet) {
  .dist {
    padding-top: 6rem;
    padding-bottom: 3.5rem;
  }

  .dist__item {
    width: 25%;
    position: relative;
  }
}