.hero {
  padding-bottom: 4rem;
}

.hero__img {
  padding: 0 1rem;

  img {
    max-width: 310px;
    margin: 0 auto 2.5rem auto;
  }
}

@media (min-width: $break-mobile) {
  .hero__img {
    img {
      max-width: 425px;
    }
  }
}

@media (min-width: $break-tablet) {
  .hero__img {
    padding-bottom: 1rem;
  }
}

@media (min-width: $break-desktop) {
  .hero {
    padding-bottom: calc(95px + 2rem);
    @include flex();
    @include flex-align(center);
  }

  .hero__img {
    width: 66.666%;

    img {
      max-width: 500px;
      margin-bottom: 0;
    }
  }

  .hero__cta {
    width: 33.333%;
  }
}