.hero--bg-repeat {
  position: relative;

  &:after {
    content: " ";
    background-color: $color-green-light;
    background-image:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 552 419'%3E%3Cpath fill='#{$color-pink}' d='M183.6 414.2c-32.8-5.4-20.7-42.9-36.6-62-19.5-23.3-63.6-23.1-91.4-27.4-54.9-8.4-80.7-22.7-20.2-47.8 72-29.9 138.8-54.5 199.4-106.3 33.7-28.7 61.3-62.4 89.3-96.6 16.8-20.6 43-63.5 70.6-71 83.2-22.5 45.2 107.2 81.3 136 17.5 14 51 2.1 67 18.9 18.3 19.3 3 61.1-5.3 83.3C487.5 375.9 316 435.9 183.6 414.2z'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 469.8 381.5'%3E%3Cpath fill='#{$color-blue-light}' d='M452.9 294.8c-26 17.8-62.1-2.7-86.6 10.7-27.9 15.2-23.3 76-39.3 76-80.8 0-75.1-77.1-141.3-115.5-59-34.3-102.8-39-131.7-57.9-25.4-16.6-51.8-33.3-54-82.2-.6-12.3 7.7-31.1 26.1-31.1 17.8 0 36.7 11 52.3 11 10 0 13.3-7.1 12.2-21-1.2-15-16.8-42.2-17.9-60C71.7 8.3 85-4.5 123.3 1.5c38.5 6 87.2 54.5 115.1 53.3 27.7-1.1 12.2-37.8 43.3-37.8 32.2 0 127 103.4 168.9 190 19.4 40 30 68.9 2.3 87.8z'/%3E%3C/svg%3E");
    background-size: 125% auto, 130% auto;
    background-position: 0 40%, 30% 50%;
    width: 100%;
    height: calc(100% + (75px + 1rem));
    position: absolute;
    top: calc((75px + 1rem) * -1);
    left: 0;
    z-index: -2;
  }

  &:before {
    content: " ";
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 150'%3E%3Cpath fill='#{$color-blue-light}' d='M6 3.8c-6.3 1.7-7.9 8.9-3.5 13.9 1.7 1.9 3.8 3.4 6.1 4.4 6.9 3.1 14 3.6 21.3 2.2 4.5-.8 8.2-3.1 11.5-6.1 2-1.9 3.5-4.2 3.5-7.1C45.1 6 40 0 34.9 0 20.5 0 13.5 1.8 6 3.8zM86 78.8c-6.3 1.7-7.9 8.9-3.5 13.9 1.7 1.9 3.8 3.4 6.1 4.4 6.9 3.1 14 3.6 21.3 2.2 4.5-.8 8.2-3.1 11.5-6.1 2-1.9 3.5-4.2 3.5-7.1.1-5-5-11.1-10.1-11.1-14.3 0-21.3 1.8-28.8 3.8z'/%3E%3C/svg%3E");
    background-size: 55px;
    width: 550px;
    height: 450px;
    position: absolute;
    top: 60%;
    right: 15%;
    z-index: -1;
    @include transform(rotate(30deg));
  }
}

.hero__container {
  padding-bottom: 4rem;
}

.hero__img {
  padding-bottom: 2.5rem;

  img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: $break-desktop) {
  .hero--bg-repeat:after {
    background-size: 100% auto, 95% auto;
    background-position: 0 40%, -75% 50%;
  }

  .hero__container {
    min-height: calc(100vh - (75px + 1rem + 3rem));
    padding-top: 0;
    padding-bottom: calc(75px + 2rem);
    @include flex();
    @include flex-align(center);
  }

  .hero__img {
    width: 66.666%;
    padding-bottom: 0;
  }

  .hero__cta {
    width: 33.333%;
  }
}