.dist {
  @include flex();
  @include flex-wrap(wrap);
}

.dist__item {
  width: 50%;
  padding: 1rem 5%;
  @include flex();
  @include flex-align(center);
}

.dist__link {
  width: 100%;
  max-width: 150px;
  border: none;
  margin: 0 auto;
  display: block;
}

@media (min-width: 768px) {

  .dist__item {
    width: 25%;
    position: relative;
  }
}