* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 28px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.vertical-align-td {
    display: table;
}

.vertical-align-content {
    display: table-cell;
    vertical-align: middle;
}

.nav {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    text-align: center;
}

.nav-item {
    border-bottom: 1px solid #e6e6e6;
    line-height: 59px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.nav-link {
    color: #333;
    text-decoration: none;
    display: block;

    transition: background 0.4s ease;
}

/* does this need modernizr touch to avoid double taps */
.nav-link:hover {
    background: #f6f6f6;
}

.nav-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-button {
    font-size: 18px;
    font-weight: 700;
}

.nav-button-download {
    background: #e4968d;
    color: #fff;
}

.nav-button-download:hover {
    background: #df8378;
}

.nav-button-buy {
    background: #d35244;
    color: #fff;
}

.nav-button-buy:hover {
    background: #ce4130;
}

@media (min-width: 450px) {

    .nav-item {
        border-left: 1px solid #e6e6e6;
        float: left;
    }

    .nav-logo {
        width: 25%;
        border-left: none;
        line-height: 119px;
    }

    .nav-list {
        width: 75%;
        float: left;
        display: block;
    }

    .nav-list-item {
        width: 50%;
    }

    .nav-buttons {
        width: 100%;
        float: left;
    }

    .nav-button {
        width: 50%;
        border-left: none;
        border-bottom: none;
        line-height: 60px;
        float: left;
    }
}

@media (min-width: 768px) {

    .nav-list-item {
        width: 25%;
        line-height: 119px;
    }

    .nav.has-buttons .nav-list-item {
        border-bottom: none;
        line-height: 60px;
    }

    .nav-buttons {
        width: 75%;
    }
}

.font-image-container {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.font-image {
    background: #4E4E76 url('http://www.laurenashpole.com/test-bg.png');
    background-size: 50% 50%;
    padding: 0 40px;
    height: 375px;
    text-align: center;
}

.font-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
}