* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.35;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

a {
    color: #d35244;
    text-decoration: none;
}

a:hover {
    color: #ce4130;
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.75;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

.input,
.select,
.button {
    width: 100%;
    border: none;
    padding: 0;
    font: 18px 'Source Sans Pro';
    color: #333;
    line-height: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
}

.input:focus,
.select:focus,
.button:focus {
    outline: none;
}

.input-container,
.select-container {
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    line-height: 58px;
    position: relative;
}

.input::-webkit-input-placeholder {
    color: #333;
}

.input::-moz-placeholder {
    color: #333;
}

.input:-ms-input-placeholder {
    color: #333;
}

.input:-moz-placeholder {
    color: #333;
}

.select {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select::-ms-expand {
    display: none;
}

.select-icon {
    position: absolute;
    right: 20px;
    pointer-events: none;
    color: #e6e6e6;
    font-size: 30px;
}

.button {
    cursor: pointer;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.img-default {
    display: block;
}

.img-retina {
    display: none;
}

@media (-webkit-min-device-pixel-ratio: 2) {

    .img-default {
        display: none;
    }

    .img-retina {
        display: block;
    }
}

.vertical-align-ib:before {
    content: " ";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.vertical-align-ib .vertical-align-content {
    display: inline-block;
}

.vertical-align-td {
    display: table;
}

.vertical-align-td .vertical-align-content {
    display: table-cell;
    vertical-align: middle;
}

.container-fixed {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    padding: 40px 0;
}

/* Page Layout */
.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

.page-border {
    background: #fff;
    height: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-border-top {
    height: 10px;
    bottom: auto;
}

.page-border-bottom {
    height: 10px;
    top: auto;
}

@media (min-width: 768px) {

    .page-container {
        padding: 0 30px;
    }

    .page-border {
        height: 30px;
    }
}

/* Nav */
.nav {
    width: 100%;
    background: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    position: fixed;
    z-index: 1;
}

.nav-logo-container {
    height: 30px;
    margin: 15px 10px;
    float: left;
}

.nav-logo {
    width: 65px;
    height: 30px;
}

.nav-icon-container {
    width: 60px;
    float: right;
}

.nav-icon {
    height: 30px;
    margin: 15px 12px;
    position: relative;
    display: block;
}

.nav-icon-line {
    background: #d35244;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;

    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.nav-icon-line:nth-child(2),
.nav-icon-line:nth-child(3) {
    top: 13px;
}

.nav-icon-line:nth-child(4) {
    top: 26px;
}

.nav.is-open .nav-icon-line:nth-child(1),
.nav.is-open .nav-icon-line:nth-child(4) {
    width: 0;
    top: 13px;
    left: 50%;
}

.nav.is-open .nav-icon-line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav.is-open .nav-icon-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-links {
    width: 100%;
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    list-style: none;
    float: right;

    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

.nav.is-open .nav-links {
    max-height: 185px;
}

.nav-link-container {
    border-top: 1px solid #eee;
    line-height: 60px;
}

.nav-link {
    color: #333;
    display: block;
}

.nav-link:hover {
    color: #333;
}

@media (min-width: 768px) {

    .nav {
        padding: 30px;
        position: relative;
    }

    .nav-logo-container {
        margin: 0;
    }

    .nav-icon-container {
        display: none;
    }

    .nav-links {
        width: auto;
        padding: 0;
        max-height: none;
    }

    .nav-link-container {
        border: none;
        margin-left: 70px;
        line-height: 30px;
        float: left;
        position: relative;
    }

    .nav-link:before {
        content: "\0203A\0203A";
        font-size: 21px;
        letter-spacing: -0.03em;
        position: absolute;
        top: 0;
        right: 100%;
        opacity: 0;
        -webkit-transform: translate3d(0, -2px, 0);
        -moz-transform: translate3d(0, -2px, 0);
        -o-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);

        -webkit-transition: opacity 0.3s, transform 0.4s;
        transition: opacity 0.3s, transform 0.4s;
    }

    .nav-link:hover:before {
        opacity: 1;
        -webkit-transform: translate3d(-7px, -2px, 0);
        -moz-transform: translate3d(-7px, -2px, 0);
        -o-transform: translate3d(-7px, -2px, 0);
        transform: translate3d(-7px, -2px, 0);
    }

}

/* Font Listings */
.font-listing-container {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    float: left;
    text-align: center;
}

.font-listing {
    display: block;
}

.font-listing-image-container {
    position: relative;

    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.font-listing:hover .font-listing-image-container {
    opacity: 0;
}

.font-listing-image {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 66.666%;
}

.font-listing-bg {
    background-image: url(/images/bg.png);
    background-size: 580px 386px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;

    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.font-listing:hover .font-listing-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.font-listing-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.font-listing:hover .font-listing-overlay {
    font-size: 30px;
    visibility: visible;
    opacity: 1;
}

@media (min-width: 500px) {

    .font-listing-container {
        width: 50%;
        border-right: 1px solid #e6e6e6;
    }

    .font-listing-container:nth-child(2n + 2) {
        border-right-color: transparent;
    }
}

@media (min-width: 1000px) {

    .font-listing-container {
        width: 33.333%;
    }

    .font-listing-container:nth-child(2n + 2) {
        border-right-color: #e6e6e6;
    }

    .font-listing-container:nth-child(3n + 3) {
        border-right-color: transparent;
    }
}

@media (min-width: 1500px) {

    .font-listing-container {
        width: 25%;
    }

    .font-listing-container:nth-child(3n + 3) {
        border-right-color: #e6e6e6;
    }

    .font-listing-container:nth-child(4n + 4) {
        border-right-color: transparent;
    }
}

/* Font Image */
.font-image-bg-container {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.font-image-bg {
    background-image: url(/images/bg.png);
    background-size: 580px 386px;
}

.font-image-container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 5% 0;
}

.font-image {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 66.666%;
}

@media (min-width: 768px) {

    .font-image-bg-container {
        margin-top: 120px;
    }
}

@media (min-width: 1040px) {

    .font-image-container {
        padding: 50px 0;
    }
}

/* Font Details */
.font-details {
    padding: 20px;
}

.font-details-title {
    margin: 0;
}

.font-details-date {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

.font-details-price {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
}

.font-details-list {
    padding-bottom: 20px;
}

.font-details-list + .font-details-list {
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
}

.font-details-list li {
    margin-bottom: 2px;
}

.font-details-list-header {
    font-weight: 600;
}

.font-details-licensing {
    margin: 20px 20px 0 0;
    float: left;
}

@media (min-width: 960px) {

    .font-details {
        width: 37.5%;
        width: calc(37.5% - 1px);
        float: right;
    }
}

/* Font Example */
.font-example {
    word-wrap: break-word;
    line-height: 1.5;
}

.font-example-input-container {
    width: 70%;
    float: left;
}

.font-example-select-container {
    width: 30%;
    border-left: none;
    border-right: none;
    float: left;
}

.font-example-text {
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
    font-size: 36px;
}

.font-example-alphabet {
    padding: 20px 20px 40px 20px;
    font-size: 60px;
}

@media (min-width: 960px) {

    .font-example {
        width: 62.5%;
        width: calc(62.5% + 1px);
        border-right: 1px solid #e6e6e6;
        float: left;
    }

    .font-example-input-container,
    .font-example-select-container {
        border-top: none;
        line-height: 59px;
    }
}

/* Homepage */

.slide {
    width: 100%;
    height: calc(100vh - 210px);
    padding: 30px 60px;
    display: table;
    background-image: url(new-bg.png);
    background-size: 400px 400px;
    word-wrap: break-word;
}

.slide-content {
    display: table-cell;
    vertical-align: middle;
}

.slide-font {
    font-size: 75px;
    line-height: 1.5;
}

/*        .slide-one {
    color: #4E4E76;
    background-color: rgba(78, 78, 118, 0.1);
    background-color: rgba(132, 181, 151, 0.1);
    color: rgba(132, 181, 151, 1);


    font-family: "Starry Night";
}*/

.slide-date {
    font-weight: 300;
    display: none;
}

.slide-herbaceous {
    background-color: rgba(132, 181, 151, 0.1);
}

.slide-herbaceous .slide-font {
    font-family: "Herbaceous Border";
    color: rgba(132, 181, 151, 1);
}

.slide-two {
    background-color: rgba(132, 181, 151, 1);
/*            background-image: url(new-bg.png);
    background-size: 400px 400px;*/
}

.footer {
    height: 200px;
    background: #fff;
    padding: 30px 60px;
    position: relative;
    z-index: 1;
}

.font-buttons {
    margin-top: 45px;
}

.font-button-container {
    width: 300px;
    padding-right: 10px;
    display: inline-block;
}

.font-button {
    background: #db644f;
    border: 1px solid #db644f;
    color: #fff;
    height: 60px;
    line-height: 58px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

.font-button:hover {
    background: #d04e3e;
    border: 1px solid #d04e3e;
    color: #fff;
}

.font-button-download {
    background: none;
    color: #db644f;
}

.font-button-download:hover {
    background: none;
    color: #d04e3e;
}

.main-container {
    max-width: 1144px;
    margin: 0 auto;
    padding: 25px;
}

@media (min-width: 768px) {

    .main-container {
        padding: 60px;
    }
}

/* Hero */
.hero {
    width: 100%;
    height: calc(100vh - 210px);
    background-image: url(/images/bg.png);
    background-size: 400px 400px;
}