.container--narrow {
  max-width: 540px;
}

.link--secondary {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: $color-purple;
}

.link--secondary:hover,
.link--secondary:focus {
  color: $color-purple;
  border-bottom-color: $color-purple;
}

.auth__link {
  margin-top: 1.5rem;
}

.input--file {
  padding-top: 37px;
  padding-bottom: 12px;
  line-height: 16px;
  font-size: 16px;
}

.button--add {
  margin-bottom: 1.5rem;
  @include flex-child-align(flex-end);
}

.button--add:after {
  content: "\002B";
  font-size: 22px;
  margin-left: 1rem;
  margin-bottom: 4px;
}

.buttons {
  display: flex;
}

.form__images {
  white-space: nowrap;
  overflow-y: auto;

  img {
    width: 150px;
    height: auto;

    & + img {
      margin-left: 10px;
    }
  }
}