input,
textarea,
button,
select {
  width: 100%;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  line-height: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input:focus,
.textarea:focus,
.select__input:focus,
.button:focus {
  outline: none;
}

.input:focus,
.textarea:focus,
.select__input:focus, {
  border-color: $color-gray-med-dark;
}

.form__row {
  position: relative;
}

.form__row + .form__row {
  margin-top: 1rem;
}

.form__row--inline {
  position: relative;
  @include flex();
  @include flex-wrap(wrap);
}

.form__hidden {
  position: absolute;
  left: -5000px;
}