.input--checkbox {
  height: auto;
}

.input__checkbox-label {
  padding-top: 0.325rem;
  font-size: 16px;
  line-height: 1.5em;
  display: block;
}

.input__checkbox-label:first-child {
  padding-top: 0.75rem;
}

.input__checkbox-label:last-child {
  padding-bottom: 0.75rem;
}

.input__checkbox {
  width: auto;
  height: auto;
  margin-right: 0.5rem;
  vertical-align: 2px;
  -webkit-appearance: checkbox;
}