.input {
  background: $color-gray-light;
  min-height: 3rem;
  padding: 0.5rem;
  border: 1px solid $color-gray-med-light;
  border-radius: 3px;
  line-height: normal;
}

.input--label-inset {
  height: calc(3.3rem + 4px);
  padding: 1.1rem 0.5rem 0 0.5rem;
}

.input--label-inset + label {
  font-size: 0.5rem;
  line-height: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 700;
  position: absolute;
  top: 0.65rem;
  left: calc(0.5rem + 2px);
}

.input--small {
  min-height: 2.5rem;
}

.textarea {
  background: $color-gray-light;
  padding: 0.5rem;
  border: 1px solid $color-gray-med-light;
  border-radius: 3px;
  display: block;
  resize: none;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: $color-gray-dark;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: $color-gray-dark;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: $color-gray-dark;
}

.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: $color-gray-dark;
}

.input--required,
.textarea--required {
  border-color: $color-red;
}

.input--required + label .label__required {
  color: $color-red;
  display: inline;
}

.label__required {
  display: none;
}