.select {
  position: relative;
}

.select__input {
  background: $color-gray-light;
  min-height: 3rem;
  padding: 0 2.65rem 0 0.5rem;
  border: 2px solid transparent;
  border-radius: 3px;
  line-height: 2.3rem;
}

.select__caret {
  height: 100%;
  width: 2.65rem;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  @include flex();
  @include flex-align(center);
  @include flex-justify(center);
}

.select__caret:before,
.select__caret:after {
  content: " ";
  background: $color-black;
  width: 12px;
  height: 2px;
  margin-right: -2.5px;
  border-radius: 1px;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
}

.select__caret:after {
  transform: scaleY(-1) rotate(45deg);
  margin-left: -2.5px;
}

.select--label-inset select {
  padding: 1rem 0.5rem 0 0.5rem;
}

.select--label-inset + label {
  font-size: 0.5rem;
  line-height: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 700;
  position: absolute;
  top: 0.5rem;
  left: calc(0.5rem + 2px);
}