.bg-white {
    background: $color-white;
}

.bg-img {
    background-image: url(/images/bg.png);
    background-size: 400px 400px;
}

.bg-abstract {
    width: 90%;
    height: 60%;
    color: #FEE2DE;
    color: #fae3e1;
    position: absolute;
    top: 30px;
    left: 1.5rem;
}

.bg-abstract.is-alt {
    width: 60%;
    height: 40%;
    color: #D6F0EF;
    color: #d6ecf0;
}

.bg-abstract.is-tile {
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    color: rgba(255, 255, 255, 0.25);
}

.bg-dots-rectangle:before {
    content: " ";
    width: 320px;
    height: 400px;
    background-image: radial-gradient(
        #fff 20%,
        transparent 21%
    );
    background-size: 40px 40px;
    position: absolute;
    top: 5%;
    left: 15%;
    @include transform(rotate(30deg));
}

.bg-dots-rectangle.is-tile:before {
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.5) 20%,
        transparent 21%
    );
    top: -10%;
    bottom: -10%;
    right: -10%;
}

@media (min-width: 1024px) {

    .bg-abstract {
        height: 90%;
    }

    .bg-abstract.is-alt {
        height: 60%;
    }
}