.bg-white {
    background: $color-white;
}

.bg-img {
    background-image: url(/images/bg.png);
    background-size: 400px 400px;
}

.bg-abstract-hero {
    width: 90%;
    height: 60%;
    color: $color-abstract-pink;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.bg-abstract-hero.is-secondary {
    width: 60%;
    height: 40%;
    color: $color-abstract-green;
}

.bg-abstract-tile {
    width: 170%;
    height: 170%;
    position: absolute;
    left: -35%;
    top: -35%;
    @include transform(scaleY(-1));
}

.bg-abstract-hero.is-static {
    display: none;
}

.bg-abstract-hero.is-secondary.is-static {
    display: none;
}

.bg-dots:before {
    content: " ";
    background-image: -webkit-radial-gradient(
        $color-white 20%,
        transparent 21%
    );
    background-image: radial-gradient(
        $color-white 20%,
        transparent 21%
    );
    background-size: 40px 40px;
    position: absolute;
    @include transform(rotate(30deg));
}

.bg-dots.is-hero:before {
    width: 320px;
    height: 400px;
    top: 5%;
    left: 15%;
}

.bg-dots.is-tile:before {
    width: 280px;
    height: 600px;
    top: 0;
    right: -10%;
}

.bg-dots.is-static:before {
    display: none;
}

.bg-dots.is-footer:before {
    background-image: -webkit-radial-gradient(
        $color-abstract-pink 20%,
        transparent 21%
    );
    background-image: radial-gradient(
        $color-abstract-pink 20%,
        transparent 21%
    );
    width: 150px;
    height: 520px;
    top: 0;
    right: 0;
    transform-origin: top left;
    @include transform(rotate(80deg));
}

@media (min-width: 1024px) {

    .bg-abstract-hero {
        height: 90%;
    }

    .bg-abstract-hero.is-secondary {
        height: 60%;
    }

    .bg-abstract-hero.is-static {
        height: 750px;
        top: 4.5rem;
        left: 55%;
        color: #d5e7db;
        transform: translate3d(-50%, 0, 0);
        display: block;
        z-index: -1;
    }

    .bg-abstract-hero.is-static.is-secondary {
        height: 500px;
        top: 4.5rem;
        left: 50%;
        color: #d6ecf0;
        transform: translate3d(-70%, 0, 0);
        display: block;
        z-index: -1;
    }

    .bg-dots.is-static:before {
        left: 25%;
        top: 4.5rem;
        display: block;
        z-index: -2;
    }
}