.card {
    background: $color-white;
    border-width: 0.75rem 0rem;
    text-align: center;
    z-index: 1;
}

.card__section {
    margin: 0;
    padding: 1rem;
    border: none;
}

.card__section + .card__section {
    padding-top: 0;
}

@media (min-width: 1024px) {

    .card {
        border: 2px solid $color-white;
        padding: 0.5rem;
        box-shadow: 0 0 0 0.5rem $bg-color-default inset;
    }
}