.details-card {
    background: $color-white;
    border: 1rem solid $color-gray-lightest;
    border-width: 1rem 0.5rem;
    text-align: center;
}

.details-card-section {
    padding: 1rem;
}

@media (min-width: 1024px) {

    .details-card {
        border: 2px solid $color-white;
        padding: 0.5rem;
        box-shadow: 0 0 0 0.5rem $color-gray-lightest inset;
    }
}