.hr-text {
    margin: 1rem 0;
    @include flex();
    @include flex-align(center);
}

.hr-text:before,
.hr-text:after {
    content: " ";
    background: $color-white;
    height: 2px;
    margin: 0 0.75rem 0 0;
    display: block;
    @include flex-child(2);
}

.hr-text:after {
    margin: 0 0 0 0.75rem;
}