figure {
    margin: 0;
}

a img {
    border: none;
}

.img-default {
    display: block;
}

.img-retina {
    display: none;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

@media (-webkit-min-device-pixel-ratio: 2) {

    .img-default {
        display: none;
    }

    .img-retina {
        display: block;
    }
}