*, *:before, *:after {
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
}

html {
    height: 100%;
    font: 300 112.5% $font-family;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $color-gray-lightest;
    min-height: 100%;
    margin: 0;
    padding: 63px 0 0 0;
    overflow-x: hidden;
    color: $color-gray-darkest;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 768px) {

    html {
        font-size: 125%;
    }

    body {
        padding: 0;
    }
}