*, *:before, *:after {
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
}

html {
    height: 100%;
    font: 112.5% $font-family-default;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $color-gray-light;
    min-height: 100%;
    margin: 0;
    // padding: 63px 0 0 0;
    overflow-x: hidden;
    color: $color-black;
    @include flex();
    @include flex-direction(column);
}

@media (min-width: 768px) {

    html {
        font-size: 125%;
    }

    // body {
    //     padding: 0;
    // }
}