h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
    font-family: $font-family-headings;
    @include transition(opacity 150ms ease-in-out);
}

h1 {
    font-size: 2.828rem;
    line-height: 3rem;
}

h2 {
    font-size: 2.167rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.414rem;
    line-height: 2rem;
}

h4 {
    font-size: 0.707rem;
}

h5 {
    font-size: 0.471333rem;
}

h6 {
    font-size: 0.3535rem;
}

p {
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
    @include transition(opacity 150ms ease-in-out);
}

blockquote {
    margin: 1.5rem 0;
    line-height: 1.5rem;
}

code {
    vertical-align: bottom;
}

i,
.text {
    @include transition(opacity 150ms ease-in-out);
}

.is-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.is-bold {
    font-weight: 400;
}

.is-extra-bold {
    font-weight: 700;
}

.is-small-print {
    font-size: 0.75rem;
}

.is-centered-mobile {
    text-align: center;
}

.has-heading-font {
    font-family: $font-family-headings;
    @include transition(opacity 150ms ease-in-out);
}

.has-no-margin {
    margin: 0;
}

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading .has-heading-font,
.wf-loading p,
.wf-loading i,
.wf-loading .text {
    opacity: 0;
}

@media (min-width: 768px) {

    h1,
    h2 {
        margin-bottom: 3rem;
    }

    .is-centered-mobile {
        text-align: left;
    }
}