.container + .container {
  margin-top: 1rem;
}

.label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.input {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: 0 0 0 1px var(--color-gray-dark);
  appearance: none;
  transition: background 0.1s;
}

.input:checked {
  background: var(--color-secondary);
}
