.container {
  position: relative;
  display: flex;
  align-items: center;
  animation: wave infinite 1s ease-in-out -0.2s;
}

.container,
.container:before,
.container:after {
  background: var(--color-accent-pink);
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
}

.container:before,
.container:after {
  content: '';
  position: absolute;
}

.container:before {
  left: -2.5rem;
  animation: wave infinite 1s ease-in-out -0.4s;
}

.container:after {
  right: -2.5rem;
  animation: wave infinite 1s ease-in-out;
}

@keyframes wave {
  0%, 80%, 100% {
    height: 1.75rem;
  }
  40% {
    height: 3.25rem;
  }
}
