.container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    visibility 0.15s linear 0.15s,
    opacity 0.15s linear 0.15s;
}

.container h3 {
  margin: 0;
}

.container:after {
  content: '';
  background: var(--color-black);
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0.15s linear,
    opacity 0.15s linear;
}

.visible .modal > * {
  opacity: 1;
  transition: opacity 0.15s linear 0.45s;
}

.visible .modal:before,
.visible .modal:after {
  width: 100%;
  height: 100%;
  transition:
    width 0.15s ease-out 0.15s,
    height 0.15s ease-out 0.3s;
}

.visible .modal:before {
  border-top-color: var(--color-white);
  border-right-color: var(--color-white);
}

.visible .modal:after {
  border-bottom-color: var(--color-white);
  border-left-color: var(--color-white);
}

.modal {
  width: 100%;
  max-width: 56rem;
  border-radius: calc(var(--border-radius) * 2);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.modal > * {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal:before,
.modal:after {
  content: ' ';
  width: 0;
  height: 0;
  border: 2px solid transparent;
  border-radius: calc(var(--border-radius) * 2);
  position: absolute;
}

.modal:before {
  top: 0;
  left: 0;
}

.modal:after {
  bottom: 0;
  right: 0;
}

.content {
  background: var(--color-white);
  max-height: 90vh;
  overflow-y: auto;
}

.content > * {
  width: 100%;
  padding: calc(var(--spacing-base) * 0.333);
}

.content > *:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-light);
}
