@value breakTablet from '../../../shared/styles/_breakpoints.css';

.container {
  position: relative;
}

.container:not(:last-child) {
  margin-bottom: calc(var(--spacing-base) * 0.25);
}

.label {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: absolute;
  top: calc(1.25rem + 1px);
  left: calc(1.25rem + 1px);
}

.labelHidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.select {
  background: var(--color-gray-lightest);
  width: 100%;
  height: 7rem;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  padding: 2.75rem 5.5rem 0.5rem 1.25rem;
  outline: none;
  color: var(--color-black);
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
}

.select:focus {
  border-color: var(--color-gray-dark);
}

.labelHidden + .select {
  height: 5.5rem;
  padding: 1rem 5.5rem 1rem 1.5rem;
}

.caret {
  height: 100%;
  width: 5.5rem;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caret:before,
.caret:after {
  content: ' ';
  background: var(--color-black);
  width: 10px;
  height: 2px;
  margin-right: -2px;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
}

.caret:after {
  margin: 0 0 0 -2px;
  transform: scaleY(-1) rotate(45deg);
}

@media breakTablet {
  .select {
    height: 7.5rem;
    padding-right: 6.5rem;
  }

  .labelHidden + .select {
    height: 6rem;
    padding-right: 6.5rem;
  }

  .caret {
    width: 6.5rem;
  }

  .caret:before,
  .caret:after {
    width: 11px;
    margin-right: -2px;
  }

  .caret:after {
    margin: 0 0 0 -2px;
  }
}
