.card {
  border: 1px solid var(--color-gray-light);
  border-radius: 6px;
}

.card .item {
  margin: 0;
  padding: 1rem 1.25rem;
}

.item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray-light);
}

.item:last-child {
  border: none;
}

.item.total {
  padding-top: 1rem;
  font-weight: 600;
}

.price + .price {
  margin-left: 4px;
  text-decoration: line-through;
}

.header {
  font-size: 2.15rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.035em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download {
  margin-left: 2rem;
  color: var(--color-secondary);
  font-size: 3.5rem;
  line-height: 0.75;
}

a:hover .download,
a:focus .download {
  color: var(--color-secondary-dark);
}

.buttons {
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.075em;
}

.buttons button {
  width: auto;
  line-height: 2.25rem;
  letter-spacing: 0.075em;
  display: block;
}

.qty {
  margin-right: -1rem;
  display: flex;
}

.qty button {
  padding: 0 1rem 0.25rem 1rem;
  font-size: 1.65rem;
  line-height: 2rem;
}
