.heading {
  background: var(--color-gray-lightest);
  width: calc(var(--spacing-base) - 1px);
  margin: 0;
  border-right: 1px solid var(--color-gray-light);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 1px;
  z-index: 1;
}

.text {
  padding: 0 calc(var(--spacing-base) * 0.333);
  position: absolute;
  top: 0;
  left: 0;
  line-height: calc(var(--spacing-base) - 1px);
  white-space: nowrap;
  transform: translate3d(-100%, 0, 0) rotate(-90deg);
  transform-origin: top right;
}
