.post {
  margin-bottom: 1.5rem;
  position: relative;

  h2 a {
    color: $color-black;
    font-weight: 700;

    &:hover,
    &:focus {
      border-color: transparent;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.post__details {
  border-top: 2px solid $color-gray-light;
  padding: 1rem;
  position: relative;
  z-index: 1;
  @include flex;
  @include flex-wrap(wrap);

  a:hover,
  a:focus {
    border-color: transparent;
  }
}

.post__details.desktop {
  display: none;
}

.post__detail {
  margin-right: 0.75rem;
  font-size: 12px;
  line-height: 22px;
  color: $color-gray-dark;
}

.post__detail a {
  font-weight: 700;
  color: $color-gray-dark;
  @include transition(color 0.3s);
}

.post__detail a:hover {
  color: $color-purple;
}

.post__date {
  font-size: 14px;
  line-height: 63px;
  color: $color-black;
}

.post__date:hover {
  color: $color-red;
}

a.post__detail-link--type {
  color: $color-purple;
}

a.post__detail-link--type:hover {
  color: $color-purple-hover;
}

.post__detail--reblog,
.post__detail--count {
  margin-top: 0.75rem;
  display: block;
  width: 100%;
}

.post__detail--count + .post__detail--count {
  margin: 0;
}

.post__well {
  overflow: hidden;
}

.post__content {
  padding: 1rem;
  display: block;
}

.post__actions {
  border-top: 2px solid $color-gray-light;
  @include flex;
  @include flex-justify(flex-end);
}

.post__action {
  width: 60px;
  height: 60px;
  border-left: 2px solid $color-gray-light;
  box-shadow: 0 0 0 0.5rem $color-white inset;
  text-align: center;
  cursor: pointer;
  @include flex;
  @include flex-justify(center);
  @include flex-align(center);
  @include transition(background 0.25s);
}

.post__action:hover {
  background: $color-pink;
}

.post__action a {
  margin: 0 auto;
  background: none;
  padding: 0;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  @include flex-align(center);
}

.post__action--permalink {
  width: auto;
  margin: 0 auto 0 0;
  border: none;
  font-size: 13px;
}

.post__action--permalink:hover {
  background: none;
}

a.post__action-link {
  padding: 0 1rem;
  color: $color-red;
  display: block;
  font-weight: 700;
}

a.post__action-link:hover,
a.post__action-link:focus {
  color: $color-red-hover;
  border-color: transparent;
}

.post__photo + .post__caption,
.post__video + .post__caption {
  padding-top: 15px;
}

.post__photo {
  text-align: center;
}

.post__video-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.post__video-embed iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.post__link {
  @include flex;
  @include flex-align(center);
}

.post__link-icon {
  margin-right: 1rem;
  color: $color-purple;
}

@media (min-width: $break-tablet) {
  .post {
    margin-bottom: 2.5rem;
    @include flex;
  }

  .post__details {
    width: 25%;
    padding: 2rem 2rem 2rem 0;
    text-align: right;
    background: none;
    border: none;
  }

  .post__details.desktop {
    display: block;
  }

  .post__details.mobile {
    display: none;
  }

 .post__detail {
    margin-right: 0;
  }

  .post__well {
    width: 75%;
  }

  .post__content {
    padding: 2rem;
    @include flex;
    @include flex-direction(column);
    @include flex-justify(space-between);
  }

  a.post__action-link {
    padding: 0 2rem;
  }

  .post__photo + .post__caption,
  .post__video + .post__caption {
    padding-top: 40px;
  }
}