.related {
  background: $color-purple;

  .column--right {
    margin-bottom: 0;
  }

  & + .footer {
    margin-top: 0;
  }

  h3 {
    color: $color-white;
  }
}

.related__items {
  @include flex;
  @include flex-wrap(wrap);
  @include flex-justify(space-between);
}

.related__post {
  width: 100%;
  height: 350px;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  display: none;

  h4 {
    margin-bottom: 1rem;
    font-size: 1.414rem;
    line-height: 2rem;
  }


  & + .related__post {
    margin-top: 0;
  }
}

.related__post:nth-child(-n+4) {
  display: block;
}

a.related__permalink {
  width: 100%;
  border-top: 2px solid $color-purple;
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  line-height: 60px;
  @include transition(background 0.25s, color 0.25s);
}

a.related__permalink:hover {
  background: $color-gray-light;
  border-top-color: $color-purple;
}

@media (min-width: $break-tablet) {
  .related__post {
    width: calc(50% - 0.75rem);
    margin-bottom: 1.5rem;
  }

  a.related__permalink {
    padding: 0 1.5rem;
  }
}