@value breakTablet, breakDesktop from '../../../shared/styles/_breakpoints.css';

.content {
	width: calc(100% + calc(var(--spacing-base) * 0.75));
	margin: 0 calc(var(--spacing-base) * 0.375 * -1);
}

.video {
	margin-top: calc(var(--spacing-base) * 0.5);
	margin-bottom: calc(var(--spacing-base) * 0.5);
	position: relative;
}

.video:after {
	content: '';
	padding-bottom: 56.25%;
	display: block;
}

.video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@media breakTablet {
	.content {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.video {
		margin-top: 0;
		margin-bottom: calc(var(--spacing-base) * 0.575);
	}
}

  @media breakDesktop {
    .video {
      margin-bottom: calc(var(--spacing-base) * 0.7);
    }
  }
