@value breakTablet, breakDesktop from '../../../shared/styles/_breakpoints.css';

.more {
  margin-top: calc(var(--spacing-base) * 0.375);
}

.affiliate {
  font-size: 1.85rem;
}

@media breakTablet {
  .more {
    margin-top: calc(var(--spacing-base) * 0.5);
  }

  .affiliate {
    line-height: 1.65;
  }
}

@media breakDesktop {
  .more {
    margin-top: calc(var(--spacing-base) * 0.75);
  }
}
