@value breakTablet from '../../../shared/styles/_breakpoints.css';

.container {
  border-bottom: 1px solid var(--color-gray-light);
  border-top: 1px solid var(--color-gray-light);
  text-align: center;
}

.desc {
  padding: calc(var(--spacing-base) * 0.75) calc(var(--spacing-base) * 0.5);
}

.upcoming {
  background: var(--color-gray-lightest);
  border-top: 1px solid var(--color-gray-light);
  padding: calc(var(--spacing-base) * 0.75) calc(var(--spacing-base) * 0.5);
}

.img {
  max-width: 27.5rem;
  margin: 0 auto;
}

@media breakTablet {
  .content {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .desc {
    flex-grow: 1;
  }

  .desc p {
    max-width: 70rem;
    margin: 0 auto;
  }

  .upcoming {
    width: calc(15rem * 3 + var(--spacing-base) + 3px);
    border: none;
    border-left: 1px solid var(--color-gray-light);
  }

  .upcoming p {
    margin-bottom: calc(var(--spacing-base) * 0.25);
    font-size: 2rem;
  }
}
