@value breakTablet from '../../../shared/styles/_breakpoints.css';


.container {
  border-top: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 50%;
  border-bottom: 1px solid var(--color-gray-light);
}

.item:nth-child(2n + 2) {
  border-left: 1px solid var(--color-gray-light);
}

.item:nth-last-child(-n + 2) {
  border-bottom: none;
}

.itemHeading {
  background: var(--color-secondary);
  color: var(--color-white);
}

.heading {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link {
  background: var(--color-gray-lightest);
  width: 100%;
  height: 100%;
  min-height: 18rem;
  padding: calc(var(--spacing-base) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s linear;
}

.link:hover,
.link:focus {
  background: var(--color-white);
}

.img {
  max-width: 18.75rem;
}

@media breakTablet {
  .item {
    width: 25%;
    border-left: 1px solid var(--color-gray-light);
  }

  .item:nth-child(4n + 1) {
    border-left: none;
  }

  .item:nth-last-child(-n + 4) {
    border-bottom: none;
  }

  .link {
    min-height: 21rem;
  }
}
