<div class="input-label-inset">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" {% if font.name %}value="{{font.name}}"{% endif %} />
</div>

<div class="input-label-inset">
    <label for="dateCreated">Date Created</label>
    <input type="text" id="dateCreated" name="date_created" {% if font.date_created %}value="{{font.date_created}}"{% endif %} />
</div>

<div class="input-label-inset">
    <label for="dateModified">Date Modified</label>
    <input type="text" id="dateModified" name="date_modified" {% if font.date_modified %}value="{{font.date_modified}}"{% endif %} />
</div>

<div class="input-label-inset">
    <label for="price">Price</label>
    <input type="text" id="price" name="price" {% if font.price %}value="{{font.price}}"{% endif %} />
</div>

<div class="input-label-inset input-file">
    <label for="image">Image{% if font.image %} ({{font.image}}){% endif %}</label>
    <input type="file" id="image" name="image" />
</div>

<div class="input-label-inset input-file">
    <label for="imageRetina">Image Retina{% if font.image_retina %} ({{font.image_retina}}){% endif %}</label>
    <input type="file" id="imageRetina" name="image_retina" />
</div>

<div class="input-label-inset input-file">
    <label for="imageThumbnail">Image Thumbnail{% if font.image_thumbnail %} ({{font.image_thumbnail}}){% endif %}</label>
    <input type="file" id="imageThumbnail" name="image_thumbnail" />
</div>

<div class="input-label-inset input-file">
    <label for="imageThumbnailRetina">Image Thumbnail Retina{% if font.image_thumbnail_retina %} ({{font.image_thumbnail_retina}}){% endif %}</label>
    <input type="file" id="imageThumbnailRetina" name="image_thumbnail_retina" />
</div>

<div class="input-label-inset">
    <label for="downloadUrl">Download URL</label>
    <input type="text" id="downloadUrl" name="download_url" {% if font.download_url %}value="{{font.download_url}}"{% endif %} />
</div>

<div class="input-label-inset">
    <label for="purchaseUrl">Purchase URL</label>
    <input type="text" id="purchaseUrl" name="purchase_url" {% if font.purchase_url %}value="{{font.purchase_url}}"{% endif %} />
</div>

<div class="input-label-inset input-check">
    <label>Personal Use Details</label>
    <input type="checkbox" name="personal_use_details" value="TrueType File"/>TrueType Font
    <input type="checkbox" name="personal_use_details" value="OpenType File" />OpenType Font
</div>

<div class="input-label-inset input-check">
    <label>Commercial Use Details</label>
    <input type="checkbox" name="commercial_use_details" value="TrueType File" />TrueType Font
    <input type="checkbox" name="commercial_use_details" value="OpenType File" />OpenType Font
    <input type="checkbox" name="commercial_use_details" value="Web Font Kit" />Web Font Kit
    <input type="checkbox" name="commercial_use_details" value="Additional Characters (Latin-1)" />Additional Characters (Latin-1)
</div>

<div class="input-label-inset">
    <label for="commercialUseDetails">Color</label>
    <input type="text" id="commercialUseDetails" name="color" {% if font.color %}value="{{font.color}}"{% endif %} />
</div>

<div class="input-label-inset input-file">
    <label for="cssFile">CSS File{% if font.css_file %} ({{font.css_file}}){% endif %}</label>
    <input type="file" id="cssFile" name="css_file" />
</div>

<div class="input-label-inset input-file">
    <label for="peronsalFontFile">Personal Font File{% if font.personal_font_file %} ({{font.personal_font_file}}){% endif %}</label>
    <input type="file" id="personalFontFile" name="personal_font_file" />
</div>

<div class="input-label-inset input-file">
    <label for="commercialFontFile">Commercial Font File{% if font.commercial_font_file %} ({{font.commercial_font_file}}){% endif %}</label>
    <input type="file" id="commercialFontFile" name="commercial_font_file" />
</div>

<button type="submit" class="button button-primary">Submit</button>