/* Fonts */
$font-family-default: 'museo-sans-rounded', sans-serif;
$font-family-headings: 'museo-sans-rounded', sans-serif;

/* Breakpoints */
$break-tablet: 768px;
$break-desktop: 1024px;
$break-desktop-wide: 1400px;
$break-height: 640px;

/* Widths */
$width-wide: 1200px;
$width-medium: 960px;
$width-narrow: 700px;

/* General Colors */
$color-white: #fff;
$color-black: #202020;

$color-gray-dark: #a7a7a7;
$color-gray-medium: #dadada;
$color-gray-light: #f4f4f4;

$color-red: #dd4433;
$color-red-hover: #d43f29;
$color-red-light: #e26051;
$color-green-light: #d5e7db;
$color-yellow: #fdeecd;
$color-pink: #fae3e1;
$color-green: #d5e7db;
$color-blue: #46aebc;
$color-blue-light: #d6ecf0;
$color-orange: #e67c53;
$color-purple: #726882;
$color-purple-hover: #675e75;

/* Component Colors */
$bg-color-default: $color-gray-light;
$bg-color-red: $color-red-light;
$bg-color-purple: $color-purple;
$bg-color-orange: $color-orange;
$bg-color-blue: $color-blue;
$bg-color-pink: $color-pink;
$bg-color-light-blue: $color-blue-light;
$bg-color-light-green: $color-green-light;
$bg-color-yellow: $color-yellow;

$border-color: $color-gray-medium;

$header-color: $color-red;
$header-color-hover: $color-red-hover;
$header-color-accent: $color-pink;

$button-color: $color-purple;
$button-color-hover: #675e75;
$button-color-cta-primary: $color-red;
$button-color-cta-secondary: $color-red-light;

$form-color-background: $color-gray-light;
$form-color-primary: $color-white;
$form-color-placeholder: $color-gray-dark;
$form-color-error: $color-red;
