/* Abstracts */
/* Fonts */
/* Widths */
/* General Colors */
/* Component Colors */
/* Components */
.hr--text {
  margin: 1rem 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.hr--text:before,
.hr--text:after {
  content: " ";
  background: #fff;
  height: 2px;
  margin: 0 0.75rem 0 0;
  display: block;
  -ms-flex: 2 1 auto;
  -webkit-flex: 2 1 auto;
  flex: 2 1 auto;
}

.hr--text:after {
  margin: 0 0 0 0.75rem;
}

/* Pages */
.input--file {
  padding-top: 28px;
  padding-bottom: 10px;
  line-height: 18px;
}

.input__checkbox {
  width: auto;
  height: auto;
  margin: 0 7px 0 21px;
  -webkit-appearance: checkbox;
}

.input__checkbox:first-child {
  margin-left: 0;
}

.growl {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
}

.admin-login {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.admin-login + .bg-abstract--static {
  top: 0.5rem;
}

.admin-list__item {
  padding-bottom: 20px;
}

.admin-list__item a {
  padding-bottom: 5px;
  display: inline-block;
}

.admin-list__delete {
  background: #fff;
  width: auto;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
