/*
Error: Invalid CSS after "...tion(transition": expected comma, was ": width 0.15s e..."
        on line 69 of assets/sass/components/_links.scss
        from line 10 of assets/sass/blog.scss

64: 
65:     .has-hover-border:hover:before,
66:     .has-hover-border:hover:after {
67:         width: 100%;
68:         height: 100%;
69:         @include transition(transition: width 0.15s ease-out, height 0.15s ease-out 0.15s);
70:     }
71: 
72:     .has-hover-border:hover:before {
73:         border-top-color: $color-green-light;
74:         border-right-color: $color-green-light;

Backtrace:
assets/sass/components/_links.scss:69
assets/sass/blog.scss:10
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:590:in `block in arglist'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:587:in `loop'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:587:in `arglist'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:576:in `mixin_arglist'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:120:in `parse_mixin_include_arglist'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1051:in `sass_script'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:239:in `include_directive'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:197:in `directive'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:409:in `media_directive'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:197:in `directive'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:400:in `run'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/bin/sass:23:in `load'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/bin/sass:23:in `<main>'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/laurenashpole/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...tion(transition\": expected comma, was \": width 0.15s e...\"\A         on line 69 of assets/sass/components/_links.scss\A         from line 10 of assets/sass/blog.scss\A \A 64: \A 65:     .has-hover-border:hover:before,\A 66:     .has-hover-border:hover:after {\A 67:         width: 100%;\A 68:         height: 100%;\A 69:         @include transition(transition: width 0.15s ease-out, height 0.15s ease-out 0.15s);\A 70:     }\A 71: \A 72:     .has-hover-border:hover:before {\A 73:         border-top-color: $color-green-light;\A 74:         border-right-color: $color-green-light;"; }
