<section class="container container--vertical-padding hero">
    <div class="column--static">
        <div class="hero__image bg-dots bg-dots--hero">
            <div>
                <span class="img--default">
                    <figure class="img--bg" style="background-image: url(/images/fonts/{{font.image_main}});"></figure>
                </span>
                <span class="img--retina">
                    <figure class="img--bg" style="background-image: url(/images/fonts/{{font.image_main_retina}});"></figure>
                </span>
            </div>

            <svg class="bg-abstract--hero">
                <use xlink:href="/images/bg-abstract.svg#bgAbstract"></use>
            </svg>

            <svg class="bg-abstract--hero-secondary">
                <use xlink:href="/images/bg-abstract.svg#bgAbstract2"></use>
            </svg>
        </div>
    </div>

    <section class="column--fixed card">
        <h3 class="card__section text--uppercase u--no-margin">
            {{font.name}}
        </h3>

        <form class="card__section form__row form__row--inline text--medium" method="post" action="/fonts/{{font.slug}}/payment">
            {% if font.commercial_font_file %}
                <button
                    type="submit"
                    title="Buy Now"
                    class="font__button button button--cta-primary button--hover-border text--uppercase text--extra-bold js-ga-trigger"
                    data-ga-category="{{font.name}} Page"
                    data-ga-action="click"
                    data-ga-label="Buy Now"
                >
                    <span class="button__text">
                        <div>Purchase</div>
                        <span class="text--extra-small">${{font.price}} Commercial Use</span>
                    </span>
                </button>
            {% endif %}

            {% if font.personal_font_file %}
                <a
                    href="/downloads/{{font.personal_font_file}}"
                    class="font__button button button--cta-secondary button--hover-border link--no-underline text--uppercase text--extra-bold js-font-modal-open"
                    data-ga-category="{{font.name}} Page"
                    data-ga-action="click"
                >
                    <span class="button__text">
                        <div>Download</div>
                        <span class="text--extra-small">$0 Personal Use</span>
                    </span>
                </a>
            {% endif %}
        </form>

        <ul class="list--unstyled font-files {% if font.commercial_file.webfont.is_included %}has-two-options{% endif %}">
            <li class="font-files__type text">
                <i class="fa fa-desktop font-files__icon"></i>
                Desktop
            </li>

            {% if font.commercial_file.webfont.is_included %}
                <li class="font-files__type text">
                    <i class="fa fa-code font-files__icon"></i>
                    Web
                </li>
            {% endif %}
        </ul>
    </section>
</section>