<section class="container">
    <div class="column-static has-padding">
        <div class="hero-image-container bg-dots is-hero">
            <div>
                <span class="img-default">
                    <figure class="img-bg" style="background-image: url(/images/fonts/{{font.image_main}});"></figure>
                </span>
                <span class="img-retina">
                    <figure class="img-bg" style="background-image: url(/images/fonts/{{font.image_main_retina}});"></figure>
                </span>
            </div>

            <svg class="bg-abstract-hero">
                <use xlink:href="/images/bg-abstract.svg#bgAbstract"></use>
            </svg>

            <svg class="bg-abstract-hero is-secondary">
                <use xlink:href="/images/bg-abstract.svg#bgAbstract2"></use>
            </svg>
        </div>
    </div>

    <section class="column-fixed details-card">
        <h3 class="details-card-section is-uppercase has-no-margin">
            {{font.name}}
        </h3>

        <div class="details-card-section font-details-price is-bold">
            ${{font.price}}
        </div>

        <div class="details-card-section font-buttons is-small-print {% if font.one_download_option %}has-one-button{% else %}button-block{% endif %}">
            {% if font.commercial_font_file %}
                <form class="font-button-container" method="post" action="/fonts/{{font.slug}}/payment">
                    <button
                        type="submit"
                        title="Buy Now"
                        class="button is-uppercase is-extra-bold is-primary js-ga-trigger"
                        data-ga-category="{{font.name}} Page"
                        data-ga-action="click"
                        data-ga-label="Buy Now"
                    >
                        <span class="button-content">
                            Purchase Commercial
                        </span>
                    </button>
                </form>
            {% endif %}

            {% if font.personal_font_file %}
                <div class="font-button-container">
                    <a
                        href="/downloads/{{font.personal_font_file}}"
                        class="button is-uppercase is-extra-bold is-secondary has-no-underline js-font-modal-open"
                        data-ga-category="{{font.name}} Page"
                        data-ga-action="click"
                    >
                        <span class="button-content">
                            Download Personal
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>

        <ul class="list-unstyled font-file-types {% if font.commercial_file.webfont.is_included %}has-two-options{% endif %}">
            <li class="details-card-section font-file-type">
                <i class="fa fa-desktop font-file-type-icon"></i>
                Desktop
            </li>

            {% if font.commercial_file.webfont.is_included %}
                <li class="details-card-section font-file-type">
                    <i class="fa fa-code font-file-type-icon"></i>
                    Web
                </li>
            {% endif %}
        </ul>
    </section>
</section>