
<section class="container has-padding">
    <div class="column-static">
        <h2 class="is-uppercase is-centered-mobile font-page-heading">About {{font.name}}</h2>

        <div class="font-details-date is-centered-mobile is-bold text">
            Created: {{font.date_created}}
            {% if font.date_modified %}/ Modified: {{font.date_modified}}{% endif %}
        </div>

        <ul class="list-unstyled is-centered-mobile is-bold text">
            <li class="font-details-licensing">
                <a href="{{host_url}}/fonts/licensing" title="Licensing">Licensing Info</a>
            </li>
            <li class="font-details-licensing">
                <a href="{{host_url}}/fonts/eula" title="EULA">View EULA</a>
            </li>
        </ul>

        {% if font.description %}
            <div class="font-details-description">
                <p>
                    {% autoescape false %}{{font.description}}{% endautoescape %}
                </p>
            </div>
        {% endif %}

        <div class="font-details-lists">
            {% if font.commercial_font_file %}
                <ul class="list-unstyled font-details-list">
                    <li class="font-details-list-heading text is-bold">Commercial Use Details</li>

                    {% for detail in font.commercial_file %}
                        {% if detail.is_included %}
                            <li class="font-details-list-item text">{{detail.name}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% if font.personal_font_file %}
                <ul class="list-unstyled font-details-list">
                    <li class="font-details-list-heading text is-bold">Personal Use Details</li>

                    {% for detail in font.personal_file %}
                        {% if detail.is_included %}
                            <li class="font-details-list-item text">{{detail.name}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>