<section class="bg-solid--white">
    <div class="container container--vertical-padding">
        <div class="column--static">
            <h2 class="font__section-heading text--uppercase u--center-mobile">Preview</h2>

            <form class="font-example">
                <div class="font-example__form">
                    <div class="font-example__form-section">
                        <input type="text" class="font-example__input input text--bold js-font-example-input" value="Enter your preview text" />
                    </div>

                    <div class="font-example__form-section">
                        <div class="select">
                            <select class="font-example__select select__input text--bold js-font-example-size">
                                <option value="16">16px</option>
                                <option value="24">24px</option>
                                <option value="36">36px</option>
                                <option value="48">48px</option>
                                <option value="60" selected>60px</option>
                                <option value="72">72px</option>
                                <option value="144">144px</option>
                            </select>
                            <span class="select__caret">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="font-example__content">
                    <div class="font-example__text font-{{font.slug}} js-font-example">
                        Enter your preview text
                    </div>

                    {% if font.alternate_styles %}
                        {% for className in font.alternate_styles %}
                            <div class="font-example__text {{className}} js-font-example">
                                Enter your preview text
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</section>