<div class="modal-container js-modal-container js-close-modal-background">
    <div class="modal">
        <div class="modal-content">

            <h3 class="is-uppercase">Want updates when new fonts are added?</h3>

            <div id="mc_embed_signup">
                <form action="//laurenashpole.us4.list-manage.com/subscribe/post?u=5e9c643a20b49926773037101&amp;id=a878f779fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate modal-form-container js-font-modal-form" target="_blank" novalidate>
                    <div class="modal-input-container">
                        <input type="email" value="" name="EMAIL" class="required email input footer-input" id="mce-EMAIL" placeholder="Enter your email address">
                    </div>

                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e9c643a20b49926773037101_a878f779fc" tabindex="-1" value=""></div>

                    <div class="modal-button-container">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button is-primary is-uppercase is-extra-bold js-font-modal-signup">
                            <span class="button-content">
                                Sign Me Up!
                            </span>
                        </button>
                    </div>
                </form>
            </div>

            <a
                href="javascript:void(0);"
                class="js-close-modal js-font-modal-close js-ga-trigger"
                data-ga-category="{{font.name}} Page"
                data-ga-action="click"
                data-ga-label="Finish Download"
            >
                Nope, just download the font.
            </a>

        </div>
    </div>
</div>