<div class="modal js-modal-container js-close-modal-background">
    <div class="modal__card">
        <div class="modal__content">
            <h3 class="text--uppercase">Want updates when new fonts are added?</h3>
            <p>I promise you'll only hear from me when I have something you can try.</p>

            <div>
                <form action="/mailing/signup" method="post" class="modal__form js-modal-mailing-form">
                    <div class="modal__input">
                        <input type="email" value="" name="email" class="input input--gray u--center" id="email" placeholder="Enter your email address">
                    </div>

                    <div class="form__hidden" aria-hidden="true"><input type="text" name="b_5e9c643a20b49926773037101_a878f779fc" tabindex="-1" value=""></div>

                    <div class="modal__button">
                        <button type="submit" name="subscribe" class="button button--small text--uppercase text--extra-bold js-mailing-signup">
                            <span class="button__text">
                                Sign Me Up!
                            </span>
                        </button>
                    </div>
                </form>
            </div>

            <a
                href="javascript:void(0);"
                class="js-close-modal js-font-modal-close js-ga-trigger"
                data-ga-category="{{font.name}} Page"
                data-ga-action="click"
                data-ga-label="Finish Download"
            >
                Nope, just download the font.
            </a>
        </div>
    </div>
</div>