<div class="modal-container js-modal-container js-close-modal-background">
    <div class="modal">
        <div class="modal-content">
            <h3 class="is-uppercase">Want updates when new fonts are added?</h3>
            <p>I promise you'll only hear from me when I have something you can try.</p>

            <div>
                <form action="/mailing/signup" method="post" class="modal-form-container js-modal-mailing-form">
                    <div class="modal-input-container">
                        <input type="email" value="" name="email" class="input footer-input is-centered-mobile" id="email" placeholder="Enter your email address">
                    </div>

                    <div class="footer-input-test" aria-hidden="true"><input type="text" name="b_5e9c643a20b49926773037101_a878f779fc" tabindex="-1" value=""></div>

                    <div class="modal-button-container">
                        <button type="submit" name="subscribe" class="modal-button button is-primary is-uppercase is-extra-bold js-mailing-signup">
                            <span class="button-content">
                                Sign Me Up!
                            </span>
                        </button>
                    </div>
                </form>
            </div>

            <a
                href="javascript:void(0);"
                class="js-close-modal js-font-modal-close js-ga-trigger"
                data-ga-category="{{font.name}} Page"
                data-ga-action="click"
                data-ga-label="Finish Download"
            >
                Nope, just download the font.
            </a>

        </div>
    </div>
</div>