<!doctype html>
<html amp lang="en" class="amp-border-box">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    <link rel="canonical" href="{{host_url}}/fonts/{{font.slug}}" />

    {% autoescape false %}{{meta}}{% endautoescape %}

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      {% include './includes/main.amp.css' %}
      {% include './includes/overrides.amp.css' %}
      {% autoescape false %}{{font.css_string}}{% endautoescape %}
    </style>

    <link rel="stylesheet" href="https://use.typekit.net/iuh6zxb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% include './includes/header.amp.html' %}

    <main class="main main--bg-header">
      <div class="container font">
        {% include './includes/font-hero.amp.html' %}

        <div class="well">
          <div class="well__row well__row--px-lg font__name">
            <h2 class="well__heading text--uppercase u--center-mobile">39 Smooth</h2>
          </div>

          <form class="font__ctas" method="post" action-xhr="{{host_url}}/amp/fonts/{{font.slug}}/payment" target="_top">
            {% if font.commercial_font_file %}
              <button type="submit" class="button button--cta-primary text--medium js-ga-buy">
                <div class="button__text">
                  Purchase
                  <div class="text--extra-small">${{font.price}} Commercial Use</div>
                </div>
              </button>
            {% endif %}

            {% if font.personal_font_file %}
              <a href="{{host_url}}/uploads/fonts/{{font.personal_font_file}}" class="button button--outline text--medium js-ga-download">
                <div class="button__text">
                  Download
                  <div class="text--extra-small">Free Personal Use</div>
                </div>
              </a>
            {% endif %}
          </form>

          <div class="well__row font__content">
            <div class="font__sections">
              <div>{% include './includes/font-details.amp.html' %}</div>
              <div>{% include './includes/font-gallery.amp.html' %}</div>
              <div>{% include './includes/font-preview.amp.html' %}</div>
              <div>{% include './includes/font-glyphs.amp.html' %}</div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include './includes/footer.amp.html' %}

    <amp-analytics type="googleanalytics">
      <script type="application/json">
        {
          "vars": {
            "account": "UA-12207477-3"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            },
            "trackNavClicks": {
              "on": "click",
              "request": "event",
              "selector": "js-ga-nav",
              "vars": {
                "eventCategory": "Nav Link",
                "eventAction": "Click"
              }
            },
            "trackBuyClick": {
              "on": "click",
              "request": "event",
              "selector": "js-ga-buy",
              "vars": {
                "eventCategory": "Buy Button",
                "eventAction": "Click"
              }
            },
            "trackDownloadClick": {
              "on": "click",
              "request": "event",
              "selector": "js-ga-download",
              "vars": {
                "eventCategory": "Download Button",
                "eventAction": "Click"
              }
            }
          }
        }
      </script>
    </amp-analytics>
  </body>
</html>