<!--
  Including this file for version control only.
  File is actually used on Tumblr.
-->
<!doctype html>
<html lang="en">
<head>
  <script>
    WebFontConfig = {
      custom: {
        families: ['FontAwesome'],
        urls: ['//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css']
      }
    };

    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Lauren Ashpole",
      "url": "https://www.laurenashpole.com"
    }
  </script>

  {block:PermalinkPage}
    {block:Posts}
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{Permalink}"
          },
          "headline": "{block:PostSummary}{PostSummary}{/block:PostSummary}",
          "datePublished": "{block:Date}{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}{/block:Date}",
          "dateModified": "{block:Date}{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}{/block:Date}",
          "author": {
            "@type": "Person",
            "name": "Lauren Ashpole"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Lauren Ashpole",
            "logo": {
              "@type": "ImageObject",
              "url": "//static.tumblr.com/w45vvio/Mapov65sf/logo-sd.png",
              "width": 600,
              "height": 60
            }
          }
        }
      </script>

      <meta property="og:type" content="article" />
      <meta property="og:title" content="{block:PostSummary}{PostSummary}{/block:PostSummary}" />
      <meta property="og:description" content="{block:Text}{PlaintextBody}{/block:Text}{block:Photo}{PlaintextCaption}{/block:Photo}{block:Panorama}{PlaintextCaption}{/block:Panorama}{block:Photoset}{PlaintextCaption}{/block:Photoset}{block:Quote}{PlaintextQuote}{/block:Quote}{block:Link}{PlaintextDescription}{/block:Link}{block:Chat}{block:Lines}{block:Label}{PlaintextLabel}: {/block:Label}{PlaintextLine}{/block:Lines}{/block:Chat}{block:Video}{PlaintextCaption}{/block:Video}{block:Audio}{PlaintextCaption}{/block:Audio}{block:Answer}{PlaintextQuestion}{/block:Answer}" />
      <meta property="og:url" content="{Permalink}" />
      <meta property="og:site_name" content="Blog - Lauren Ashpole" />
      <meta property="article:published_time" content="{block:Date}{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}{/block:Date}" />
      <meta property="article:author" content="Lauren Ashpole" />
    {/block:Posts}
  {/block:PermalinkPage}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="j7rp4JhwKeTvhJYae4BTu4jPAP6ZBahys3beaQ5lGA8" />
  <meta name="p:domain_verify" content="ae31078d4a7b4e349540d765890c0737"/>

  <link rel="shortcut icon" href="{Favicon}">
  <link rel="alternate" type="application/rss+xml" href="{RSS}">
  <link rel="icon" type="image/png" href="//static.tumblr.com/w45vvio/Lo8ortbs4/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="//static.tumblr.com/w45vvio/RcCortbrz/favicon-16x16.png" sizes="16x16" />

  <title>{block:PostSummary}{PostSummary} - {/block:PostSummary} Blog - {Title}</title>

  {block:Description}
    <meta name="description" content="{MetaDescription}" />
  {/block:Description}

  <meta name="text:Google Analytics ID" content="UA-12207477-1"/>
  <meta name="text:Disqus Shortname" content="" />

  <link rel="stylesheet" href="//use.typekit.net/iaj4zaw.css">
  <link rel="stylesheet" href="//static.tumblr.com/w45vvio/VMJpmwf25/blog.471832c08e71aa242b33.css">

  {block:IfGoogleAnalyticsID}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{text:Google Analytics ID}', 'auto');
    ga('send', 'pageview');
    </script>
  {/block:IfGoogleAnalyticsID}
</head>
<body>
  <header class="header">
    <a href="https://www.laurenashpole.com" class="header__logo js-ga-trigger" aria-label="Home" data-ga-category="Nav Links" data-ga-action="click" data-ga-label="Home">
      <svg class="header__logo-svg" viewBox="0 0 106 49"><path d="M56.35 1.5c-1.7.7-4.6 3.15-6.4 5.4-4.15 5.15-9 6.75-15.8 5.1-10.6-2.6-10.8-2.6-9 .1 1.85 2.85 6.8 4.75 12.3 4.85l4 .05-5.95 6-5.95 6h-6.3C12.55 29 1 36.25 1 42.95c0 7.95 9.7 6.95 21.9-2.35 2.95-2.25 5.95-4.55 6.7-5.05 2.1-1.55 22.65 4.9 28.6 9 7.3 5 17.7 4.45 24-1.25 1.65-1.5 1.95-1.45 3.9.3 3.25 2.95 15 2.75 18.1-.35 3-3 1.2-5.2-2.7-3.4-6.3 2.85-14.5.35-14.5-4.4 0-3.85-2.7-3-7.85 2.55-5.85 6.3-9.4 7.45-15.05 4.95-5.4-2.45-5.25-2.85 2.65-6.95C73.95 32.3 85 22.45 85 19.75c0-1.75-4.15-5.05-7.8-6.2-5.2-1.6-21.1 9.45-24.7 17.2-1 2.05-1.9 3.9-2.05 4.1C50 35.35 36 30.7 36 30.05c0-.7 12.35-12.9 19.75-19.6 7.1-6.35 7.45-11.85.6-8.95zm21.5 16.8c2.8 3.4-9.05 13.9-19 16.75-4.25 1.2-3.65-.9 1.9-7.1 7.5-8.35 14.75-12.45 17.1-9.65zm-53.9 15.45c0 .9-7.05 6.25-12.2 9.25-6.25 3.65-6.5-.1-.35-5.7 4.5-4 12.7-6.35 12.55-3.55z" fill="currentColor"/></svg>
    </a>

    <nav class="header__nav">
      <button class="header__icon u--mobile" id="jsHeaderButton" aria-expanded="false" aria-controls="nav" aria-label="Toggle Nav">
        <span class="header__icon-line"></span>
        <span class="header__icon-line"></span>
        <span class="header__icon-line"></span>
        <span class="header__icon-line"></span>
      </button>

      <ul id="nav" class="header__links list--unstyled text--uppercase text--extra-bold">
        <li class="header__link">
          <a href="https://www.laurenashpole.com/fonts" title="Fonts" class="js-ga-trigger" data-ga-category="Nav Links" data-ga-action="click" data-ga-label="Fonts">
            Fonts
          </a>
        </li>
        <li class="header__link">
          <a href="/" class="is-active js-ga-trigger" title="Blog" data-ga-category="Nav Links" data-ga-action="click" data-ga-label="Blog">
            Blog
          </a>
        </li>
        <li class="header__link">
          <a href="https://www.laurenashpole.com/contact" title="Contact" class="js-ga-trigger" data-ga-category="Nav Links" data-ga-action="click" data-ga-label="Contact">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main main--bg-fixed container container--large">
    {block:DayPage}
      <div class="column--right">
        <h2>{lang:Viewing everything posted on Month DayOfMonth Year}</h2>
      </div>
    {/block:DayPage}

    {block:TagPage}
      <div class="column--right">
        <h2>{lang:Posts tagged Tag}</h2>
      </div>
    {/block:TagPage}

    {block:SearchPage}
      <div class="column--right{block:NoSearchResults} container--medium{/block:NoSearchResults}">
        <h2>
          {block:SearchResults}{lang:Search results for SearchQuery}{/block:SearchResults}
          {block:NoSearchResults}{lang:No results for SearchQuery}{/block:NoSearchResults}
        </h2>
      </div>
    {/block:SearchPage}

    <form action="/search" method="get" class="search form__row--inline column--right{block:SearchPage}{block:NoSearchResults} container--medium{/block:NoSearchResults}{/block:SearchPage}">
      <input type="text" name="q" value="{SearchQuery}" class="search__input input" />
      <button type="submit" class="search__button button button--small" />Search Blog</button>
    </form>

    {block:Posts inlineMediaWidth="1280"}
      <article class="post">
        <ul class="list--unstyled post__details desktop">
          {block:Date}
            <li>
              <a class="text--uppercase text--extra-bold post__date" href="/day/{Year}/{MonthNumberWithZero}/{DayOfMonthWithZero}">
                {ShortMonth} {DayOfMonth}, {Year}
              </a>
            </li>
          {/block:Date}

          <li class="post__detail text--uppercase">
            <a href="{Permalink}" class="post__detail-link--type js-ga-trigger" data-ga-category="Posts" data-ga-action="click" data-ga-label="{Permalink}">
              {PostType}
            </a>
          </li>

          {block:HasTags}
            {block:Tags}
              <li class="post__detail text--uppercase">
                <a href="{TagURL}">{Tag}</a>
              </li>
            {/block:Tags}
          {/block:HasTags}

          {block:RebloggedFrom}
            <li class="post__detail post__detail--reblog text--uppercase">
              {lang:Reblogged from}<br /><a href="{ReblogParentURL}">{ReblogParentName}</a>
            </li>
          {/block:RebloggedFrom}

          {block:NoteCount}
            <li class="post__detail post__detail--count text--uppercase">
              <a href="{Permalink}">{NoteCountWithLabel}</a>
            </li>
          {block:NoteCount}

          {block:IfDisqusShortname}
            <li class="post__detail post__detail--count text--uppercase">
              <a class="dsq-comment-count disqus-comment-count" data-disqus-url="{Permalink}" href="{Permalink}#disqus_thread">Comments</a>

              <script type="text/javascript">
                var disqus_shortname = '{text:Disqus Shortname}';

                (function () {
                  var s = document.createElement('script'); s.async = true;
                  s.type = 'text/javascript';
                  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
              </script>
            </li>
          {/block:IfDisqusShortname}
        </ul>

        <div class="post__well well well--no-padding">
          <div class="post__content well__row">
            {block:Text}
              {block:Title}
                <h2>
                  {block:IndexPage}
                    <a href="{Permalink}">{Title}</a>
                  {/block:IndexPage}

                  {block:PermalinkPage}{Title}{/block:PermalinkPage}
                </h2>
              {/block:Title}

              {Body}
            {/block:Text}

            {block:Photo}
              <div class="post__photo">
                {block:LinkURL}
                  <a href="{LinkURL}">
                {/block:LinkURL}

                {block:HighRes}
                  <img src="{PhotoURL-HighRes}" alt="{PhotoAlt}">
                {/block:HighRes}

                <img class="{block:HighRes}u--hidden{/block:HighRes}" src="{PhotoURL-500}" alt="{PhotoAlt}"/>

                {block:LinkURL}
                  </a>
                {/block:LinkURL}
              </div>

              {block:Caption}
                <div class="post__caption">{Caption}</div>
              {/block:Caption}
            {/block:Photo}

            {block:Panorama}
              <div class="post__photo">
                {block:LinkURL}
                  <a href="{LinkURL}">
                {/block:LinkURL}

                <img src="{PhotoURL-Panorama}" alt="{PhotoAlt}"/></a>

                {block:LinkURL}
                  </a>
                {/block:LinkURL}
              </div>

              {block:Caption}
                <div class="post__caption">{Caption}</div>
              {/block:Caption}
            {/block:Panorama}

            {block:Photoset}
              <div class="post__photo">
                {block:Photos}
                  <img src="{PhotoURL-500}" alt="{PhotoAlt}"/>
                {/block:Photos}
              </div>

              {block:Caption}
                <div class="post__caption">{Caption}</div>
              {/block:Caption}
            {/block:Photoset}

            {block:Quote}
              <h2>“{Quote}”</h2>

              {block:Source}
                <div class="post__caption">{Source}</div>
              {/block:Source}
            {/block:Quote}

            {block:Link}
              <h2>
                <a class="post__link" href="{URL}" {Target}>
                  <i class="fa fa-lg fa-link fa-flip-horizontal post__link-icon"></i>
                  {Name}
                </a>
              </h2>

              {block:Excerpt}
                <blockquote class="post__blockquote">{Excerpt}</blockquote>
              {/block:Excerpt}

              {block:Description}
                <div class="post__caption">{Description}</div>
              {/block:Description}
            {/block:Link}

            {block:Chat}
              {block:Title}
                <h2>{Title}</h2>
              {/block:Title}

              <ul class="list--unstyled">
                {block:Lines}
                  <li>
                    {block:Label}
                      <span>{Label}</span>
                    {/block:Label}
                    {Line}
                  </li>
                {/block:Lines}
              </ul>
            {/block:Chat}

            {block:Video}
              <div class="post__video">
                <div class="post__video-embed">{Video-700}</div>
              </div>

              {block:Caption}
                <div class="post__caption">{Caption}</div>
              {/block:Caption}
            {/block:Video}

            {block:Audio}
              {block:AlbumArt}
                <img src="{AlbumArtURL}" alt="{block:Album}{Album}{/block:Album}"/>
              {/block:AlbumArt}

              {AudioEmbed}

              {block:Caption}
                <div class="post__caption">{Caption}</div>
              {/block:Caption}
            {/block:Audio}

            {block:Answer}
                <p>{lang:Asker asked}:</p>
                <h2>{Question}</h2>
                <div>{Answer}</div>
            {/block:Answer}
          </div>

          <ul class="list--unstyled post__details well__row mobile">
            <li class="post__detail text--uppercase">
              <a href="{Permalink}" class="post__detail-link--type js-ga-trigger" data-ga-category="Posts" data-ga-action="click" data-ga-label="{Permalink}">
                {PostType}
              </a>
            </li>

            {block:HasTags}
              {block:Tags}
                <li class="post__detail text--uppercase">
                  <a href="{TagURL}" class="post-tag">{Tag}</a>
                </li>
              {/block:Tags}
            {/block:HasTags}

           {block:RebloggedFrom}
              <li class="post__detail text--uppercase post__detail--reblog">
                Reblogged from<br /><a href="{ReblogParentURL}">{ReblogParentName}</a>
              </li>
            {/block:RebloggedFrom}

            {block:NoteCount}
              <li class="post__detail post__detail--count text--uppercase">
                <a href="{Permalink}">{NoteCountWithLabel}</a>
              </li>
            {block:NoteCount}

            {block:IfDisqusShortname}
              <li class="post__detail post__detail--count text--uppercase">
                <a class="dsq-comment-count disqus-comment-count" data-disqus-url="{Permalink}" href="{Permalink}#disqus_thread">Comments</a>
              </li>
            {block:IfDisqusShortname}
          </ul>

          <ul class="list--unstyled post__actions well__row">
            {block:IndexPage}
              <li class="post__action post__action--permalink">
                <a class="post__action-link text--uppercase" href="{Permalink}">Permalink</a>
              </li>
            {/block:IndexPage}

            <li class="post__action">
              {LikeButton color="black" size="15"}
            </li>

            <li class="post__action">
              {ReblogButton color="black" size="15"}
            </li>
          </ul>
        </div>
      </article>
    {/block:Posts}

    {block:PermalinkPage}
      {block:PostNotes}
        <section class="column--right well well--no-padding">
          <div class="text--medium">
            <div class="notes__header text--uppercase text--extra-bold">{lang:Notes}</div>
            {PostNotes}
          </div>
        </section>
      {/block:PostNotes}

      {block:IfDisqusShortname}
        <section class="column--right well well--no-padding">
          <div class="text--medium">
            <div class="notes__header text--uppercase text--extra-bold">Comments</div>

            <div class="disqus">
              <div id="disqus_thread"></div>

              <script type="text/javascript">
                var disqus_shortname = '{text:Disqus Shortname}';
                var disqus_url = '{Permalink}';

                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>

              <noscript>
                Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a>
              </noscript>

              {lang:Blog comments powered by Disqus 2}
            </div>
          </div>
        </section>
      {/block:IfDisqusShortname}
    {/block:PermalinkPage}

    {block:Pagination}
      <div class="pagination text--uppercase text--extra-bold text--small">
        <div>
          {block:PreviousPage}<a href="{PreviousPage}">{lang:Previous}</a>{/block:PreviousPage}
        </div>

        <div>
          {block:NextPage}<a href="{NextPage}">{lang:Next}</a>{/block:NextPage}
        </div>
      </div>
    {/block:Pagination}

    {block:PermalinkPagination}
      <div class="pagination text--uppercase text--extra-bold text--small">
        <div>
          {block:PreviousPost}<a href="{PreviousPost}">{lang:Previous post}</a>{/block:PreviousPost}
        </div>

        <div>
          {block:NextPost}<a href="{NextPost}">{lang:Next post}</a>{/block:NextPost}
        </div>
      </div>
    {/block:PermalinkPagination}

    {block:DayPagination}
      <div class="pagination text--uppercase text--extra-bold text--small">
        <div>
          {block:PreviousDayPage}<a href="{PreviousDayPage}">{lang:Previous day}</a>{/block:PreviousDayPage}
        </div>

        <div>
          {block:NextDayPage}<a href="{NextDayPage}">{lang:Next day}</a>{/block:NextDayPage}
        </div>
      </div>
    {/block:DayPagination}
  </main>

  {block:PermalinkPage}
    <section class="related">
      <div class="container container--large">
        {block:RelatedPosts}
          <section class="column--right">
            <h3 class="text--uppercase">Related Posts</h3>

            <div class="related__items">
              {block:Posts}
                <div class="related__post well text--medium">
                  {block:Text}
                    {block:Title}<h4>{Title}</h4>{/block:Title}
                    {Body}
                  {/block:Text}

                  {block:Photo}
                    <div class="post__photo">
                      <img src="{PhotoURL-500}" alt="{PhotoAlt}"/>
                    </div>

                    {block:Caption}
                      <div class="post__caption">{Caption}</div>
                    {/block:Caption}
                  {/block:Photo}

                  {block:Panorama}
                    <div class="post__photo">
                      <img src="{PhotoURL-Panorama}" alt="{PhotoAlt}"/>
                    </div>

                    {block:Caption}
                      <div class="post__caption">{Caption}</div>
                    {/block:Caption}
                  {/block:Panorama}

                  {block:Photoset}
                    <div class="post__photo">
                      {block:Photos}
                        <img src="{PhotoURL-500}" alt="{PhotoAlt}"/>
                      {/block:Photos}
                    </div>

                    {block:Caption}
                      <div class="post__caption">{Caption}</div>
                    {/block:Caption}
                  {/block:Photoset}

                  {block:Quote}
                    <h4>“{Quote}”</h4>

                    {block:Source}
                      <div class="post__caption">{Source}</div>
                    {/block:Source}
                  {/block:Quote}

                  {block:Link}
                    <h4>{Name}</h4>

                    {block:Excerpt}
                      <blockquote>{Excerpt}</blockquote>
                    {/block:Excerpt}

                    {block:Description}
                      <div class="post__caption">{Description}</div>
                    {/block:Description}
                  {/block:Link}

                  {block:Chat}
                    {block:Title}<h4>{Title}</h4>{/block:Title}

                    <ul class="list--unstyled">
                      {block:Lines}
                        <li>
                          {block:Label}
                            <span>{Label}</span>
                          {/block:Label}
                          {Line}
                        </li>
                      {/block:Lines}
                    </ul>
                  {/block:Chat}

                  {block:Video}
                    <div class="post__video">
                      <div class="post__video-embed">{Video-700}</div>
                    </div>

                    {block:Caption}
                      <div class="post__caption">{Caption}</div>
                    {/block:Caption}
                  {/block:Video}

                  {block:Audio}
                    {block:AlbumArt}
                      <img src="{AlbumArtURL}" alt="{block:Album}{Album}{/block:Album}"/>
                    {/block:AlbumArt}

                    {AudioEmbed}

                    {block:Caption}
                      <div class="post__caption">{Caption}</div>
                    {/block:Caption}
                  {/block:Audio}

                  {block:Answer}
                    <h4>{Question}</h4>
                    <div class="post-answer">{Answer}</div>
                  {/block:Answer}

                  <a href="{Permalink}" class="related__permalink post__action-link text--uppercase">
                    Read More
                  </a>
                </div>
              {/block:Posts}
            </div>
          </section>
        {/block:RelatedPosts}
      </div>
    </section>
  {/block:PermalinkPage}

  <footer class="footer bg-solid--white">
    <div class="footer__content">
      <ul class="list--unstyled footer__social">
        <li class="social">
          <a href="https://twitter.com/laurenashpole" class="social__link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>

        <li class="social">
          <a href="https://www.pinterest.com/laurenashpole/" class="social__link">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>

        <li class="social">
          <a href="https://github.com/laurenashpole" class="social__link">
            <i class="fa fa-github"></i>
          </a>
        </li>

        <li class="social">
          <a href="https://codepen.io/laurenashpole/" class="social__link">
            <i class="fa fa-codepen"></i>
          </a>
        </li>
      </ul>

      <div class="footer__form-section">
        <form action="https://www.laurenashpole.com/mailing/signup" class="form__row--inline mailing--inline" id="jsMailingForm">
          <div class="mailing__input-section">
            <input type="email" class="input input--small u--center-mobile" name="email" id="jsMailingEmail" placeholder="Enter your email address" value="">
          </div>

          <div class="form__hidden" aria-hidden="true">
            <input id="jsMailingHidden" type="text" name="b_5e9c643a20b49926773037101_a878f779fc" tabindex="-1" value="">
          </div>

          <div class="mailing__button-section">
            <button type="submit" name="subscribe" class="button button--small js-ga-trigger" id="jsMailingButton" data-ga-category="Footer" data-ga-action="click" data-ga-label="Get Updates!">Get Updates!</button>
          </div>
        </form>
      </div>
    </div>
  </footer>

  <script src="//static.tumblr.com/w45vvio/xXxpmn37h/blog.471832c08e71aa242b33.js"></script>
</body>
</html>