.container {
    width: 100%;
    max-width: $width-wide;
    margin: 0 auto;
    padding: 0 0.65rem;
    position: relative;
    overflow: hidden;
}

.container__content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.container__content-medium {
    max-width: $width-medium;
}

.container__content--narrow {
    max-width: $width-narrow;
}

.container--full-height {
    @include flex-child(2);
    @include flex();
    @include flex-direction(column);
    @include flex-justify(center);
}

.container--justify-top {
    @include flex-justify(flex-start);
}

.container--sticky-mobile {
    width: 100%;
    max-width: $width-wide;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.container--vertical-padding {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {

    .container {
        padding: 0 1rem;
    }

    .container--sticky-mobile {
        padding: 0 1rem;
        position: relative;
    }

    .container--vertical-padding {
        padding-top: 3.5rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: 1024px) {

    .container {
        padding: 0 1.5rem;
    }

    .container--sticky-mobile {
        padding: 0 1.5rem;
    }

    .container--vertical-padding {
        padding-top: 4.5rem;
        padding-bottom: 5rem;
    }
}