.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav {
    height: 63px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.nav-header {
    width: 100%;
    padding: 0 0 0 0.5rem;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.nav-logo {
    width: 65px;
    height: 30px;
    display: block;
    color: $header-color-primary;
}

.nav-icon-container {
    background: $header-color-secondary;
    margin: 0.5rem;
    padding: 10px 9px 11px 9px;
}

.nav-icon {
    width: 27px;
    height: 24px;
    position: relative;
    display: block;
}

.nav-icon-line {
    background: $color-white;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 1px;
    top: 0;
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.nav-icon-line:nth-child(2),
.nav-icon-line:nth-child(3) {
    width: 20px;
    left: 0;
    top: 11px;
}

.nav-icon-line:nth-child(4) {
    width: 22px;
    top: 22px;
    left: 5px;
}

.nav.is-open .nav-icon-line:nth-child(1),
.nav.is-open .nav-icon-line:nth-child(4) {
    width: 0;
    top: 10px;
    left: 50%;
}

.nav.is-open .nav-icon-line:nth-child(2) {
    width: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav.is-open .nav-icon-line:nth-child(3) {
    width: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-links {
    background: $color-white;
    width: 100%;
    border-bottom: 1px solid $header-color-secondary;
    -webkit-transform: translate3d(0, -webkit-calc(-100% + 1px), 0);
    transform: translate3d(0, calc(-100% + 1px), 0);
    -webkit-transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.nav.is-open .nav-links {
    -webkit-transform: translate3d(0, -63px, 0);
    transform: translate3d(0, -63px, 0);
}

.nav-links-list {
    padding: 63px 0 0 0;
    position: relative;
    z-index: 1;
}

.nav-link {
    margin: 0 0.5rem;
    border-top: 1px solid $header-color-gray;
    padding: 0 0.25rem;
    line-height: 62px;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.05s;
    transition: opacity 0.05s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav.is-open .nav-link {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

@media (min-width: 768px) {

    .header {
        position: relative;
    }

    .nav {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 15px 30px 0 30px;
        position: relative;
        z-index: 1;
    }

    .nav-header {
        width: auto;
        padding: 0;
    }

    .nav-logo-container {
        background: $header-color-primary;
        width: 75px;
        height: 75px;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .nav-logo {
        width: 55px;
        height: 25px;
        position: relative;
        z-index: 1;
        color: $color-white;
    }

    .nav-links,
    .nav.is-open .nav-links {
        width: auto;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .nav-links {
        background: none;
        border: none;
    }

    .nav-links:before,
    .nav-links:after {
        content: none;
    }

    .nav-links-list {
        height: 100%;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .nav-link {
        margin: 0 0 0 50px;
        padding: 0;
        border: none;
        font-size: 14px;
        line-height: normal;
        opacity: 1;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
}

@media (min-width: 1024px) {

    .nav-link {
        margin: 0 0 0 70px;
    }
}