.nav {
    height: 63px;
    @include flex();
    @include flex-wrap(wrap);
    @include flex-justify(space-between);
}

.nav__header {
    background: $color-white;
    width: 100%;
    height: 63px;
    padding: 0 0 0 0.65rem;
    position: relative;
    z-index: 2;
    @include flex();
    @include flex-align(center);
    @include flex-justify(space-between);
}

.nav__logo-svg {
    width: 65px;
    height: 30px;
    display: block;
    color: $header-color;
}

.nav__icon {
    background: $header-color;
    width: 45px;
    height: 45px;
    margin: 0.5rem 0.65rem;
    padding: 10px 9px 11px 9px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
}

.nav__icon-line {
    background: $color-white;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    @include transition(all 0.25s ease-in-out);
}

.nav__icon-line:nth-child(2),
.nav__icon-line:nth-child(3) {
    width: 20px;
    left: 9px;
    top: 21px;
}

.nav__icon-line:nth-child(4) {
    width: 22px;
    left: 14px;
    top: 32px;
}

.nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(1),
.nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(4) {
    width: 0;
    top: 21px;
    left: 50%;
}

.nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(2) {
    width: 27px;
    @include transform(rotate(45deg));
}

.nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(3) {
    width: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav__links {
    background: $color-white;
    width: 100%;
    border-bottom: 2px solid $header-color-accent;
    padding: 63px 0 0 0;
    position: relative;
    z-index: 1;
    @include transform(translate3d(0, calc(-100% + 2px), 0));
    @include transition(transform 0.4s);
}

.nav__checkbox:checked ~ .nav__links {
    @include transform(translate3d(0, 0, 0));
}

.nav__link {
    margin: 0 0.65rem;
    border-top: 1px solid $border-color;
    padding: 0 0.25rem;
    line-height: 62px;
    color: $color-black;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    display: block;
    opacity: 0;
    @include transition(opacity 0.05s linear 0s);
}

.no-touch .nav__link:hover {
    color: $color-black;
}

.nav__checkbox:checked ~ .nav__links .nav__link {
    opacity: 1;
    @include transition(opacity 0.4s linear 0.2s);
}

@media (min-width: 768px) {

    .nav {
        height: auto;
        padding-top: 0.75rem;
        position: relative;
        z-index: 1;
    }

    .nav__header {
        width: auto;
        height: auto;
        padding: 0;
    }

    .nav__logo {
        background: $header-color;
        width: 75px;
        height: 75px;
        padding: 0;
        @include flex();
        @include flex-align(center);
        @include flex-justify(center);
    }

    .no-touch .nav__logo:hover {
        background: $header-color-hover;
    }

    .nav__logo-svg {
        width: 55px;
        height: 25px;
        position: relative;
        z-index: 1;
        color: $color-white;
    }

    .nav__links,
    .nav.is-open .nav__links {
        width: auto;
        @include transform(translate3d(0, 0, 0));
    }

    .nav__links {
        background: none;
        border: none;
        padding: 0;
        @include flex();
        @include flex-justify(flex-end);
        @include flex-align(center);
    }

    .nav__link {
        margin: 0 0 0 50px;
        padding: 0.5rem calc(0.75rem - 0.2rem) 0.5rem 0.75rem;
        border: none;
        line-height: normal;
        opacity: 1;
        @include transition(color 0.3s);
    }
}

@media (min-width: 1024px) {

    .nav__link {
        margin: 0 0 0 70px;
    }
}