@import '../../shared/styles/keyframes.scss';

@keyframes wave {
  0%,
  80%,
  100% {
    height: 1.75rem;
  }
  40% {
    height: 3.25rem;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0);
  }
  25% {
    opacity: 1;
  }
  60% {
    transform: translate3d(0.5rem, 0, 0);
  }
  90% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}