.shops {
    @include flex();
    @include flex-wrap(wrap);
}

.shops__item {
    width: 50%;
    padding: 15px 5%;
    @include flex();
    @include flex-align(center);
}

.shops__link {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px) {

    .shops__item {
        width: 25%;
        position: relative;
    }
}