figure {
    margin: 0;
}

a img {
    border: none;
}

.img-bg {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 100%;
    position: relative;
    z-index: 1;
}

.img-default {
    display: block;
}

.img-retina {
    display: none;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

    .img-default {
        display: none;
    }

    .img-retina {
        display: block;
    }
}