.search__input {
  background: $color-white;
  width: 66.666%;
  min-height: 2.5rem;
  border-radius: 3px 0 0 3px;
  line-height: normal;
}

.search__input:focus {
  border-right: none;
}

.search__button {
  width: 33.333%;
  border-radius: 0 3px 3px 0;
  line-height: 1.15em;
}

@media (min-width: $break-tablet) {
  .search {
    margin-top: 1.5rem;
  }
}