.bg-dots:before {
  content: " ";
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 150'%3E%3Cpath fill='#{$color-white}' d='M6 3.8c-6.3 1.7-7.9 8.9-3.5 13.9 1.7 1.9 3.8 3.4 6.1 4.4 6.9 3.1 14 3.6 21.3 2.2 4.5-.8 8.2-3.1 11.5-6.1 2-1.9 3.5-4.2 3.5-7.1C45.1 6 40 0 34.9 0 20.5 0 13.5 1.8 6 3.8zM86 78.8c-6.3 1.7-7.9 8.9-3.5 13.9 1.7 1.9 3.8 3.4 6.1 4.4 6.9 3.1 14 3.6 21.3 2.2 4.5-.8 8.2-3.1 11.5-6.1 2-1.9 3.5-4.2 3.5-7.1.1-5-5-11.1-10.1-11.1-14.3 0-21.3 1.8-28.8 3.8z'/%3E%3C/svg%3E");
  background-size: 55px;
  width: 550px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  @include transform(rotate(30deg));
}

.bg-abstract--img {
  width: 120%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  color: $color-pink;
  @include transform(translate3d(-50%, -50%, 0));
}

.bg-abstract--img:first-child {
  color: $color-green-light;
}

@media (min-width: $break-tablet) {
  .bg-dots:before {
    top: 5%;
    left: 30%;
  }

  .bg-abstract--img {
    width: 100%;
  }
}

@media (min-width: $break-desktop) {
  .bg-abstract--img {
    width: 120%;
    left: 0;
    @include transform(translate3d(0, -52.5%, 0));
  }


  .bg-abstract--img:first-child {
    width: 110%;
  }
}