a,
.link {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: $color-red;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: $color-red;
  border-bottom-color: $color-red;
}