.mailing__input {
  width: 100%;
  padding-bottom: 0.5rem;

  input {
    text-align: center;
  }
}

.mailing__button {
  width: 100%;
}

.mailing--inline {
  .mailing__input {
    width: 66.666%;
    padding: 0.5rem 0 0.5rem 0.5rem;

    input {
      text-align: left;
    }
  }

  .mailing__button {
    width: 33.333%;
    padding: 0.5rem;
  }
}

@media (min-width: $break-desktop) {
  .mailing--inline {
    max-width: 600px;
    margin-left: auto;
  }
}

@media (min-width: $break-desktop-wide) {
  .mailing__input {
    padding-bottom: 0.75rem;
  }
}