.tag {
  background: $color-purple;
  border: none;
  border-radius: 3px;
  margin: 0 0.666em 1.333em 0.666em;
  padding: 0.3333em 1em;
  color: $color-white;
  display: block;

  &:hover,
  &:focus {
    background: $color-purple-hover;
    color: $color-white;
  }
}