.well {
  background: $color-white;
  border-radius: 6px;
}

.well + .well {
  margin-top: 1.5rem;
}

.well__heading {
  margin: 0;
}

.well__row {
  padding: 1.15rem 1rem 1rem 1rem;
}

.well__row + .well__row {
  border-top: 1px solid $color-gray-med-light;
  padding-top: 1.5rem;
}

.well__row--py-sm {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: $break-tablet) {
  .well__row {
    padding: 1.5rem;
  }

  .well__row--py-sm {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: $break-desktop) {
  .well__row--px-lg {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .well__row--py-lg,
  .well__row + .well__row--py-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}