.well {
  background: $color-white;
  padding: 0.975rem;
  border-radius: 6px;
}

.well + .well {
  margin-top: 1.5rem;
}

.well--no-padding {
  padding: 0;
}

.well__row {
  @include flex();
  position: relative;
}

.well__row + .well__row {
  border-top: 2px solid $color-gray-light;
}

@media (min-width: $break-tablet) {
  .well {
    padding: 1.5rem;
  }

  .well--no-padding {
    padding: 0;
  }

  .well--extra-padding {
    padding: 3rem;
  }
}