<section class="font__section">
  <div class="container container--medium">
    <h2 class="font__heading text--uppercase u--center-mobile">Additional Images</h2>

    <div class="well gallery">
      <div class="gallery__main">
        <amp-carousel id="carousel-with-preview"
          width="768"
          height="384"
          layout="responsive"
          type="slides"
        >
          {% for image in font.image_collection %}
            <amp-img src="{{host_url}}/images/fonts/{{image}}"
              width="768"
              height="384"
              layout="responsive"
              alt="{{font.name}}"
            >
            </amp-img>
          {% endfor %}
        </amp-carousel>
      </div>

      {% if font.image_collection_thumbnails.length > 1 %}
        <div class="gallery__thumbnails">
          <div class="carousel-preview gallery__thumbnails-inner">
            {% for index, image in font.image_collection_thumbnails %}
              <button class="gallery__thumbnail" on="tap:carousel-with-preview.goToSlide(index={{index}})">
                <amp-img src="{{host_url}}/images/fonts/{{image}}"
                  width="200"
                  height="100"
                  layout="responsive"
                  alt="{{font.name}} Thumbnail"
                >
                </amp-img>
              </button>
            {% endfor %}
          </div>
        </div>
      {% endif%}
    </div>
  </div>
</section>