<section class="font__glyphs u--center">
  <h2 class="font__heading text--uppercase">Glyphs</h2>

  {% if font.commercial_file.additional_chars.is_included %}
    <input type="radio" name="font-glyph" id="fontGlyphBasic" class="u--hidden font__glyphs-radio--basic" checked />
    <label for="fontGlyphBasic" class="text--uppercase text--medium text--extra-bold font__heading-link">Basic Characters</label>

    <input type="radio" name="font-glyph" id="fontGlyphAdditional" class="u--hidden font__glyphs-radio--additional" />
    <label for="fontGlyphAdditional" class="text--uppercase text--medium text--extra-bold font__heading-link">Additional Characters</label>
  {% endif %}

  <div class="font__glyphs-grid font__glyphs-grid--basic font-{{font.slug}}">
    {% for char in glyphs.basic %}
      <div class="font__glyphs-char is-{{char.type}}">
        <span class="font__glyphs-key">{{char.glyph}}</span>{{char.glyph}}
      </div>
    {% endfor %}
  </div>

  {% if font.commercial_file.additional_chars.is_included %}
    <div class="font__glyphs-grid font__glyphs-grid--additional font-{{font.slug}}">
      {% for glyph in glyphs.additional %}
        <div class="font__glyphs-char is-additional">
          <span class="font__glyphs-key">{{glyph}}</span>{{glyph}}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>