<section class="font__section">
  <div class="container container--medium">
    <h2 class="font__heading text--uppercase u--center-mobile">Glyphs</h2>

    <div class="u--center-mobile {% if font.commercial_file.additional_chars.is_included %}has-options{% endif %}">
      <input type="radio" name="font-glyph" id="fontGlyphBasic" class="u--hidden font-glyphs__radio--basic" checked />
      <label for="fontGlyphBasic" class="text--uppercase text--medium text--extra-bold font__heading-link">
        <span class="text--extra-bold">Basic Characters</span>
      </label>

      <input type="radio" name="font-glyph" id="fontGlyphAdditional" class="u--hidden font-glyphs__radio--additional" />
      <label for="fontGlyphAdditional" class="text--uppercase text--medium text--extra-bold font__heading-link">
        <span class="text--extra-bold">Additional Characters</span>
      </label>

      <div class="well font-glyphs font-glyphs--basic font-{{font.slug}}">
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">!</span>!
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">"</span>"
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">#</span>#
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">$</span>$
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">%</span>%
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">&amp;</span>&amp;
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">'</span>'
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">(</span>(
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">)</span>)
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">*</span>*
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">+</span>+
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">,</span>,
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">-</span>-
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">.</span>.
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">/</span>/
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">0</span>0
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">1</span>1
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">2</span>2
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">3</span>3
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">4</span>4
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">5</span>5
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">6</span>6
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">7</span>7
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">8</span>8
        </div>
        <div class="font-glyphs__char is-number">
          <span class="font-glyphs__key">9</span>9
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">:</span>:
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">;</span>;
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key"><</span><
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">=</span>=
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">></span>>
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">?</span>?
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">@</span>@
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">A</span>A
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">B</span>B
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">C</span>C
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">D</span>D
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">E</span>E
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">F</span>F
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">G</span>G
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">H</span>H
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">I</span>I
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">J</span>J
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">K</span>K
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">L</span>L
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">M</span>M
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">N</span>N
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">O</span>O
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">P</span>P
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">Q</span>Q
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">R</span>R
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">S</span>S
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">T</span>T
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">U</span>U
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">V</span>V
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">W</span>W
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">X</span>X
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">Y</span>Y
        </div>
        <div class="font-glyphs__char is-capital">
          <span class="font-glyphs__key">Z</span>Z
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">[</span>[
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">\</span>\
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">]</span>]
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">^</span>^
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">_</span>_
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">`</span>`
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">a</span>a
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">b</span>b
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">c</span>c
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">d</span>d
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">e</span>e
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">f</span>f
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">g</span>g
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">h</span>h
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">i</span>i
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">j</span>j
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">k</span>k
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">l</span>l
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">m</span>m
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">n</span>n
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">o</span>o
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">p</span>p
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">q</span>q
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">r</span>r
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">s</span>s
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">t</span>t
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">u</span>u
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">v</span>v
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">w</span>w
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">x</span>x
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">y</span>y
        </div>
        <div class="font-glyphs__char is-lower">
          <span class="font-glyphs__key">z</span>z
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">{</span>{
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">|</span>|
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">}</span>}
        </div>
        <div class="font-glyphs__char is-symbol">
          <span class="font-glyphs__key">~</span>~
        </div>
      </div>

      {% if font.commercial_file.additional_chars.is_included %}
        <div class="well font-glyphs font-glyphs--additional font-{{font.slug}}">
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&iexcl;</span>&iexcl;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&cent;</span>&cent;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&pound;</span>&pound;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&curren;</span>&curren;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&yen;</span>&yen;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&brvbar;</span>&brvbar;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&sect;</span>&sect;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&uml;</span>&uml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&copy;</span>&copy;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ordf;</span>&ordf;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&laquo;</span>&laquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&not;</span>&not;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&reg;</span>&reg;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&deg;</span>&deg;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&plusmn;</span>&plusmn;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&sup2;</span>&sup2;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&sup3;</span>&sup3;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&acute;</span>&acute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&micro;</span>&micro;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&para;</span>&para;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&middot;</span>&middot;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&cedil;</span>&cedil;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&sup1;</span>&sup1;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ordm;</span>&ordm;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&raquo;</span>&raquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&frac14;</span>&frac14;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&frac12;</span>&frac12;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&frac34;</span>&frac34;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&iquest;</span>&iquest;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Agrave;</span>&Agrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Aacute;</span>&Aacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Acirc;</span>&Acirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Atilde;</span>&Atilde;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Auml;</span>&Auml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Aring;</span>&Aring;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&AElig;</span>&AElig;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ccedil;</span>&Ccedil;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Egrave;</span>&Egrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Eacute;</span>&Eacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ecirc;</span>&Ecirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Euml;</span>&Euml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Igrave;</span>&Igrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Iacute;</span>&Iacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Icirc;</span>&Icirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Iuml;</span>&Iuml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ETH;</span>&ETH;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ntilde;</span>&Ntilde;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ograve;</span>&Ograve;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Oacute;</span>&Oacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ocirc;</span>&Ocirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Otilde;</span>&Otilde;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ouml;</span>&Ouml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&times;</span>&times;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Oslash;</span>&Oslash;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ugrave;</span>&Ugrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Uacute;</span>&Uacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Ucirc;</span>&Ucirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Uuml;</span>&Uuml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&Yacute;</span>&Yacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&THORN;</span>&THORN;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&szlig;</span>&szlig;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&agrave;</span>&agrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&aacute;</span>&aacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&acirc;</span>&acirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&atilde;</span>&atilde;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&auml;</span>&auml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&aring;</span>&aring;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&aelig;</span>&aelig;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ccedil;</span>&ccedil;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&egrave;</span>&egrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&eacute;</span>&eacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ecirc;</span>&ecirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&euml;</span>&euml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&igrave;</span>&igrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&iacute;</span>&iacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&icirc;</span>&icirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&iuml;</span>&iuml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&eth;</span>&eth;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ntilde;</span>&ntilde;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ograve;</span>&ograve;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&oacute;</span>&oacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ocirc;</span>&ocirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&otilde;</span>&otilde;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ouml;</span>&ouml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&divide;</span>&divide;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&oslash;</span>&oslash;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ugrave;</span>&ugrave;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&uacute;</span>&uacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ucirc;</span>&ucirc;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&uuml;</span>&uuml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&yacute;</span>&yacute;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&thorn;</span>&thorn;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&yuml;</span>&yuml;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&#338;</span>&#338;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&#339;</span>&#339;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&#376;</span>&#376;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&euro;</span>&euro;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&sbquo;</span>&sbquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ldquo;</span>&ldquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&hellip;</span>&hellip;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&lsaquo;</span>&lsaquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&rsaquo;</span>&rsaquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&lsquo;</span>&lsquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&rsquo;</span>&rsquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ldquo;</span>&ldquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&rdquo;</span>&rdquo;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&bull;</span>&bull;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&ndash;</span>&ndash;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&mdash;</span>&mdash;
          </div>
          <div class="font-glyphs__char is-additional">
            <span class="font-glyphs__key">&trade;</span>&trade;
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>