<section class="font__section font__details">
  <h3 class="text--uppercase u--center-mobile">Details</h3>

  <ul class="text--uppercase text--medium text--extra-bold list--unstyled u--center-mobile">
    <li class="font__heading-link">
      <a href="{{host_url}}/fonts/licensing" title="Licensing">Licensing Info</a>
    </li>
    <li class="font__heading-link">
      <a href="{{host_url}}/fonts/eula" title="EULA">View EULA</a>
    </li>
  </ul>

  <div class="font__details-date text--medium">
    Created: {{font.date_created}}
    {% if font.date_modified %} / Modified: {{font.date_modified}}{% endif %}
  </div>

  {% if font.description %}
    <div class="font__details-description">
      {% autoescape false %}{{font.description}}{% endautoescape %}
    </div>
  {% endif %}

  <div class="font__details-lists text--medium">
    {% if font.commercial_font_file %}
      <ul class="list--unstyled font__details-list">
        <li class="font__details-list-heading text--uppercase text--extra-bold">Commercial Use Details</li>

        {% for detail in font.commercial_file %}
          {% if detail.is_included %}
            <li>{{detail.name}}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if font.personal_font_file %}
      <ul class="list--unstyled font__details-list">
        <li class="font__details-list-heading text--uppercase text--extra-bold">Personal Use Details</li>

        {% for detail in font.personal_file %}
          {% if detail.is_included %}
            <li>{{detail.name}}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if font.tags.length %}
      <div class="font__details-tags text--medium">
        <span>Tagged:</span>

        <ul class="list--unstyled">
          {% for tag in font.tags %}
            <li>
              <a href="/fonts/tagged/{{tag|replace('\s+', '-', 'g'|lower)}}" class="tag text--extra-small text--extra-bold text--uppercase">{{tag}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>