<footer class="footer-container">
    <div class="container footer">
        <ul class="list-unstyled footer-social">
            <li class="footer-social-icon">
                <a href="https://twitter.com/laurenashpole" class="has-no-underline footer-social-link">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="footer-social-icon">
                <a href="https://www.pinterest.com/laurenashpole/" class="has-no-underline footer-social-link">
                    <i class="fa fa-pinterest"></i>
                </a>
            </li>
            <li class="footer-social-icon">
                <a href="https://github.com/laurenashpole" class="has-no-underline footer-social-link">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li class="footer-social-icon">
                <a href="http://codepen.io/laurenashpole/" class="has-no-underline footer-social-link">
                    <i class="fa fa-codepen"></i>
                </a>
            </li>
        </ul>

        <div class="footer-form-container">
            <form action-xhr="{{host_url}}/amp/mailing/signup" method="post" class="footer-form" target="_top">
                <div class="footer-input-container">
                    <input type="email" value="" name="email" class="input footer-input is-centered-mobile" id="email" placeholder="Enter your email address">
                </div>

                <div class="footer-input-test" aria-hidden="true"><input type="text" name="b_5e9c643a20b49926773037101_a878f779fc" tabindex="-1" value=""></div>

                <div class="footer-button-container">
                    <button type="submit" name="subscribe" class="button footer-button is-uppercase is-extra-bold is-small-print">
                        <span class="button-content is-default">
                            Get Updates!
                        </span>
                        <span class="button-content is-message"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</footer>