<footer class="footer bg-solid--white">
  <div class="footer__content">
    <ul class="list--unstyled footer__social container container--medium">
      <li class="social">
        <a href="https://twitter.com/laurenashpole" class="social__link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="social">
        <a href="https://www.pinterest.com/laurenashpole/" class="social__link">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>
      <li class="social">
        <a href="https://github.com/laurenashpole" class="social__link">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="social">
        <a href="http://codepen.io/laurenashpole/" class="social__link">
          <i class="fa fa-codepen"></i>
        </a>
      </li>
    </ul>

    <div class="footer__form-section">
      <form action-xhr="{{host_url}}/amp/mailing/signup" method="post" class="footer__form form__row--inline container container--medium" target="_top">
        <div class="mailing__input-section">
          <input type="email" value="" name="email" class="input input--small u--center" id="email" placeholder="Enter your email address">
        </div>

        <div class="form__hidden" aria-hidden="true"><input type="text" name="b_5e9c643a20b49926773037101_a878f779fc" tabindex="-1" value=""></div>

        <div class="mailing__button-section">
          <button type="submit" name="subscribe" class="button button--small text--uppercase text--extra-bold">
            <span class="button__text is-default">
              Get Updates!
            </span>
            <span class="button__text is-message"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>