<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<style amp-custom>
  html {
    height: 100%;
    font: 112.5% "museo-sans-rounded", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #f4f4f4;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    color: #202020;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  h2 {
    width: 100%;
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 900;
    letter-spacing: 0.03em;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 2.167rem;
    line-height: 3rem;
  }

  p {
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
  }

  .text--uppercase {
    text-transform: uppercase;
    letter-spacing: 0.125em;
  }

  .text--extra-bold {
    font-weight: 700;
  }

  .text--medium {
    font-size: 0.9rem;
  }

  .text--extra-small {
    font-size: 0.6rem;
  }

  .u--hidden {
    display: none;
  }

  .u--center {
    text-align: center;
  }

  ul,
  ol {
    margin: 1.5em 0;
  }

  li {
    line-height: 1.5rem;
  }

  .list--unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Header */
  .header {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 0.5rem 0.65rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .header__logo {
    border-bottom: none;
  }

  .header__logo-svg {
    width: 65px;
    height: 30px;
    display: block;
    color: #da3725;
  }

  .header__logo:hover .header__logo-svg,
  .header__logo:focus .header__logo-svg {
    color: #ca3321;
  }

  .header__icon {
    background: #da3725;
    width: 45px;
    height: 45px;
    padding: 10px 9px 11px 9px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  .header__icon:focus {
    background: #ca3321;
    outline: none;
  }

  .header__icon-line {
    background: #fff;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .header__icon-line:nth-child(2),
  .header__icon-line:nth-child(3) {
    width: 20px;
    left: 9px;
    top: 21px;
  }

  .header__icon-line:nth-child(4) {
    width: 22px;
    left: 14px;
    top: 32px;
  }

  .header__checkbox:checked ~ .header__icon .header__icon-line:nth-child(1),
  .header__checkbox:checked ~ .header__icon .header__icon-line:nth-child(4) {
    width: 0;
    top: 21px;
    left: 50%;
  }

  .header__checkbox:checked ~ .header__icon .header__icon-line:nth-child(2) {
    width: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__checkbox:checked ~ .header__icon .header__icon-line:nth-child(3) {
    width: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .header__list {
    background: #da3725;
    border-radius: 3px;
    position: fixed;
    top: 0.5rem;
    right: 0.65rem;
    bottom: calc(100% - 0.5rem - 45px);
    left: calc(100% - 0.65rem - 45px);
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
  }

  .header__checkbox:checked ~ .header__list {
    border-radius: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .header__item {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }

  .header__checkbox:checked ~ .header__list .header__item {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s linear 0.3s;
    transition: all 0.2s linear 0.3s;
  }

  .header__link {
    margin: 0.5rem 1.65rem;
    border: none;
    color: #fff;
    display: inline-block;
  }

  .header__link:hover,
  .header__link:focus {
    color: #fff;
  }

  /* Footer */
  .footer {
    background: #fff;
    margin-top: 1rem;
  }

  .footer__content {
    padding: 0.65rem 0.15rem 0.15rem 0.15rem;
  }

  .container.footer__social {
    padding-top: 0;
    padding-bottom: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .container.footer__form {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Social */
  .social {
    width: 25%;
    height: 2.2rem;
    border-right: 1px solid #eaeaea;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .social:last-child {
    border: none;
  }

  .social__link {
    width: 100%;
    border: none;
    color: #726882;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .social__link:hover,
  .social__link:focus {
    color: #675e75;
  }

  .social__icon--twitter {
    width: 22px;
    height: 18px;
  }

  .social__icon--pinterest {
    width: 19px;
    height: 21px;
  }

  .social__icon--github {
    width: 22px;
    height: 22px;
  }

  .social__icon--codepen {
    width: 26px;
    height: 26px;
  }

  /* Mailing */
  .mailing__input {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .mailing__input input {
    text-align: center;
  }

  .mailing__button {
    width: 100%;
  }

  .mailing--inline .mailing__input {
    width: 66.666%;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  .mailing--inline .mailing__input input {
    text-align: left;
  }

  .mailing--inline .mailing__button {
    width: 33.333%;
    padding: 0.5rem;
  }

  .footer__form.amp-form-submit-success .button__text.is-default,
  .footer__form.amp-form-submit-error .button__text.is-default {
    display: none;
  }

  .footer__form.amp-form-submit-success .button__text.is-message:before {
    content: "Success!";
  }

  .footer__form.amp-form-submit-error .button__text.is-message:before {
    content: "Error! Try again.";
  }

  /* Layout */
  .main {
    -ms-flex: 2 1 auto;
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .main--bg-offset:before {
    content: " ";
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 150'%3E%3Cpath fill='%23ffffff' d='M6 3.8c-6.3 1.7-7.9 8.9-3.5 13.9 1.7 1.9 3.8 3.4 6.1 4.4 6.9 3.1 14 3.6 21.3 2.2 4.5-.8 8.2-3.1 11.5-6.1 2-1.9 3.5-4.2 3.5-7.1C45.1 6 40 0 34.9 0 20.5 0 13.5 1.8 6 3.8zM86 78.8c-6.3 1.7-7.9 8.9-3.5 13.9 1.7 1.9 3.8 3.4 6.1 4.4 6.9 3.1 14 3.6 21.3 2.2 4.5-.8 8.2-3.1 11.5-6.1 2-1.9 3.5-4.2 3.5-7.1.1-5-5-11.1-10.1-11.1-14.3 0-21.3 1.8-28.8 3.8z'/%3E%3C/svg%3E");
    background-size: 55px;
    width: 550px;
    height: 320px;
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: -2;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  .main--bg-offset:after {
    content: " ";
    background-image:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 552 419'%3E%3Cpath fill='%23fae3e1' d='M183.6 414.2c-32.8-5.4-20.7-42.9-36.6-62-19.5-23.3-63.6-23.1-91.4-27.4-54.9-8.4-80.7-22.7-20.2-47.8 72-29.9 138.8-54.5 199.4-106.3 33.7-28.7 61.3-62.4 89.3-96.6 16.8-20.6 43-63.5 70.6-71 83.2-22.5 45.2 107.2 81.3 136 17.5 14 51 2.1 67 18.9 18.3 19.3 3 61.1-5.3 83.3C487.5 375.9 316 435.9 183.6 414.2z'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 469.8 381.5'%3E%3Cpath fill='%23d5e7db' d='M452.9 294.8c-26 17.8-62.1-2.7-86.6 10.7-27.9 15.2-23.3 76-39.3 76-80.8 0-75.1-77.1-141.3-115.5-59-34.3-102.8-39-131.7-57.9-25.4-16.6-51.8-33.3-54-82.2-.6-12.3 7.7-31.1 26.1-31.1 17.8 0 36.7 11 52.3 11 10 0 13.3-7.1 12.2-21-1.2-15-16.8-42.2-17.9-60C71.7 8.3 85-4.5 123.3 1.5c38.5 6 87.2 54.5 115.1 53.3 27.7-1.1 12.2-37.8 43.3-37.8 32.2 0 127 103.4 168.9 190 19.4 40 30 68.9 2.3 87.8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 125% auto;
    background-position: 50% 4rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media (min-width: 768px) {
    .main--bg-offset:before {
      top: 5rem;
      left: 30%;
    }

    .main--bg-offset:after {
      background-size: 100%;
      max-width: calc(768px - 1rem);
      margin-left: calc((100% - (768px - 1rem)) / 2);
    }
  }

  .header + .main {
    margin-top: 63px;
  }

  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 2.5rem 0.65rem 3rem 0.65rem;
  }

  /* Images */
  a img {
    border: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* Forms Base */
  input,
  button,
  select {
    width: 100%;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    line-height: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .input:focus,
  .select__input:focus,
  .button:focus {
    outline: none;
  }

  .input:focus,
  .select__input:focus {
    border-color: #cdcdcd;
  }

  .form__row {
    position: relative;
  }

  .form__row + .form__row {
    margin-top: 1rem;
  }

  .form__row--inline {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .form__hidden {
    position: absolute;
    left: -5000px;
  }

  /* Buttons */
  .button {
    background: #726882;
    width: 100%;
    height: 3.5rem;
    padding: 0 0.5rem;
    border: 2px solid transparent;
    border-radius: 2.5px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    line-height: 1.25em;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: background 0.25s;
    transition: background 0.25s;
  }

  .button:hover {
    background: #675e75;
    border-color: transparent;
    color: #fff;
  }

  .button:focus {
    background: transparent;
    border-color: #675e75;
    color: #675e75;
  }

  .button + .button {
    margin-top: 0.5rem;
  }

  .button--cta-primary {
    background: #da3725;
  }

  .button--cta-primary:hover {
    background: #ca3321;
  }

  .button--cta-primary:focus {
    background: transparent;
    border-color: #ca3321;
    color: #ca3321;
  }

  .button--outline {
    background: none;
    border-color: #da3725;
    color: #da3725;
  }

  .button--outline:hover,
  .button--outline:focus {
    background: none;
    border-color: #ca3321;
    color: #ca3321;
  }

  .button--small {
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .button__text {
    line-height: normal;
  }

  .button__text div {
    margin-top: 4px;
  }

  /* Inputs */
  .input {
    background: #f4f4f4;
    min-height: 3rem;
    padding: 0.5rem;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    line-height: normal;
  }

  .input--small {
    min-height: 2.5rem;
  }

  .input::-webkit-input-placeholder,
  .textarea::-webkit-input-placeholder {
    color: #a7a7a7;
  }

  .input::-moz-placeholder,
  .textarea::-moz-placeholder {
    color: #a7a7a7;
  }

  .input:-ms-input-placeholder,
  .textarea:-ms-input-placeholder {
    color: #a7a7a7;
  }

  .input:-moz-placeholder,
  .textarea:-moz-placeholder {
    color: #a7a7a7;
  }

  /* Selects */
  .select {
    position: relative;
  }

  .select__input {
    background: #f4f4f4;
    min-height: 3rem;
    padding: 0 2.65rem 0 0.5rem;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    line-height: 2.3rem;
  }

  .select__caret {
    height: 100%;
    width: 2.65rem;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .select__caret:before,
  .select__caret:after {
    content: " ";
    background: #202020;
    width: 12px;
    height: 2px;
    margin-right: -2.5px;
    border-radius: 1px;
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
  }

  .select__caret:after {
    transform: scaleY(-1) rotate(45deg);
    margin-left: -2.5px;
  }

  /* Links */
  a,
  .link {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #da3725;
  }

  a:hover,
  a:focus,
  .link:hover,
  .link:focus {
    color: #da3725;
    border-bottom-color: #da3725;
  }

  /* Wells */
  .well {
    background: #fff;
    padding: 1.25rem;
    border-radius: 6px;
  }

  /* Font Base */
  @media (min-width: 768px) {
    .font__content.well {
      padding: 1.5rem;
    }
  }

  .font__content section + section {
    margin-top: 2rem;
    border-top: 1px solid #eaeaea;
    padding-top: 2rem;
  }

  .font__heading {
    font-size: 1.414rem;
    line-height: 2rem;
  }

  .font__heading-link {
    color: #da3725;
    cursor: pointer;
  }

  .font__heading-link a:hover,
  .font__heading-link a:focus {
    border: none;
  }

  .font__heading-link:last-child {
    margin-bottom: 2rem;
  }

  .font__img {
    width: 85%;
    margin: 0 auto 2.5rem auto;
  }

  .font__ctas {
    padding: 0 1.25rem 2.5rem 1.25rem;
  }

  /* Font Details */
  .font__details-date {
    margin-bottom: 1.5rem;
  }

  .font__details-description {
    margin-bottom: 2.5rem;
  }

  .font__details-list + .font__details-list {
    margin-top: 1.5rem;
  }

  .font__details-list-heading {
    margin-bottom: 1rem;
    letter-spacing: 0.075em;
  }

  /* Font Gallery */
  .font__gallery-thumbnails {
    padding-top: 0.5rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .font__gallery-thumbnail {
    margin: 0 0.5rem 0 0;
    cursor: pointer;
    -ms-flex: 0 1 100px;
    -webkit-flex: 0 1 100px;
    flex: 0 1 100px;
  }

  .font__gallery-thumbnail:last-child {
    margin-right: 0;
  }

  /* Font Preview */
  .font__preview-select {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
  }

  .font__preview-text {
    padding: 1.25rem 0;
    line-height: 1.25;
  }

  .font__preview-text + .font__preview-text {
    border-top: 1px dashed #eaeaea;
  }

  .amp-form-submit-success .font__preview-text--initial {
    display: none;
  }

  .font__preview-text--16 {
    font-size: 16px;
  }

  .font__preview-text--24 {
    font-size: 24px;
  }

  .font__preview-text--36 {
    font-size: 36px;
  }

  .font__preview-text--48 {
    font-size: 48px;
  }

  .font__preview-text--60 {
    font-size: 60px;
  }

  .font__preview-text--72 {
    font-size: 72px;
  }

  .font__preview-text--144 {
    font-size: 144px;
  }

  /* Font Glyphs */
  .font__glyphs-char {
    width: 20%;
    padding-top: 20px;
    border: 1px solid #fff;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .font__glyphs-key {
    background: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 400;
    line-height: 20px;
  }

  .font__glyphs-radio--additional {
    display: block;
  }

  .font__glyphs-grid {
    margin-top: 2rem;
    display: none;
  }

  .font__heading + .font__glyphs-grid--basic,
  .font__glyphs-radio--basic:checked ~ .font__glyphs-grid--basic {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .font__glyphs-radio--additional:checked ~ .font__glyphs-grid--additional {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  {% autoescape false %}{{font.css_string}}{% endautoescape %}
</style>