<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<style amp-custom>
    html {
        height: 100%;
        font: 112.5% "museo-sans-rounded", sans-serif;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }

    body {
        background-color: #f4f4f4;
        min-height: 100%;
        margin: 0;
        padding: 63px 0 0 0;
        overflow-x: hidden;
        color: #202020;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    h1,
    h2,
    h3 {
        width: 100%;
        margin: 0 0 1.5rem 0;
        line-height: 1.5rem;
        font-family: "museo-sans-rounded", sans-serif;
    }

    h1 {
        font-size: 2.828rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 2.167rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1.414rem;
        line-height: 2rem;
    }

    p {
        margin: 0 0 1.5rem 0;
        line-height: 1.5rem;
    }

    blockquote {
        margin: 1.5rem 0;
        line-height: 1.5rem;
    }

    code {
        vertical-align: bottom;
    }

    .text--heading {
        font-family: "museo-sans-rounded", sans-serif;
    }

    .text--uppercase {
        text-transform: uppercase;
        letter-spacing: 0.075em;
    }

    .text--bold {
        font-weight: 400;
    }

    .text--extra-bold {
        font-weight: 700;
    }

    .text--medium {
        font-size: 0.9rem;
    }

    .text--small {
        font-size: 0.75rem;
    }

    .text--extra-small {
        font-size: 0.6rem;
    }

    .u--hidden {
        display: none;
    }

    .u--center {
        text-align: center;
    }

    .u--center-mobile {
        text-align: center;
    }

    .u--no-margin {
        margin: 0;
    }

    a,
    .link {
        color: #dd4433;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }

    ul,
    ol {
        margin: 1.5em 0;
    }

    li {
        line-height: 1.5rem;
    }

    .list--unstyled {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .img--bg {
        position: relative;
        z-index: 1;
    }

    /* Header */
    .nav {
        height: 63px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .nav__header {
        background: #fff;
        width: 100%;
        height: 63px;
        padding: 0 0 0 0.65rem;
        position: relative;
        z-index: 2;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .nav__logo-svg {
        width: 65px;
        height: 30px;
        display: block;
        color: #dd4433;
    }

    .nav__icon {
        background: #dd4433;
        width: 45px;
        height: 45px;
        margin: 0.5rem 0.65rem;
        padding: 10px 9px 11px 9px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        cursor: pointer;
    }

    .nav__icon-line {
        background: #fff;
        width: 25px;
        height: 2px;
        border-radius: 1px;
        position: absolute;
        left: 10px;
        top: 10px;
        display: block;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .nav__icon-line:nth-child(2),
    .nav__icon-line:nth-child(3) {
        width: 20px;
        left: 9px;
        top: 21px;
    }

    .nav__icon-line:nth-child(4) {
        width: 22px;
        left: 14px;
        top: 32px;
    }

    .nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(1),
    .nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(4) {
        width: 0;
        top: 21px;
        left: 50%;
    }

    .nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(2) {
        width: 27px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .nav__checkbox:checked + .nav__icon .nav__icon-line:nth-child(3) {
        width: 27px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .nav__links {
        background: #fff;
        width: 100%;
        border-bottom: 2px solid #fae3e1;
        padding: 63px 0 0 0;
        position: relative;
        z-index: 1;
        -webkit-transform: translate3d(0, calc(-100% + 2px), 0);
        transform: translate3d(0, calc(-100% + 2px), 0);
        -webkit-transition: transform 0.4s;
        transition: transform 0.4s;
    }

    .nav__checkbox:checked ~ .nav__links {
        -webkit-transform: translate3d(0, -63px, 0);
        transform: translate3d(0, -63px, 0);
    }

    .nav__link {
        margin: 0 0.65rem;
        border-top: 1px solid #dadada;
        padding: 0 0.25rem;
        line-height: 62px;
        color: #202020;
        font-size: 0.75rem;
        letter-spacing: 0.2em;
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.05s linear 0s;
        transition: opacity 0.05s linear 0s;
    }

    .no-touch .nav__link:hover {
        color: #202020;
    }

    .nav__checkbox:checked ~ .nav__links .nav__link {
        opacity: 1;
        -webkit-transition: opacity 0.4s linear 0.2s;
        transition: opacity 0.4s linear 0.2s;
    }

    /* Layout */
    .container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        padding: 0 0.65rem;
        position: relative;
        overflow: hidden;
    }

    .container--sticky-mobile {
        width: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .container--vertical-padding {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }

    .column--static {
        width: 100%;
    }

    .column--fixed {
        position: relative;
    }

    /* Backgrounds */
    .bg-solid--white {
        background: #fff;
    }

    .bg-dots:before {
        content: " ";
        background-image: -webkit-radial-gradient(#fff 20%, transparent 20%);
        background-image: radial-gradient(#fff 20%, transparent 20%);
        background-size: 40px 40px;
        position: absolute;
        z-index: -1;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .bg-dots--hero:before {
        width: 320px;
        height: 400px;
        top: 5%;
        left: 15%;
    }

    .bg-abstract--hero {
        width: 95%;
        height: 60%;
        color: #fae3e1;
        position: absolute;
        top: 2.5%;
        left: 2.5%;
    }

    .bg-abstract--hero-secondary {
        width: 70%;
        height: 40%;
        color: #d5e7db;
        position: absolute;
        top: 2.5%;
        left: 2.5%;
    }

    /* Buttons */
    .button {
        background: #726882;
        width: 100%;
        height: 3.5rem;
        padding: 0 0.5rem;
        color: #fff;
        text-align: center;
        line-height: 1.05em;
        cursor: pointer;
        position: relative;
        display: block;
        -webkit-transition: background 0.25s;
        transition: background 0.25s;
    }

    .button.is-processing {
        font-size: 0;
    }

    .button__text {
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .button.is-processing .button__text:before {
        content: "Processing";
        font-size: 1rem;
        letter-spacing: 0.075em;
    }

    .button--small {
        height: 2.5rem;
        font-size: 0.75rem;
    }

    .button--small.is-processing .button__text:before {
        font-size: 0.75rem;
    }

    .button--cta-primary {
        background: #dd4433;
    }

    .button--cta-secondary {
        background: #e26051;
    }

    /* Forms */
    input,
    textarea,
    button,
    select {
        width: 100%;
        background: none;
        margin: 0;
        border: none;
        padding: 0;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-transform: inherit;
        line-height: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    input:focus,
    textarea:focus,
    button:focus,
    select:focus {
        outline: none;
    }

    .form {
        background: #f4f4f4;
        padding: 0.5rem 0;
        border: 2px solid #fff;
    }

    .form__row {
        padding: 0 0.5rem 0.5rem 0.5rem;
        border-bottom: 2px solid #fff;
        margin-bottom: 0.5rem;
        position: relative;
    }

    .form__row:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }

    .form__row--inline {
      position: relative;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .form__hidden {
      position: absolute;
      left: -5000px;
    }

    /* Inputs */
    .input {
        background: #fff;
        min-height: 2.5rem;
        padding: 0.5rem;
        line-height: 2rem;
    }

    .input::-webkit-input-placeholder {
        color: #a7a7a7;
    }

    .input::-moz-placeholder {
        color: #a7a7a7;
    }

    .input:-ms-input-placeholder {
        color: #a7a7a7;
    }

    .input:-moz-placeholder {
        color: #a7a7a7;
    }

    .input--gray {
        background: #f4f4f4;
        height: 2.5rem;
    }

    .input--gray::-webkit-input-placeholder {
        color: #202020;
    }

    .input--gray::-moz-placeholder {
        color: #202020;
    }

    .input--gray:-ms-input-placeholder {
        color: #202020;
    }

    .input--gray:-moz-placeholder {
        color: #202020;
    }

    .select {
        position: relative;
    }

    .select__input {
        background: #fff;
        padding: 0 0.5rem;
        border-radius: 0;
        line-height: 3rem;
    }

    .select__caret {
        height: 100%;
        border-left: 2px solid #f4f4f4;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        pointer-events: none;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    /* Card */
    .card {
        background: #fff;
        border-width: 0.75rem 0rem;
        text-align: center;
        z-index: 1;
    }

    .card__section {
        margin: 0;
        padding: 1rem;
        border: none;
    }

    .card__section + .card__section {
        padding-top: 0;
    }

    /* Font Base */
    .font__section-heading {
        font-size: 1.414rem;
        line-height: 2rem;
    }

    .font__button + .font__button {
        margin-top: 2px;
    }

    /* Font Details */
    .font-details__licensing {
        margin: 0 0.5rem 2rem 0;
        display: inline-block;
    }

    .font-details__licensing:last-child {
        margin: 0 0 2rem 0.5rem;
    }

    .font-details__content {
        border: 2px solid #fff;
    }

    .font-details__section {
        border-bottom: 2px solid #fff;
        padding: 0.75rem;
    }

    .font-details__date {
        line-height: 1.5rem;
    }

    .font-details__description {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .font-details__list + .font-details__list {
        border-top: 2px solid #fff;
    }

    .font-details__list-item {
        padding-bottom: 0;
        border: none;
    }

    .font-details__list-item:last-child {
        padding-bottom: 0.75rem;
    }

    /* Font Files */
    .font-files {
        border-top: 2px solid #f4f4f4;
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .font-files.has-two-options:before {
        content: " ";
        background: #f4f4f4;
        width: 2px;
        height: 100%;
        margin: -1px;
        position: absolute;
        top: 0;
        left: 50%;
    }

    .font-files__type {
        padding: 0.75rem 1rem;
        -ms-flex: 1 1 50%;
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .font-files__icon {
        margin-right: 0.75rem;
    }

    .font-files__icon.fa-desktop {
        margin-top: 2px;
        font-size: 0.95em;
    }

    /* Font Hero */
    .hero {
        padding-top: calc(4.5rem - 45px);
    }

    .hero__image {
        max-width: 500px;
        height: auto;
        margin: 0 auto;
    }

    /* Font Gallery */
    .gallery__main--is-legacy {
        padding: 1.5rem;
    }

    .gallery__main {
        border: 2px solid #f4f4f4;
        padding: 0.5rem;
    }

    .gallery__thumbnails {
        border: 2px solid #f4f4f4;
        border-top: none;
        padding: 0.5rem;
    }

    .gallery__thumbnails-inner {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .gallery__thumbnail {
        margin: 0 1px 0 0;
        cursor: pointer;
        -ms-flex: 0 1 100px;
        -webkit-flex: 0 1 100px;
        flex: 0 1 100px;
    }

    .gallery__thumbnail:last-child {
        margin-right: 0;
    }

    /* Font Example */
    .font-example.amp-form-submit-success .font-example__default {
        display: none;
    }

    .font-example__form-section {
        border: 2px solid #f4f4f4;
        border-bottom: none;
    }

    .font-example__input {
        padding: 0 0.5rem;
        border: 0.5rem solid #fff;
    }

    .font-example__input:focus {
        background: #f4f4f4;
    }

    .font-example__select {
        padding-left: 1rem;
    }

    .font-example__button {
        border-top: 2px solid #f4f4f4;
        padding: 0.5rem;
    }

    .font-example__content {
        border: 2px solid #f4f4f4;
        padding: 0.5rem;
    }

    .font-example__text {
        background: #f4f4f4;
        margin-bottom: 2px;
        padding: 1rem;
        line-height: 1.25;
        word-break: break-word;
        -webkit-transition: opacity 150ms ease-in-out;
        transition: opacity 150ms ease-in-out;
    }

    .font-example__text:last-child {
        margin: 0;
    }

    .font-16 {
        font-size: 16px;
    }

    .font-24 {
        font-size: 24px;
    }

    .font-36 {
        font-size: 36px;
    }

    .font-48 {
        font-size: 48px;
    }

    .font-60 {
        font-size: 60px;
    }

    .font-72 {
        font-size: 72px;
    }

    .font-144 {
        font-size: 144px;
    }

    /* Font Glyphs */
    .font-glyphs__label {
        margin: 0 0.75rem 1.5rem 0;
        display: none;
    }

    .font-glyphs__label:last-of-type {
        margin: 0 0 1.5rem 0.75rem;
    }

    .font-glyphs.has-options .font-glyphs__label {
        display: inline-block;
    }

    .font-glyphs__radio--basic:checked ~ .font-glyphs__chars--basic {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .font-glyphs__radio--additional:checked ~ .font-glyphs__chars--additional {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .font-glyphs__chars {
        border: 2px solid #fff;
        padding: 0.4rem;
        display: none;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-transition: opacity 150ms ease-in-out;
        transition: opacity 150ms ease-in-out;
    }

    .font-glyphs__char {
        width: 20%;
        background: #fff;
        padding-top: 20px;
        border: 0.1rem solid #f4f4f4;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        overflow: hidden;
        position: relative;
        cursor: default;
        -webkit-transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
    }

    .font-glyphs__key {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid #f4f4f4;
        font-size: 12px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        line-height: 20px;
        color: #a7a7a7;
    }

    /* Social Links */
    .social {
        width: 25%;
        height: 3.5rem;
        border-right: 2px solid #f4f4f4;
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
    }

    .social:last-child {
        border: none;
    }

    .social:before {
        content: " ";
        background: #726882;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }

    .social__link {
        width: 100%;
        color: #fff;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    /* Footer */
    .footer {
        margin-top: 2.5rem;
    }

    .footer__content {
        padding: 0;
    }

    .footer__social {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .footer__form-section {
        border-top: 2px solid #f4f4f4;
        -ms-flex: 2 1 auto;
        -webkit-flex: 2 1 auto;
        flex: 2 1 auto;
    }

    .footer__input-section {
        width: 100%;
        padding: 0.65rem;
    }

    .footer__button-section {
        width: 100%;
        border-top: 2px solid #f4f4f4;
        padding: 0.65rem;
    }

    .footer__form.amp-form-submit-success .button__text.is-default,
    .footer__form.amp-form-submit-error .button__text.is-default {
        display: none;
    }

    .footer__form.amp-form-submit-success .button__text.is-message:before {
        content: "Success!";
    }

    .footer__form.amp-form-submit-error .button__text.is-message:before {
        content: "Error! Try again.";
    }

    {% autoescape false %}{{font.css_string}}{% endautoescape %}
</style>