.button-default {
    background: none;
}

.button {
    background: #dc5a4e;
    height: 60px;
    border: 1px solid #dc5a4e;
    color: #fff;
    font-size: inherit;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button:hover {
    background: #cf4b3f;
    border: 1px solid #cf4b3f;
    color: #fff;
}

.button.is-processing {
    color: transparent;
}

.button.is-processing:after {
    content: " ";
    width: 30px;
    height: 30px;
    border: 5px solid #fff;
    border-top: 5px solid #f8e4e2;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-outline {
    background: none;
    color: #dc5a4e;
}

.button-outline:hover {
    background: none;
    color: #cf4b3f;
}

.button-fine-print {
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    display: block;
}

@media (min-width: 768px) {

    .button {
        height: 70px;
    }
}