.contact-form-subheader {
    margin-top: 0;
    font-weight: 300;
}

.contact-form-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.contact-form-button-container {
    width: 50%;
    padding: 4px 0 0 7.5px;
}

.contact-form-button-container:first-child {
    padding: 4px 7.5px 0 0;
}

@media (min-width: 768px) {

    .contact-form-subheader {
        font-size: 20px;
    }

    .contact-form-button-container {
        width: 40%;
        padding: 4px 0 0 10px;
    }

    .contact-form-button-container:first-child {
        width: 60%;
        padding: 4px 10px 0 0;
    }
}