.font-details-container:before {
    content: " ";
}

.font-details-title {
    margin-bottom: 5px;
}

.font-details-date {
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.font-details-description {
    margin-bottom: 30px;
}

.font-details-licensing {
    margin: 0 20px 30px 0;
    display: inline-block;
}

.font-details-list {
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.font-details-list:last-child {
    margin: 0;
    border: none;
    padding: 0;
}

.font-details-list-header {
    padding-bottom: 15px;
}

.font-details-list-item {
    margin-bottom: 10px;
}

.font-details-list-item:last-child {
    margin: 0;
}

@media (min-width: 768px) {

    .font-details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .font-details-content {
        width: 60%;
        padding: 0 30px 0 0;
    }

    .font-details-lists {
        width: 40%;
        border-left: 1px solid #ddd;
        padding: 0 0 0 30px;
    }

    .font-details-list {
        margin-bottom: 45px;
        border: none;
        padding: 0;
    }
}

@media (min-width: 1024px) {

    .font-details-content-container {
        padding: 65px 0 30px 0;
    }

    .font-details-list-header {
        padding-bottom: 20px;
    }
}