/* Header & Nav */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav {
    height: 63px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-header {
    width: 100%;
    padding: 0 0 0 0.5rem;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-logo {
    width: 65px;
    height: 30px;
    display: block;
}

.nav-icon-container {
    background: #dc5a4e;
    /*background: #dd4433;*/
    margin: 0.5rem;
    padding: 10px 9px 11px 9px;
}

.nav-icon {
    width: 27px;
    height: 24px;
    position: relative;
    display: block;
}

.nav-icon-line {
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 0;
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.nav-icon-line:nth-child(2),
.nav-icon-line:nth-child(3) {
    width: 20px;
    left: 0;
    top: 11px;
}

.nav-icon-line:nth-child(4) {
    width: 22px;
    top: 22px;
    left: 5px;
}

.nav.is-open .nav-icon-line:nth-child(1),
.nav.is-open .nav-icon-line:nth-child(4) {
    width: 0;
    top: 10px;
    left: 50%;
}

.nav.is-open .nav-icon-line:nth-child(2) {
    width: 27px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav.is-open .nav-icon-line:nth-child(3) {
    width: 27px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-links {
    width: 100%;
    transform: translate3d(0, -97.5%, 0);
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
}

.nav.is-open .nav-links {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
}

.nav-links:before {
    content: " ";
    border-bottom: 1px solid #efb3a2;
}

.nav-links-list {
    padding: 120px 0 7.5% 0;
    position: relative;
    z-index: 1;
}

.nav-link {
    margin: 0 0.5rem;
    border-top: 1px solid #e8e8e8;
    padding: 0 0.25rem;
    line-height: 62px;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.05s;
    transition: opacity 0.05s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav.is-open .nav-link {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

@media (min-width: 768px) {

    .header {
        position: relative;
    }

    .header:before {
        content: " ";
        -webkit-transform: skewY(-5deg) translate3d(0, -50%, 0);
        transform: skewY(-5deg) translate3d(0, -50%, 0);
    }

    .nav-container {
        max-width: 1084px;
        margin: 0 auto;
    }

    .nav {
        height: auto;
        padding: 15px 30px 0 30px;
        position: relative;
        z-index: 1;
    }

    .nav-header {
        width: auto;
        padding: 0;
    }

    .nav-logo-container {
        -webkit-transform: rotate(5deg) translate3d( 0, 0, 1px);
        transform: rotate(5deg) translate3d( 0, 0, 1px);
    }

    .nav-logo-container:before {
        content: " ";
        border-left: 55px solid transparent;
        border-right: 55px solid transparent;
        border-bottom: 73px solid #dc5a4e;
        display: block;
        -webkit-transition: border-color 0.3s;
        transition: border-color 0.3s;
    }

    .nav-logo-container:hover:before {
        border-bottom-color: #cf4b3f;
    }

    .nav-logo {
        width: 55px;
        height: 25px;
        color: #fff;
        position: absolute;
        bottom: 15px;
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    .nav-links,
    .nav.is-open .nav-links {
        width: auto;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .nav-links:before,
    .nav-links:after {
        content: none;
    }

    .nav-links-list {
        height: 100%;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-link {
        margin: 0 0 0 50px;
        padding: 0;
        border: none;
        font-size: 14px;
        line-height: normal;
        opacity: 1;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
}

@media (min-width: 1024px) {

    .header:before {
        -webkit-transform: skewY(-5deg) translate3d(0, -33.333%, 0);
        transform: skewY(-5deg) translate3d(0, -33.333%, 0);
    }

    .nav:before {
        content: " ";
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 33px solid #a6cab5;
        display: block;
        position: absolute;
        left: 104%;
        top: 200%;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .nav-triangle {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 125%;
        top: 30px;
        transform: rotate(115deg);
    }

    .nav-link {
        margin: 0 0 0 70px;
    }
}