.has-no-margin {
    margin: 0;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

.text-block {
    font-weight: 700;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

.text-heading {
    width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
}

.text-rule {
    margin: 0 0 25px 0;
    font-style: italic;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-rule:before,
.text-rule:after {
    content: " ";
    background: #dcdcdc;
    height: 1px;
    margin: 0 15px 0 0;
    display: block;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.text-rule:after {
    margin: 0 0 0 15px;
}

@media (min-width: 768px) {

    .text-heading {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .text-rule {
        margin: 10px 0 35px 0;
    }
}

.list-header {
    font-size: 15px;
}

@media (min-width: 1024px) {

    .list-header {
        font-size: 16px;
    }
}


/* For testing only */
/*body.has-full-grid:before {
    content: " ";
    background-image: linear-gradient(
        transparent 96.3%,
        #ddd 96.3%,
        #ddd
    ),
    linear-gradient(
        90deg,
        transparent 96.3%,
        #ddd 96.3%,
        #ddd
    );
    background-size: 27px 27px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

@media (min-width: 768px) {

    body.has-full-grid:before {
        background-image: linear-gradient(
            transparent 96.9667%,
            #ddd 96.9667%,
            #ddd
        ),
        linear-gradient(
            90deg,
            transparent 96.9667%,
            #ddd 96.9667%,
            #ddd
        );
        background-size: 30px 30px;
    }
}*/