.input--file {
    padding-top: 28px;
    padding-bottom: 10px;
    line-height: 18px;
}

.input__checkbox {
    width: auto;
    height: auto;
    margin: 0 7px 0 21px;
    -webkit-appearance: checkbox;
}

.input__checkbox:first-child {
    margin-left: 0;
}

.growl {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 20px;
}

.admin-login {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.admin-login + .bg-abstract--static {
    top: 0.5rem;
}

.admin-list__item {
    padding-bottom: 20px;
}

.admin-list__item a {
    padding-bottom: 5px;
    display: inline-block;
}

.admin-list__delete {
    background: $color-white;
    width: auto;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}