.login {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.login-rule {
    margin: 20px 0;
}

.form-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.input-check input {
    width: auto;
    height: auto;
    margin: 0 7px 0 21px;
}

.input-check input:nth-child(2) {
    margin-left: 7px;
}

.input-file .input {
    padding-top: 29px;
    padding-bottom: 10px;
    line-height: 18px;
}

.textarea-label-inset {
    height: auto;
}

.textarea-label-inset textarea {
    width: 100%;
    border: none;
    padding: 25px 7px 0 7px;
    font-size: 18px;
    display: block;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

.button {
    height: 60px;
}

.growl {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 20px;
}

.font-list-item {
    padding-bottom: 20px;
}

.font-list-delete {
    background: #fff;
    width: auto;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}