.contact__button-section {
    width: 50%;
}

@media (min-width: 768px) {

    .contact__button-section {
        width: 66.666%;
    }

    .contact__button-section:last-child {
        width: 33.333%;
    }
}