.font-example-header-container {
    background: #757575;
    padding: 0.75rem;
}

.font-example-input-container {
    margin-bottom: 0.75rem;
}

.font-example-input {
    line-height: 3rem;
    box-shadow: none;
}

.font-example-input:focus {
    box-shadow: none;
}

.font-example-settings {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.font-example-setting-container {
    width: 33.333%;
    padding: 0.75rem 0.75rem 0 0.75rem;
    position: relative;
}

.font-example-input-range-label {
    color: #dcdcdc;
    position: absolute;
    top: 0;
    left: 0.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.font-example-input-range:focus + .font-example-input-range-label,
.font-example-input-range:active + .font-example-input-range-label {
    color: $color-white;
}

.font-example-icon-text {
    font-size: 18px;
    font-weight: 700;
    margin-right: 6px;
}

.font-example-content {
    background: $color-white;
    padding: 1rem;
}

.font-example-text {
    margin-bottom: 6px;
    font-size: 3rem;
    line-height: 1.25;
    word-break: break-word;
}

.font-example-text:last-child {
    margin: 0;
}

@media (min-width: 768px) {

    .font-example-header-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .font-example-form {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .font-example-input-container {
        width: 50%;
        margin: 0;
        padding-right: 0.5rem;
    }

    .font-example-input {
        background: none;
        margin: 8px 0 6px 0;
        border: none;
        border-bottom: 1px solid $color-white;
        padding: 0;
        line-height: 25px;
        color: $color-white;
    }

    .font-example-input:focus {
        border-color: $color-white;
    }

    .font-example-input::-webkit-input-placeholder {
        color: $color-white;
    }

    .font-example-input::-moz-placeholder {
        color: $color-white;
    }

    .font-example-input:-ms-input-placeholder {
        color: $color-white;
    }

    .font-example-input:-moz-placeholder {
        color: $color-white;
    }

    .font-example-settings {
        width: 50%;
        padding-left: 0.5rem;
    }

    .font-example-setting-container {
        padding: 14px 0 0 1rem;
    }

    .font-example-input-range-label {
        left: 1rem;
    }
}