.font-glyphs-container {
    margin-right: -3px;
    margin-left: -3px;
}

.font-glyphs {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.font-glyph-radio {
    display: none;
}

.font-glyph-radio-label {
    margin: 0 15px 15px 0;
    display: none;
}

.font-glyphs-container.has-options .font-glyph-radio-label {
    display: inline-block;
}

.font-glyphs {
    display: none;
}

.font-glyph-radio-basic:checked ~ .font-glyphs-basic {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.font-glyph-radio-additional:checked ~ .font-glyphs-additional {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.font-glyph {
    width: 20%;
    background: $color-white;
    padding-top: 20px;
    border: 3px solid $color-gray-light;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: default;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.font-glyph:hover {
    z-index: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
}

.font-glyph-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $color-gray-light;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #c4c4c4;
}

@media (min-width: 768px) {

    .font-glyph-radio-label {
        margin: 0 30px 30px 0;
    }

    .font-glyph {
        width: 12.5%;
    }
}