.font-example {
    border: 2px solid $color-gray-lightest;
    padding: 0.5rem;
}

.font-example-form-section {
    border: 2px solid $color-gray-lightest;
    border-bottom: none;
    padding: 0.5rem;
}

.font-example-input {
    line-height: 3rem;
    box-shadow: none;
}

.font-example-input:focus {
    box-shadow: none;
}

.font-example-settings {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.font-example-setting-container {
    width: 33.333%;
    padding: 0.75rem 0.75rem 0 0.75rem;
    position: relative;
}

.font-example-input-range-label {
    color: $form-color-placeholder;
    position: absolute;
    top: 0;
    left: 0.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.font-example-input-range:focus + .font-example-input-range-label,
.font-example-input-range:active + .font-example-input-range-label {
    color: $color-white;
}

.font-example-icon-text {
    font-size: 18px;
    font-weight: 700;
    margin-right: 6px;
}

.font-example-content {
    background: $color-gray-lightest;
    padding: 1rem;
}

.font-example-text {
    margin-bottom: 2px;
    font-size: 3rem;
    line-height: 1.25;
    word-break: break-word;
}

.font-example-text:last-child {
    margin: 0;
}

@media (min-width: 768px) {

    .font-example-form {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .font-example-form-section {
        width: 50%;
        border-width: 2px 1px 0 2px;
    }

    .font-example-form-section +  .font-example-form-section {
        border-width: 2px 2px 0 1px;
    }

    .font-example-input {
        background: none;
    }

    .font-example-input-range-label {
        left: 1rem;
    }
}