.font-example {
    border: 2px solid $color-gray-lightest;
    padding: 0.5rem;
}

.font-example-form-section {
    border: 2px solid $color-gray-lightest;
    border-bottom: none;
    padding: 0 0.5rem;
}

.font-example-input {
    margin: 0.5rem 0;
}

.font-example-input:focus {
    background: $color-gray-lightest;
}

.font-example-select {
    margin: 0.5rem 0;
}

.font-example-select-caret {
    padding-right: 0.5rem;
}

.font-example-text {
    background: $color-gray-lightest;
    margin-bottom: 2px;
    padding: 1rem;
    font-size: 60px;
    line-height: 1.25;
    word-break: break-word;
    @include transition(opacity 150ms ease-in-out);
}

.css-loading .font-example-text {
    opacity: 0;
}

.font-example-text:last-child {
    margin: 0;
}

@media (min-width: 768px) {

    .font-example-form {
        @include flex();
    }

    .font-example-form-section {
        width: 50%;
        border-width: 2px 1px 0 2px;
    }

    .font-example-form-section +  .font-example-form-section {
        border-width: 2px 2px 0 1px;
    }
}