.font-grid-container {
    @include flex();
    @include flex-wrap(wrap);
    @include flex-justify(space-between);
}

.font-grid-item-container {
    width: 100%;
    padding: 0 4px 4px 0;
}

.font-grid-item {
    margin-bottom: 9%;
    box-shadow: 4px 4px 0 0 #dcdcdc;
}

.font-grid-link {
    padding: 15%;
    display: block;
    position: relative;
}

.font-grid-image-container {
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.font-grid-link:hover .font-grid-image-container {
    opacity: 0;
}

.font-grid-image {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 100%;
}

.font-grid-overlay {
    width: 100%;
    height: 100%;
    padding: 0 15%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    @include flex();
    @include flex-align(center);
    @include flex-justify(center);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.font-grid-title {
    color: $color-white;
    font-size: 28px;
    letter-spacing: 0.1em;
    text-align: center;
}

.font-grid-link:hover .font-grid-overlay {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 500px) {

    .font-grid-item-container {
        width: 48%;
    }
}

@media (min-width: 1000px) {

    .font-grid-item-container {
        width: 31.666%;
    }
}