.homepage-container {
    padding-bottom: 0.5rem;
    @include flex();
    @include flex-align(center);
    @include flex-wrap(wrap);
    @include flex-justify(center);
}

.homepage-image-link {
    display: block;
}

.homepage-column {
    width: 100%;
    position: relative;
    z-index: 1;
}

.shop-list-header {
    text-align: center;
}

.shop-list {
    @include flex();
    @include flex-wrap(wrap);
}

.shop-list-item {
    width: 50%;
    padding: 15px 5%;
    @include flex();
    @include flex-align(center);
}

.shop-list-link {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.is-homepage .footer-container {
    background: $color-gray-lightest;
    margin-top: 0;
}

.is-homepage .footer-social-icon {
    border-color: $color-white;
}

.is-homepage .footer-form-container {
    border-color: $color-white;
}

.is-homepage .footer-input {
    background: $color-white;
}

.is-homepage .footer-button-container {
    border-color: $color-white;
}

@media (min-width: 768px) {

    .shop-list-item {
        width: 25%;
        position: relative;
    }

    .is-homepage .footer-social {
        border-color: $color-white;
    }
}

@media (min-width: 1024px) {

    .homepage-container {
        padding-bottom: 90px;
    }

    .homepage-image-container {
        min-height: 500px;
    }

    .homepage-column {
        width: 33.333%;
    }
}