{% extends 'layout.html' %}

{% block body %}

    <nav class="nav clearfix {% if page.has_buttons %}has-buttons{% endif %}">
        <div class="nav-item nav-logo-container">
            <img src="/images/la.svg" class="nav-logo" alt="Lauren Ashpole">
        </div>
        <div class="nav-item nav-icon-container">
            <a href="javascript:void(0);" class="nav-icon js-nav-icon" title="Nav">
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
            </a>
        </div>
        <ul class="nav-links clearfix">
            <li class="nav-item nav-link-container">
                <a href="/" title="Home" class="nav-link {% if page.home %}is-active{% endif %}">Home</a>
            </li>
            <li class="nav-item nav-link-container">
                <a href="/fonts" title="Fonts" class="nav-link {% if page.fonts %}is-active{% endif %}">Fonts</a>
            </li>
            <li class="nav-item nav-link-container">
                <a href="http://laurenashpole.tumblr.com" title="Blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item nav-link-container">
                <a href="mailto:lauren@laurenashpole.com" title="lauren@laurenashpole.com" class="nav-link">Contact</a>
            </li>
        </ul>
        {% block font_buttons %}{% endblock %}
    </nav>

    {% block content %}{% endblock %}

{% endblock %}