{% extends 'layout.html' %}

{% block body %}

    <nav class="nav clearfix {% if font_page %}has-buttons{% endif %}">
        <div class="nav-item nav-logo">LA</div>
        <div class="nav-item nav-icon-container js-nav-icon">
            <div class="nav-icon">
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
                <span class="nav-icon-line"></span>
            </div>
        </div>
        <ul class="nav-links clearfix">
            <li class="nav-item nav-link-container">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item nav-link-container">
                <a href="/fonts" class="nav-link">Fonts</a>
            </li>
            <li class="nav-item nav-link-container">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item nav-link-container">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        {% block font_buttons %}{% endblock %}
    </nav>

    {% block content %}{% endblock %}

{% endblock %}