{% extends 'body.html' %}

{% block content %}
    <main class="container container--full-height container--vertical-padding bg-dots bg-dots--hero bg-dots--static">
        <div class="container__content container__content-medium">
            <h2 class="text--uppercase">Contact</h2>

            <p>Email me at <a href="mailto:{{email_address}}" title="{{email_address}}">{{email_address}}</a> or use the form below.</p>

            <form class="form js-contact-form"">
                <div class="form__row">
                    <input type="email" id="senderEmail" name="senderEmail" placeholder="Your Email" class="input input--label-inset js-contact-form-input" />
                    <label class="text--uppercase text--extra-bold" for="senderEmail">Email <span class="label__required">(valid email required)</span></label>
                </div>

                <div class="form__row">
                    <input type="text" id="senderName" name="senderName" placeholder="Your Name" class="input input--label-inset js-contact-form-input" />
                    <label class="text--uppercase text--extra-bold" for="senderName">Name <span class="label__required">(required)</span></label>
                </div>

                <div class="form__row">
                    <div class="select select--label-inset">
                        <select class="select__input js-contact-form-input" id="subject" name="subject">
                            <option value="Font Licensing">Font Licensing</option>
                            <option value="Technical Issues">Technical Issues</option>
                            <option value="Tumblr Themes">Tumblr Themes</option>
                            <option value="Other">Other</option>
                        </select>
                        <span class="select__caret">
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                    <label class="text--uppercase text--extra-bold" for="subject">Subject</label>
                </div>

                <div class="form__row">
                    <textarea id="message" name="message" rows="5" class="textarea js-contact-form-input" placeholder="Message"></textarea>
                </div>

                <div class="form__row form__row--inline">
                    <div class="contact__button-section">
                        <button
                            type="submit"
                            class="button button--cta-primary button--hover-border text--uppercase text--extra-bold js-contact-send js-ga-trigger"
                            data-ga-category="Contact Page"
                            data-ga-action="click"
                            data-ga-label="Send"
                        >
                            <span class="button__text">
                                Send
                            </span>
                        </button>
                    </div>

                    <div class="contact__button-section">
                        <button
                            type="reset"
                            class="button button--cta-secondary button--hover-border text--uppercase text--extra-bold js-ga-trigger"
                            data-ga-category="Contact Page"
                            data-ga-action="click"
                            data-ga-label="Cancel"
                        >
                            <span class="button__text">
                                Cancel
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <svg class="bg-abstract--static">
            <use xlink:href="/images/bg-abstract.svg#bgAbstract"></use>
        </svg>

        <svg class="bg-abstract--static-secondary">
            <use xlink:href="/images/bg-abstract.svg#bgAbstract2"></use>
        </svg>
    </main>
{% endblock %}