{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="{% asset 'main.css' %}" />
{% endblock %}

{% block body %}
  <main class="main main--v-center container container--medium bg-dots bg-dots--fixed bg-abstract--fixed">
    <div class="well well--extra-padding">
      {% if error.status || error.stack %}
        <h2>{{error.status}} Error</h2>
        <code>{{error.stack}}</code>
      {% else %}
        <h2 class="text--uppercase">{{message}}</h2>
        <p>It looks like this page doesn't exist anymore. If you're looking for fonts, try clicking <a href="/fonts" title="Fonts">here</a> instead. If you need anything else, don't hesitate to <a href="mailto:{{email_address}}" title="{{email_address}}">contact me</a>.</p>
      {% endif %}
    </div>
  </main>
{% endblock %}