{% extends 'layout.html' %}

{% block title %}{% parent %} - Fonts{% endblock %}

{% block font_buttons %}
    <ul class="nav-buttons clearfix">
        <li class="nav-button nav-item">
            <a href="{{font.download_url}}" class="nav-link nav-button-download">Download</a>
        </li>
        <li class="nav-button nav-item">
            <a href="{{font.purchase_url}}" class="nav-link nav-button-buy">Buy Now</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="font-image-container vertical-align-td">
        <div class="font-image vertical-align-content" style="background-color: {{font.color}};">
            <img src="{{font.image}}" alt="{{font.name}}">
        </div>
    </div>

    <h1>{{font.name}}</h1>
    <p>{{font.date_created}}</p>
    <p>{{font.date_modified}}</p>
    <p>{{font.price}}</p>
    <p>{{font.image_thumbnail}}</p>
    <p>{{font.personal_use_details}}</p>
    <p>{{font.commercial_use_details}}</p>
{% endblock %}