{% extends 'layout.html' %}

{% block title %}{% parent %} - Fonts{% endblock %}

{% block content %}
    <section>
        {% for font in fonts %}
            <div class="font-listing">
                <a href="/fonts/{{font.slug}}" class="font-listing-link">
                    <div class="font-listing-img" style="background-image: url({{font.image}});"></div>
                    <div class="font-overlay" style="background-color: {{font.color}};"></div>
                    <div class="font-details">
                        <div class="font-title">
                            {{font.name}}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}