<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="j7rp4JhwKeTvhJYae4BTu4jPAP6ZBahys3beaQ5lGA8" />

    <title>{% if title %}{{title}} - {% endif %}{{site_name}}</title>

    {% if site_description %}
        <meta name="google-site-verification" content="{{site_description}}" />
    {% endif%}

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    {% block head %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
        <link rel="stylesheet" href="/stylesheets/style.min.css">
    {% endblock %}

</head>

<body>

    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    <div class="page-border page-border-top"></div>
    <div class="page-border page-border-bottom"></div>

    <script src="/javascripts/javascript.min.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12207477-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>