@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(0.975); }
  100% { transform: scale(1); }
}

@keyframes bgScale {
    0% {
      background-size: 2rem auto, 2rem auto, 2rem auto;
    }
    25% {
      background-size: 0 auto, 2rem auto, 2rem auto;
    }
    50% {
      background-size: 2rem auto, 0 auto, 2rem auto;
    }
    75% {
      background-size: 2rem auto, 2rem auto, 0 auto;
    }
    100% {
      background-size: 2rem auto, 2rem auto, 2rem auto;
    }
}