<header class="header">
    <nav class="nav">

        <div class="nav-header">
            <a href="/" title="Lauren Ashpole" class="has-no-underline nav-logo-container">
                <svg class="nav-logo">
                    <use xlink:href="/images/logo.svg#logo"></use>
                </svg>
            </a>

            <a href="javascript:void(0);" class="mobile nav-icon-container js-nav-icon" title="Nav">
                <span class="nav-icon">
                    <span class="nav-icon-line"></span>
                    <span class="nav-icon-line"></span>
                    <span class="nav-icon-line"></span>
                    <span class="nav-icon-line"></span>
                </span>
            </a>
        </div>

        <div class="nav-links">
            <ul class="list-unstyled nav-links-list">
                <li>
                    <a href="/admin/fonts" title="View Fonts" class="has-hover-underline is-uppercase is-extra-bold nav-link">View Fonts</a>
                </li>
                <li>
                    <a href="/admin/fonts/create" title="Create Font" class="has-hover-underline is-uppercase is-extra-bold nav-link">Create Font</a>
                </li>
                <li>
                    <a href="/admin/logout" title="Logout" class="has-hover-underline is-uppercase is-extra-bold nav-link">Logout</a>
                </li>
            </ul>
        </div>

    </nav>
</header>