<header class="header container--sticky-mobile">
    <nav class="nav">
        <div class="nav__header">
            <a href="/" title="Lauren Ashpole" class="nav__logo link--no-underline">
                <svg class="nav__logo-svg">
                    <use xlink:href="/images/logo.svg#logo"></use>
                </svg>
            </a>
        </div>

        <input type="checkbox" id="navCheckbox" class="nav__checkbox u--hidden">

        <label for="navCheckbox" class="nav__icon u--mobile" title="Nav">
            <span class="nav__icon-line"></span>
            <span class="nav__icon-line"></span>
            <span class="nav__icon-line"></span>
            <span class="nav__icon-line"></span>
        </label>

        <ul class="nav__links list--unstyled text--heading text--uppercase">
            <li>
                <a href="/admin/fonts" title="View Fonts" class="nav__link text--extra-bold link--hover-border">
                    View Fonts
                </a>
            </li>
            <li>
                <a href="/admin/fonts/create" title="Create Font" class="nav__link text--extra-bold link--hover-border">
                    Create Font
                </a>
            </li>
            <li>
                <a href="/admin/logout" title="Logout" class="nav__link text--extra-bold link--hover-border">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</header>