{% extends '../body.html' %}

{% block content %}
    <section class="text-container vertical-align-td">
        <div class="vertical-align-content">
            <div class="container">

                <h1>Thank you for purchasing {{font.name}}!</h1>

                <p>Download the commercial version of your font <a href="/downloads/{{font.commercial_font_file}}">here</a>. A copy will also be emailed to {{payment.payer.payer_info.email}}. If you have any questions about your purchase, view the <a href="/fonts/licensing" title="Licensing">licensing details</a> or the <a href="/fonts/eula" title="EULA">EULA</a> or email me at <a href="mailto:lauren@laurenashpole.com" title="lauren@laurenashpole.com">lauren@laurenashpole.com</a>.</p>

            </div>
        </div>
    </section>
{% endblock %}