{% extends '../body.html' %}

{% block content %}
    <main class="container has-padding">
        <h2 class="is-uppercase">Fonts</h2>

        <section class="font-grid-container">
            {% for font in fonts %}
                <div class="font-grid-item-container">
                    <div class="font-grid-item bg-img">
                        <a
                            href="/fonts/{{font.slug}}"
                            class="has-no-underline font-grid-link bg-dots-rectangle is-tile js-ga-trigger"
                            data-ga-category="Fonts"
                            data-ga-action="click"
                            data-ga-label="{{font.name}}"
                        >

                            <div class="font-grid-image-container">
                                <span class="img-default">
                                    <figure class="font-grid-image" style="background-image: url(/images/fonts/{{font.image_thumbnail}});"></figure>
                                </span>
                                <span class="img-retina">
                                    <figure class="font-grid-image" style="background-image: url(/images/fonts/{{font.image_thumbnail_retina}});"></figure>
                                </span>
                            </div>

                            <svg class="bg-abstract is-tile">
                                <use xlink:href="/images/bg-abstract.svg#bgAbstract2"></use>
                            </svg>

                            <!-- <div class="font-grid-overlay"> -->
                                <h3 class="has-no-margin is-uppercase font-grid-title">{{font.name}}</h3>
                            <!-- </div> -->

                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>

    </main>
{% endblock %}