{% extends '../body.html' %}

{% block head %}
    {% parent %}

    {% include '../fonts/includes/meta.html' %}
{% endblock %}

{% block body-class %}css-loading{% endblock %}

{% block content %}
    <main class="js-font-page" data-css="/stylesheets/fonts/{{font.css_file}}">
        {% include './includes/font-hero.html' %}
        {% include './includes/font-gallery.html' %}
        {% include './includes/font-description.html' %}
        {% include './includes/font-example.html' %}
        {% include './includes/font-glyphs.html' %}
        {% include './includes/modal-mailing.html' %}
    </main>
{% endblock %}