{% extends '../body.html' %}

{% block content %}
    <section class="clearfix">
        {% for font in fonts %}
            <div class="font-listing-container">
                <a href="/fonts/{{font.slug}}" class="font-listing">

                    <div class="font-listing-bg" style="background-color: {{font.color}};"></div>

                    <div class="font-listing-image-container">
                        <span class="img-default">
                            <figure class="font-listing-image" style="background-image: url(/images/fonts/{{font.image_thumbnail}});"></figure>
                        </span>
                        <span class="img-retina">
                            <figure class="font-listing-image" style="background-image: url(/images/fonts/{{font.image_thumbnail_retina}});"></figure>
                        </span>
                    </div>

                    <div class="font-listing-overlay vertical-align-ib">
                        <div class="vertical-align-content">
                            {{font.name}}
                        </div>
                    </div>

                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}