{% extends '../body.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/stylesheets/fonts/{{font.css_file}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{font.name}}" />
    <meta property="og:url" content="http://www.laurenashpole.com/fonts/{{font.slug}}"/>
    <meta property="og:site_name" content="Lauren Ashpole" />
    <meta property="og:price:amount" content="{{font.price}}" />
    <meta property="og:price:currency" content="USD" />
    <meta property="og:availability" content="instock" />

    {% if font.image_collection %}
        <meta property="og:image" content="http://www.laurenashpole.com/images/fonts/{{font.image_collection[0]}}"/>
    {% else %}
        <meta property="og:image" content="http://www.laurenashpole.com/images/fonts/{{font.image_retina}}"/>
    {% endif %}

    {% if font.description %}
        <meta property="og:description" content="{{font.description}}">
    {% endif %}
{% endblock %}

{% block content %}
    <main itemscope itemtype="http://schema.org/Product">
        <meta itemprop="url" content="http://www.laurenashpole.com/fonts/{{font.slug}}"/>

        <section class="container">
            <div class="column-static has-padding">
                <div class="font-image">
                    <img src="http://www.laurenashpole.com/images/fonts/{{font.image_mobile_retina}}" class="img-responsive" alt="{{font.name}}" />
                </div>
            </div>

            <section class="column-fixed font-details-column">
                <h3 class="is-uppercase font-details-title" itemprop="name">
                    {{font.name}}
                </h3>

                <div class="font-details-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="USD" />
                    $<span itemprop="price">{{font.price}}</span>
                    <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="http://schema.org/InStock" />
                </div>

                <div class="font-buttons is-small-print {% if !font.one_download_option %}button-block{% endif %}">
                    {% if font.commercial_font_file %}
                        <form class="font-button-container" method="post" action="/fonts/{{font.slug}}/payment">
                            <button
                                type="submit"
                                title="Buy Now"
                                class="button is-uppercase is-bold is-primary js-ga-trigger"
                                data-ga-category="{{font.name}} Page"
                                data-ga-action="click"
                                data-ga-label="Buy Now"
                            >
                                Purchase Commercial
                            </button>
                        </form>
                    {% endif %}

                    {% if font.personal_font_file %}
                        <div class="font-button-container">
                            <a
                                href="/downloads/{{font.personal_font_file}}"
                                class="button is-uppercase is-bold is-secondary has-no-underline js-ga-trigger"
                                data-ga-category="{{font.name}} Page"
                                data-ga-action="click"
                                data-ga-label="Download"
                            >
                                Download Personal
                            </a>
                        </div>
                    {% endif %}
                </div>

                <ul class="list-unstyled font-file-types">
                    <li class="font-file-type">
                        <span class="icon-desktop font-file-type-icon"></span>
                        Desktop
                    </li>
                    <li class="font-file-type">
                        <span class="icon-code-slash font-file-type-icon">
                            <span class="icon-caret"></span>
                            <span class="icon-caret is-right"></span>
                        </span>
                        Web
                    </li>
                </div>
            </section>
        </section>

        <section class="bg-white">
            <div class="container has-padding">
                <div class="column-static">

                    <h2 class="is-uppercase font-page-heading">Additional Images</h2>

                    {% if font.image_collection.length %}
                        <div>
                            <meta itemprop="image" content="http://www.laurenashpole.com/images/fonts/{{font.image_collection[0]}}"/>
                            <img src="/images/fonts/{{font.image_collection[0]}}" class="img-responsive" alt="{{font.name}}" />
                        </div>

                        <div class="font-gallery">
                            {% for image in font.image_collection %}
                                <div class="font-gallery-thumbnail">
                                    <img src="/images/fonts/{{image}}" class="img-responsive js-font-image-thumbnail" alt="{{font.name}} Thumbnail" />
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="font-gallery-legacy">
                            <meta itemprop="image" content="http://www.laurenashpole.com/images/fonts/{{font.image_retina}}"/>
                            <img src="/images/fonts/{{font.image_retina}}" class="img-responsive" alt="{{font.name}}" />
                        </div>
                    {% endif %}

                </div>
            </div>
        </section>

        <section class="container has-padding">
            <div class="column-static">

                <h2 class="is-uppercase font-page-heading">Preview</h2>

                <div class="font-example-header-container">
                    <form class="font-example-form">

                        <div class="font-example-input-container">
                            <input type="text" class="input is-small-print is-extra-bold font-example-input js-font-example-input" placeholder="Enter your preview text">
                        </div>

                        <div class="font-example-settings clearfix">
                            <div class="font-example-setting-container">
                                <input type="range" min="14" max="114" id="fontSize" class="input-range font-example-input-range js-font-example-size" />
                                <label for="fontSize" class="is-small-print font-example-input-range-label">
                                    <span class="font-example-icon-text">T</span>
                                    <i class="fa fa-arrows font-example-icon-arrow"></i>
                                </label>
                            </div>

                            <div class="font-example-setting-container">
                                <input type="range" min="-50" max="50" id="fontSpacing" class="input-range font-example-input-range js-font-example-spacing" />
                                <label for="fontSpacing" class="is-small-print font-example-input-range-label">
                                    <span class="font-example-icon-text">T</span>
                                    <i class="fa fa-arrows-h font-example-icon-arrow"></i>
                                </label>
                            </div>

                            <div class="font-example-setting-container">
                                <input type="range" min="75" max="175" id="fontHeight" class="input-range font-example-input-range js-font-example-height" />
                                <label for="fontHeight" class="is-small-print font-example-input-range-label">
                                    <span class="font-example-icon-text">T</span>
                                    <i class="fa fa-arrows-v font-example-icon-arrow"></i>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="font-example-content font-example-text font-{{font.slug}}">
                    Enter your preview text
                </div>

                {% if font.alternate_style %}
                    <div class="font-example-content font-example-text {{font.alternate_style}}">
                        Enter your preview text
                    </div>
                {% endif %}

            </div>
        </section>

        <section class="bg-white">
            <div class="container has-padding">
                <div class="column-static">

                    <h2 class="is-uppercase font-page-heading">About {{font.name}}</h2>

                    <div class="font-details-date">
                        Created: {{font.date_created}}
                        {% if font.date_modified %}/ Modified: {{font.date_modified}}{% endif %}
                    </div>

                    <ul class="list-unstyled is-bold">
                        <li class="font-details-licensing">
                            <a href="/fonts/licensing" title="Licensing">Licensing Info</a>
                        </li>
                        <li class="font-details-licensing">
                            <a href="/fonts/eula" title="EULA">View EULA</a>
                        </li>
                    </ul>

                    {% if font.description %}
                        <div itemprop="description" class="font-details-description">
                            {% autoescape false %}{{font.description}}{% endautoescape %}
                        </div>
                    {% endif %}

                    {% if font.commercial_font_file %}
                        <ul class="list-unstyled font-details-list">
                            <li class="text-block font-details-list-header">Commercial Use Details</li>

                            {% for detail in font.commercial_file %}
                                {% if detail.is_included %}
                                    <li class="font-details-list-item">{{detail.name}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if font.personal_font_file %}
                        <ul class="list-unstyled font-details-list">
                            <li class="text-block font-details-list-header">Personal Use Details</li>

                            {% for detail in font.personal_file %}
                                {% if detail.is_included %}
                                    <li class="font-details-list-item">{{detail.name}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>
        </section>

        <section class="container has-padding">
            <div class="column-static">

                <h2 class="is-uppercase font-page-heading">Glyphs</h2>

                <div class="font-glyphs-container {% if font.commercial_file.additional_chars.is_included %}has-options{% endif %}">

                    <input type="radio" name="font-glyph" id="fontGlyphBasic" class="font-glyph-radio font-glyph-radio-basic" checked />
                    <label for="fontGlyphBasic" class="link font-glyph-radio-label">
                        Basic Characters
                    </label>

                    <input type="radio" name="font-glyph" id="fontGlyphAdditional" class="font-glyph-radio font-glyph-radio-additional" />
                    <label for="fontGlyphAdditional" class="link font-glyph-radio-label">
                        Additional Characters
                    </label>

                    <div class="font-glyphs font-glyphs-basic font-{{font.slug}}">
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">!</span>
                            !
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">"</span>
                            "
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">#</span>
                            #
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">$</span>
                            $
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">%</span>
                            %
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">&amp;</span>
                            &amp;
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">'</span>
                            '
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">(</span>
                            (
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">)</span>
                            )
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">*</span>
                            *
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">+</span>
                            +
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">,</span>
                            ,
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">-</span>
                            -
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">.</span>
                            .
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">/</span>
                            /
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">0</span>
                            0
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">1</span>
                            1
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">2</span>
                            2
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">3</span>
                            3
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">4</span>
                            4
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">5</span>
                            5
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">6</span>
                            6
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">7</span>
                            7
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">8</span>
                            8
                        </div>
                        <div class="font-glyph is-number">
                            <span class="font-glyph-label">9</span>
                            9
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">:</span>
                            :
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">;</span>
                            ;
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label"><</span>
                            <
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">=</span>
                            =
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">></span>
                            >
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">?</span>
                            ?
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">@</span>
                            @
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">A</span>
                            A
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">B</span>
                            B
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">C</span>
                            C
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">D</span>
                            D
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">E</span>
                            E
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">F</span>
                            F
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">G</span>
                            G
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">H</span>
                            H
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">I</span>
                            I
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">J</span>
                            J
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">K</span>
                            K
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">L</span>
                            L
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">M</span>
                            M
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">N</span>
                            N
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">O</span>
                            O
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">P</span>
                            P
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">Q</span>
                            Q
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">R</span>
                            R
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">S</span>
                            S
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">T</span>
                            T
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">U</span>
                            U
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">V</span>
                            V
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">W</span>
                            W
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">X</span>
                            X
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">Y</span>
                            Y
                        </div>
                        <div class="font-glyph is-capital">
                            <span class="font-glyph-label">Z</span>
                            Z
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">[</span>
                            [
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">\</span>
                            \
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">]</span>
                            ]
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">^</span>
                            ^
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">_</span>
                            _
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">`</span>
                            `
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">a</span>
                            a
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">b</span>
                            b
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">c</span>
                            c
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">d</span>
                            d
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">e</span>
                            e
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">f</span>
                            f
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">g</span>
                            g
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">h</span>
                            h
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">i</span>
                            i
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">j</span>
                            j
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">k</span>
                            k
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">l</span>
                            l
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">m</span>
                            m
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">n</span>
                            n
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">o</span>
                            o
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">p</span>
                            p
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">q</span>
                            q
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">r</span>
                            r
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">s</span>
                            s
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">t</span>
                            t
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">u</span>
                            u
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">v</span>
                            v
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">w</span>
                            w
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">x</span>
                            x
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">y</span>
                            y
                        </div>
                        <div class="font-glyph is-lower">
                            <span class="font-glyph-label">z</span>
                            z
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">{</span>
                            {
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">|</span>
                            |
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">}</span>
                            }
                        </div>
                        <div class="font-glyph is-symbol">
                            <span class="font-glyph-label">~</span>
                            ~
                        </div>
                    </div>

                    {% if font.commercial_file.additional_chars.is_included %}
                        <div class="font-glyphs font-glyphs-additional font-{{font.slug}}">
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&iexcl;</span>
                                &iexcl;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&cent;</span>
                                &cent;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&pound;</span>
                                &pound;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&curren;</span>
                                &curren;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&yen;</span>
                                &yen;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&brvbar;</span>
                                &brvbar;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&sect;</span>
                                &sect;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&uml;</span>
                                &uml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&copy;</span>
                                &copy;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ordf;</span>
                                &ordf;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&laquo;</span>
                                &laquo;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&not;</span>
                                &not;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&reg;</span>
                                &reg;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&deg;</span>
                                &deg;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&plusmn;</span>
                                &plusmn;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&sup2;</span>
                                &sup2;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&sup3;</span>
                                &sup3;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&acute;</span>
                                &acute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&micro;</span>
                                &micro;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&para;</span>
                                &para;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&middot;</span>
                                &middot;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&cedil;</span>
                                &cedil;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&sup1;</span>
                                &sup1;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ordm;</span>
                                &ordm;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&raquo;</span>
                                &raquo;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&frac14;</span>
                                &frac14;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&frac12;</span>
                                &frac12;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&frac34;</span>
                                &frac34;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&iquest;</span>
                                &iquest;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Agrave;</span>
                                &Agrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Aacute;</span>
                                &Aacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Acirc;</span>
                                &Acirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Atilde;</span>
                                &Atilde;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Auml;</span>
                                &Auml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Aring;</span>
                                &Aring;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&AElig;</span>
                                &AElig;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ccedil;</span>
                                &Ccedil;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Egrave;</span>
                                &Egrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Eacute;</span>
                                &Eacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ecirc;</span>
                                &Ecirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Euml;</span>
                                &Euml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Igrave;</span>
                                &Igrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Iacute;</span>
                                &Iacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Icirc;</span>
                                &Icirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Iuml;</span>
                                &Iuml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ETH;</span>
                                &ETH;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ntilde;</span>
                                &Ntilde;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ograve;</span>
                                &Ograve;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Oacute;</span>
                                &Oacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ocirc;</span>
                                &Ocirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Otilde;</span>
                                &Otilde;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ouml;</span>
                                &Ouml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&times;</span>
                                &times;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Oslash;</span>
                                &Oslash;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ugrave;</span>
                                &Ugrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Uacute;</span>
                                &Uacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Ucirc;</span>
                                &Ucirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Uuml;</span>
                                &Uuml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&Yacute;</span>
                                &Yacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&THORN;</span>
                                &THORN;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&szlig;</span>
                                &szlig;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&agrave;</span>
                                &agrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&aacute;</span>
                                &aacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&acirc;</span>
                                &acirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&atilde;</span>
                                &atilde;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&auml;</span>
                                &auml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&aring;</span>
                                &aring;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&aelig;</span>
                                &aelig;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ccedil;</span>
                                &ccedil;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&egrave;</span>
                                &egrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&eacute;</span>
                                &eacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ecirc;</span>
                                &ecirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&euml;</span>
                                &euml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&igrave;</span>
                                &igrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&iacute;</span>
                                &iacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&icirc;</span>
                                &icirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&iuml;</span>
                                &iuml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&eth;</span>
                                &eth;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ntilde;</span>
                                &ntilde;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ograve;</span>
                                &ograve;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&oacute;</span>
                                &oacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ocirc;</span>
                                &ocirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&otilde;</span>
                                &otilde;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ouml;</span>
                                &ouml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&divide;</span>
                                &divide;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&oslash;</span>
                                &oslash;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ugrave;</span>
                                &ugrave;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&uacute;</span>
                                &uacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&ucirc;</span>
                                &ucirc;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&uuml;</span>
                                &uuml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&yacute;</span>
                                &yacute;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&thorn;</span>
                                &thorn;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&yuml;</span>
                                &yuml;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#338;</span>
                                &#338;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#339;</span>
                                &#339;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#376;</span>
                                &#376;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8211;</span>
                                &#8211;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8212;</span>
                                &#8212;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8216;</span>
                                &#8216;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8217;</span>
                                &#8217;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8218;</span>
                                &#8218;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8220;</span>
                                &#8220;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8221;</span>
                                &#8221;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8222;</span>
                                &#8222;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8226;</span>
                                &#8226;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8230;</span>
                                &#8230;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&euro;</span>
                                &euro;
                            </div>
                            <div class="font-glyph is-additional">
                                <span class="font-glyph-label">&#8482;</span>
                                &#8482;
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>
        </section>

    </main>
{% endblock %}